{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'team_list' %}" title="View Team"> Team </a></li>
        <li class="fadeIn"><a href="{% url 'user_detail' user.id %}" title="You are here"> {{ user.credit_name}} </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-- Row One -->
<div class="row m-b-40">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        {% if user.display_photo %}
        <a class="media-left media-middle"> <img class="centered h-200 w-200 m-r-40 img-rounded" src="{{ user.display_photo.url }}" id="user-profile-photo" alt="profile image"></a>
        {% else %}
        <a class="media-left media-middle"> <img class="centered h-200 w-200 m-r-40 img-rounded" src="{% static 'images/nophoto.jpg' %}" id="user-profile-photo" alt="profile image"></a>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <h4 class="m-t-5 m-b-10"><a href="{% url 'user_detail' user.id %}">{{ user.credit_name }}</a></h4>
        {% if user.pronoun or user.name_pronunciation %}
        <p class="f-w-400 f-r-8">
          {% if user.name_pronunciation %}<span class="m-r-20"><i>{{ user.name_pronunciation }}</i></span>{% endif %}
          {% if user.pronoun %}<span class="m-r-20"> | </span><span><i>{{ user.pronoun }}</i></span>{% endif %}
        </p>
        {% endif %}
        <p class="f-s-300"> <span class="color-white m-r-20">{{ user.title }}</span> | <span class="color-white m-l-20 m-r-20">{{user.organization.name}}</span> | <i class="fa fa-map-marker color-white m-l-20"></i> <span class="color-white m-r-20">{{ user.location }}</span></p>
        <p class="f-s-300"> <i class="fa fa-phone color-white"></i> <span class="color-white m-r-20">{{ user.phone }}</span> | <i class="fa fa-envelope-o color-white m-l-20"></i> <span class="color-white m-r-20">{{ user.email }}</span> </p>
        {% comment %}
      <p>
          {% if user.twitter %}<a href="{{ user.twitter }}" class="btn btn-sm btn-circle ml-1x" aria-label="twitter"><i class="fa fa-lg fa-twitter"></i></a>{% endif %}
          {% if user.github %}<a href="{{ user.github }}" class="btn btn-sm btn-circle" aria-label="github"><i class="fa fa-lg fa-github"></i></a>{% endif %}
          {% if user.instagram %}<a href="{{ user.instagram }}" class="btn btn-sm btn-circle ml-1x" aria-label="instagram"><i class="fa fa-lg fa-instagram"></i></a>{% endif %}
          {% if user.facebook %}<a href="{{ user.facebook }}" class="btn btn-sm btn-circle ml-1x" aria-label="facebook"><i class="fa fa-lg fa-facebook"></i></a>{% endif %}
          {% if user.linkedin %}<a href="{{ user.linkedin }}" class="btn btn-sm btn-circle ml-1x" aria-label="linkedin"><i class="fa fa-lg fa-linkedin-square"></i></a>{% endif %}
          {% if user.vine %}<a href="{{ user.vine }}" class="btn btn-sm btn-circle ml-1x" aria-label="vine"><i class="fa fa-lg fa-vine"></i></a>{% endif %}
        </p>
        {% endcomment %}
        <small class="f-s-12">{% if request.user.id == user.id or request.user.id == user.organization.owner.id %}<a href="{% url 'user_edit' pk=user.id %}" class="default">Edit Profile</a>{% endif %}</small>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <h5 class="m-t-40"> Bio</h5>
      <p>{{user.bio}}</p>
    </div>
</div>

<div class="row">
    <!-- Left Column -->
    {% with view.content as content %}
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" id="dashboard-left">
      {% if content %}
        <table id="user-stories-list" class="table table-condensed">
          <thead>
            <tr>
              <th>Story</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for item in content %}
              {% if item.type == "Story" %}
            <tr>
              <td><a href="{% url 'story_detail' item.id %}">{{ item.name }}</a></td>
              <td class="description-td">{{ item.description }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the {{ user.credit_name }}'s page. This is where you will see all of the current active content for {{ user.credit_name }}.</p>
        {% endif %}
        <!-- Tasks -->
        {% if request.user.id == user.id %}
        <div class="row m-t-50">
          <div class="col-xs-12">
            <h4>Tasks</h4>
          </div>
        </div>
        <div class="row m-t-20">
            {% with view.tasks as tasks %}
              <!-- Left column -->
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h5 class="m-b-20 underline-warning underline-120">Identified <span class="subtle f-s-14 f-w-600">( {{ tasks.identified_ct}} )</span></h5>
                <div class="activity-widget-1">
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-group">
                        {% for task in tasks.identified_tasks %}
                            <li class="list-group-item">
                              <span class="color-warning-300 text-xs pull-right">{{ task.due_date|date:'D, N j, g:i a' }}</span>
                              <span class="pull-left">
                                {% for user in task.assigned_to.all|slice:":1" %}
                                    {% if user.display_photo %}
                                      <img class="media-object img-circle h-25 w-25" src="{{ user.display_photo.url }}" alt="user">
                                    {% else %}
                                      <img class="media-object img-circle h-25 w-25" src="{% static 'images/nophoto.jpg' %}" alt="user">
                                    {% endif %}
                                {% endfor %}
                              </span>
                              {% if task.assigned_to.count > 1 %}
                              <span class="pull-left text-xs color-warning-300">+ {{ task.assigned_to.count|add:"-1" }}</span>
                              {% endif %}
                              <span class="m-l-30">
                                {% if task.important == True %}
                                    <span class="label"><i class="fa fa-star" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="label"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                {% endif %}
                                <a href="{% url 'task_detail'  task.id %}" title="Go to task details">{{ task.name }}</a>
                              </span>
                            </li>
                        {% endfor %}
                       </ul>
                     </div>
                   </div>
                 </div>
              </div>
              <!-- Right Column -->
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h5 class="m-b-20 underline-primary underline-120">In Progress <span class="subtle f-s-14 f-w-600">( {{ tasks.inprogress_ct}} )</span></h5>
                <div class="activity-widget-1">
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-group">
                        {% for task in tasks.inprogress_tasks %}
                            <li class="list-group-item">
                              <span class="color-primary-300 text-xs pull-right">{{ task.due_date|date:'D, N j, g:i a' }}</span>
                              <span class="pull-left">
                                {% for user in task.assigned_to.all|slice:":1" %}
                                    {% if user.display_photo %}
                                      <img class="media-object img-circle h-25 w-25" src="{{ user.display_photo.url }}" alt="user">
                                    {% else %}
                                      <img class="media-object img-circle h-25 w-25" src="{% static 'images/nophoto.jpg' %}" alt="user">
                                    {% endif %}
                                {% endfor %}
                              </span>
                              {% if task.assigned_to.count > 1 %}
                              <span class="pull-left text-xs color-primary-300">+ {{ task.assigned_to.count|add:"-1" }}</span>
                              {% endif %}
                              <span class="m-l-30">
                                {% if task.important == True %}
                                    <span class="label"><i class="fa fa-star" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="label"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                {% endif %}
                                <a href="{% url 'task_detail'  task.id %}" title="Go to task details">{{ task.name }}</a>
                              </span>
                            </li>
                        {% endfor %}
                       </ul>
                     </div>
                   </div>
                 </div>
              </div>
            {% endwith %}
        </div>
        {% endif %}
    </div>
    {% endwith %}
    <!-- Right Column -->
    {% with view.notes as notes %}
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="dashboard-right">
      {% if request.user.id == user.id %}
        <h5><a href="#" data-toggle="modal" data-target="#addUserNote" title="Add User Note"><i class="fa fa-plus sameline subtle m-r-10"></i></a>Notes
          <a href="{% url 'user_notes' user.id %}" class="link-text m-b-40 subtle">
          <span class="f-s-12 f-w-400 subtle"> (All notes <i class="fa fa-long-arrow-right subtle" aria-hidden="true">)</i></span>
          </a>
        </h5>
        <div id="displaynotes" class="activity-widget-4">
        {% for note in notes.notes %}
            <div class="row">
                <div class="col-xs-12">
                  <div class="media">
                    <div class="media-body">
                      <h5 class="media-heading">
                        {% if note.important == True %}
                        <i class="fa fa-star f-r-8 color-warning-100" aria-hidden="true"></i>
                        {% else %}
                        <i class="fa fa-star-o f-r-8 subtle" aria-hidden="true"></i>
                        {% endif %}
                        <a data-toggle="modal" data-target="#viewNote{{note.id}}" title="View Event Note"> {{ note.title }} </a>
                      </h5>
                      <small class="color-default">{{ note.creation_date|date:'N j, g:i a' }}</small>
                      <!-- Note Delete -->
                      <form class="note-delete sameline" method="GET"
                            action="{% url 'note_delete' note.id %}">
                            <!-- onsubmit="return confirm('Do you want to delete this task?')"> -->
                            {% csrf_token %}
                        <a href="javascript:$('.note-delete').submit();"><i class="fa fa-trash subtle float-right" style="float:right;" aria-hidden="true"></i></a>
                        <!-- <input type="submit" class="btn btn-sm btn-danger-100" value="Delete"> -->
                      </form>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    </div>

</div>


<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->

<script>
$(document).ready(function() {
    $('#user-stories-list').DataTable({
    });
} );
</script>

<!-- Note Delete Confirmation -->
<script>
  var form;
  $('.note-delete a').on('click', function(e) {
      form = e.currentTarget.closest("form");
      e.preventDefault();
        swal({
            title: 'Are you sure?',
            text: 'You will not be able to recover this note.',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            closeOnConfirm: true
        }, function(result) {
            if (result) {
              form.method = "POST";
              form.submit();
            } else {
              // do nothing on cancel
          }
        });
      });
</script>


{% endblock %}

{% block modals %}
    {% with view.notes as notes %}
    <!-- User Note Modal -->
      <div class="modal fade" id="addUserNote" tabindex="-1" role="dialog" aria-labelledby="addUserNoteLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addUserNoteLabel">Create a note</h4>
            </div>
            <div class="modal-body">
              {% if notes.form %}
              <form action="{% url 'create_usernote' %}" method="POST" class="post-form">
              {% csrf_token %}
              {% bootstrap_form notes.form %}
              <!-- Hidden Inputs -->
              <input type="hidden" name="association" value="user" />
              <input type="hidden" name="user" value="{{ request.user.id }}" />
              <button type="submit" class="btn btn-primary">Create Note</button>
              </form>
              {% endif %}
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <!-- Display User Note Modal -->
      {% for note in notes.notes %}
      <div class="modal fade" id="viewNote{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="displayNote{{note.id}}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addNote{{note.id}}Label">{{ note.title }}</h4>
            </div>
            <div class="modal-body dark">
              {{ note.text|linebreaksbr }}
            </div>
            <div class="modal-footer">
              <p class="tiny-text">{{ note.owner }} | {{ note.creation_date|date:'D M j g:i a' }}<p>
              <p class="tiny-text">Keywords: {% for keyword in note.keywords %}{{ keyword }}, {% endfor %}<p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endwith %}
    <!-- END Display User Note Modal -->
{% endblock %}
