{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'project_list' %}" title="View Project"> Projects </a></li>
        <li class="fadeIn"><a href="{% url 'project_detail' pk=project.id %}">Project: {{project.name}} </a></li>
        <li class="fadeIn"> Edit Team </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row">
    <form method="POST" class="post-form forms-basic">{% csrf_token %}
      <!-- Left Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <!-- Team -->
          <p class="f-s-18 f-w-400 thin m-b-20">Team</p>
          {% with view.project_details as details %}
            {% for user in details.team.all %}
                {% if user.display_photo %}
                <a href="#" title="{{ user.credit_name }}"><img class="img-circle m-b-5" width="60" src="{{ user.display_photo.url }}" alt="user"></a>
                {% else %}
                <p class="tiny-text">{{ user.first_name }}</p>
                {% endif %}
            {% endfor %}
          {% endwith %}

          <fieldset class="form-group m-b-20 m-t-50">
            {% comment %}
            <div class="col-xs-2">
              <label class="capitalize">{{ form.team.label_tag }}</label>
            </div>
            {% endcomment %}
            <div class="col-xs-12">
              {{ form.team }}
              {% if form.team.errors %}
              <small class="text-muted">{{ form.team.errors }}</small>
              {% endif %}
            </div>
          </fieldset>

          <div class="col-xs-12">
            <button type="submit" class="save btn btn-default">Save</button>
            <button class="btn btn-danger-200">Cancel</button>
          </div>

        </div>
      </div>
      <!-- Right Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          {% with view.project_details as details %}
          <p class="f-s-18 f-w-400 thin m-b-20">{{ details.name }}
          <p class="f-s-14 f-w-300 thin">{{ details.description}}</p>


          {% if project.collaborate == True %}
          <p class="f-s-18 f-w-400 thin m-b-20 m-t-20">Partners</p>
          {% endif %}
              {% for collaborator in project.collaborate_with.all %}
              <p class="f-s-14 f-w-300 thin">{{ collaborator.name }}</p>
              {% endfor %}
          {% endwith %}


        </div>

      </div>

      </form>
    </div>
  </div>
</div>

<script>


$(".chosen-select").chosen()

</script>
{% endblock %}
