{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}

<p class="text-center m-50 subtle"><i class="fa fa-times fa-5x" aria-hidden="true"></i></p>

<p class="f-r-20 f-w-300 m-50 text-center">Well, that's unfortunate...</p>

<p class="f-r-15 f-w-300 m-50 text-center">Something has gone wrong.</p>

<p class="f-r-10 f-w-300 text-center">We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
{% endblock content %}
