<!doctype html>
<html class="no-js">
<head>
  <title>Project Facet</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />

  <!-- favicon and touch icons -->

  <!-- font -->


  <!-- Bootstrap -->
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/bootstrap-custom.css">
  <!-- endBootstrap -->

  <!-- Dependencies -->
  <link rel="stylesheet" href="styles/dependencies.css">
  <!-- endDependencies -->

  <!-- Wrapkit -->
  <link rel="stylesheet" href="styles/wrapkit.css">
  <!-- endWrapkit -->

  <!-- styles & other dependencies -->

</head>

<body>

  <main id="wrapper" class="wrapkit-wrapper">
    <!-- App here -->


  </main><!--/#wrapper-->

  <!-- VENDORS : jQuery & Bootstrap -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <!-- END VENDORS -->

  <!-- DEPENDENCIES : Required plugins -->
  <script src="bower_components/velocity/velocity.js"></script>
  <script src="bower_components/velocity/velocity.ui.js"></script>
  <script src="bower_components/classie/classie.js"></script>
  <script src="bower_components/eventEmitter/EventEmitter.js"></script>
  <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
  <script src="bower_components/interact/interact.js"></script>
  <script src="bower_components/slimScroll/jquery.slimscroll.min.js"></script>
  <script src="bower_components/screenfull/dist/screenfull.js"></script>
  <script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
  <script src="bower_components/transitionize/dist/transitionize.js"></script>
  <script src="bower_components/fastclick/lib/fastclick.js"></script>
  <script src="bower_components/switchery/dist/switchery.js"></script>
  <script src="bower_components/autogrow-textarea/jquery.autogrowtextarea.js"></script>
  <!-- END DEPENDENCIES -->

  <!-- WRAPKIT -->
  <script src="scripts/wrapkit/wrapkit-utils.js"></script>
  <script src="scripts/wrapkit/wrapkit-layout.js"></script>
  <script src="scripts/wrapkit/wrapkit-header.js"></script>
  <script src="scripts/wrapkit/wrapkit-sidebar.js"></script>
  <script src="scripts/wrapkit/wrapkit-content.js"></script>
  <script src="scripts/wrapkit/wrapkit-footer.js"></script>
  <script src="scripts/wrapkit/wrapkit-panel.js"></script>
  <!-- END WRAPKIT -->

  <!-- WRAPKIT SETUPS -->
  <!-- Custom settings defined in these files -->
  <script src="scripts/wrapkit/header.setup.js"></script>
  <script src="scripts/wrapkit/sidebar.setup.js"></script>
  <script src="scripts/wrapkit/content.setup.js"></script>
  <script src="scripts/wrapkit/layout.setup.js"></script>
  <script src="scripts/wrapkit/footer.setup.js"></script>
  <script src="scripts/wrapkit/panel.setup.js"></script>
  <!-- end WRAPKIT SETUPS -->

  <!-- PLUGIN SETUPS: vendors & dependencies setups -->
  <!-- Custom settings defined in these files -->
  <script src="scripts/plugins/bootstrap.setup.js"></script>
  <script src="scripts/plugins/dependencies.setup.js"></script>
  <!-- END PLUGIN SETUPS -->

  <!-- scripts or other dependencies here -->

</body>
</html>
