{% load static from staticfiles %}
<!doctype html>
<html class="no-js">
<head>
  <title>Project Facet</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />

  <!-- favicon and touch icons -->

  <!-- font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
  <!-- endBootstrap -->

  <!-- Bootstrap Calendar -->
  <link rel="stylesheet" href="{% static 'bootstrap-calendar/css/calendar.css' %}">

  <!-- Dependencies -->
  <link rel="stylesheet" href="{% static 'css/dependencies.css' %}">
  <!-- endDependencies -->

  <!-- Wrapkit -->
  <link rel="stylesheet" href="{% static 'css/wrapkit.css' %}">
  <!-- endWrapkit -->

  <!-- Font Awesome -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"> -->

  <!-- Bootstrap Calendar CSS -->
  <!-- <link rel="stylesheet" href="{% static 'bootstrap-calendar/css/calendar.css' %}"> -->

  <!-- styles & other dependencies -->
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.css' %}">
  <link rel="stylesheet" href="{% static 'css/demo.css' %}">
  <link rel="stylesheet" href="{% static 'css/chosen.css' %}">
  <link rel="stylesheet" href="{% static 'css/facet.css' %}">

  <script src="{% static 'scripts/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- MULTISELECT FOR ARRAYS  -->
  <script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>
  <!-- POPUP JS -->
  <script src="{% static 'scripts/jquery.magnific-popup.min.js' %}"></script>
  <!-- END MULTISELECT FOR ARRAYS  -->
  <script src="{% static 'scripts/jquery.dataTables.min.js' %}"></script>
  <!-- END DATETIME PICKER JS  -->
  <script src="{% static 'scripts/moment.js' %}"></script>
  <script src="{% static 'scripts/bootstrap-datetimepicker.js' %}"></script>
  <!-- END DATETIME PICKER JS  -->

  <!-- Bootstrap Calendar JS -->
  <script src="{% static 'bootstrap-calendar/js/calendar.js' %}"></script>
  <script src="{% static 'scripts/underscore/underscore-min.js' %}"></script>
  <script src="{% static 'scripts/tiny_mce/tinymce.min.js' %}"></script>

  <!-- jQuery Dot Dot -->
  <script src="{% static 'scripts/jquery.dotdotdot.js' %}"></script>

  <!-- <script src="{% static 'bootstrap-calendar/js/app.js' %}"></script> -->

  {% block head %}

  {% endblock %}


</head>

<body>
  {% load bootstrap3 %}

  <main id="wrapper" class="wrapkit-wrapper">

  <!-- ================================================= -->
  <!-- ================================================= -->
                  <!-- NAVIGATION -->
  <!-- ================================================= -->
  <!-- ================================================= -->

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <!-- ================================================= -->
                                <!-- LOGO -->
          <!-- ================================================= -->
          <div class="pull-left">
            <a class="navbar-brand" role="logo">
              <img src="{% static 'images/logo/brand-text-light.png' %}" alt="Facet Logo" class="logo">
            </a>
          </div>
        </div>
          <!-- ================================================= -->
                              <!-- MAIN MENU -->
          <!-- ================================================= -->

        <div id="navbar" class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li id="dashboard-link"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Content">Content<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'schedule' %}" title="View Schedule">Schedule</a></li>
                  <li><a href="{% url 'story_list' %}" title="View Story List">Stories</a></li>
                  <li><a href="{% url 'series_list' %}" title="View Series List">Series</a></li>
                  <li><a href="{% url 'collaborations' %}" title="View Content in Collaboration">Collaborations</a></li>
                  <li><a href="{% url 'asset_library' %}" title="View Asset Library">Assets</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Networks">Networks<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'network_list' %}" title="View Networks">Networks</a></li>
                  <li><a href="{% url 'network_stories' %}" title="View Network Content">Network Stories</a></li>
                </ul>
            </li>
            <li><a href="{% url 'team_list' %}" title="View Teams and Collaborators">Teams</a></li>
            <li><a href="{% url 'discussion' %}" title="View Inbox">Inbox</a></li>


            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Create Series and Stories">Create New Content<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{% url 'series_new' %}" title="Create New Series">Series</a></li>
                <li><a href="{% url 'story_new' %}" title="Create New Story">Story</a></li>
              </ul>
            </li>
            <li><a href="{% url 'search' %}" title="Search Content">Search</a></li>
          </ul>
          {% endif %}

          <div class="pull-right" role="navigation">

           {% comment %}
            <!-- <div class="user-ident dropdown-ext">
              {% if request.user.is_authenticated %}
              <div class="panel clear-panel fade in panel-default" data-init-panel="true">
                <div class="clear-panel-body">
                  <div class="media">
                    <div class="media-left">
                      <div class="">
                      </div>
                    </div>
                    <div class="media-body">
                      <a href="{% url 'user_detail' pk=request.user.id %}"><h6 class="media-heading bright">{{ user.credit_name}}</h6></a>
                      {% if user.organization %}<a href="{% url 'org_detail' pk=request.user.organization_id %}"><p class="help-block tiny-text close-text">{{ user.organization.name }}</p></a>{% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div> -->

          {% endcomment %}
          <!-- ================================================= -->
                                <!-- MESSAGING -->
          <!-- ================================================= -->
          {% if request.user.is_authenticated %}
            <div class="dropdown-ext">
              <a href="{% url 'user_detail' pk=request.user.id %}"><h6 class="media-heading bright">{{ user.credit_name}}</h6></a>
              {% if request.user.organization %}
                <a href="{% url 'org_detail' pk=request.user.organization_id %}"><p class="help-block tiny-text close-text">{{ user.organization.name }}</p></a>
              {% endif %}
            </div><!-- /.dropdown -->
            <div class="dropdown-ext">
              <a aria-label="notifications" class="btn btn-icon navbar-btn dropdown-toggle" data-toggle="modal" data-target="#addUserNote" href="#" title="Add a note">
                <i class="fa fa-sticky-note"></i>
              </a>
            </div><!-- /.dropdown -->
            <div class="dropdown-ext">
              <a aria-label="notifications" class="btn btn-icon navbar-btn dropdown-toggle" data-toggle="modal" data-target="#sendPrivateMessage" href="#" title="Send a private message">
                <i class="fa fa-comments-o"></i>
              </a>
            </div><!-- /.dropdown -->
          {% endif %}

          <!-- ================================================= -->
                            <!-- PROFILE LINKS -->
          <!-- ================================================= -->
          <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                <div class="dropdown">
                  <a aria-label="More" class="btn btn-icon navbar-btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right thin" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'user_edit' pk=request.user.id %}"><span class="pull-right"><i class="fa fa-user text-muted"></i></span>Profile</a></li>
                    <li class="divider"></li>
                    {% if request.user.organization %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'org_detail' pk=request.user.organization.id %}"><span class="pull-right"><i class="fa fa-home text-muted"></i></span>Organization</a></li>
                    {% endif %}
                    {% if request.user.organization.owner = request.user %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'org_edit' pk=request.user.organization.id %}"><span class="pull-right"><i class="fa fa-pencil text-muted"></i></span>Edit Organization</a></li>
                    {% endif %}
                    <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'org_new' %}"><span class="pull-right"><i class="fa fa-users text-muted"></i></span>New Organization</a></li> -->
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'network_new' %}"><span class="pull-right"><i class="fa fa-users text-muted"></i></span>New Network</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/logout"><span class="pull-right"><i class="fa fa-sign-out text-muted"></i></span> Sign out</a></li>
                  </ul>
                </div><!-- /.dropdown -->
              {% else %}
                <li><a href="/accounts/signup/" class="pull-right thin">Signup</a></li>
                <li><a href="/accounts/login/" class="pull-right thin">Login</a></li>
              {% endif %}
          </ul>
        </div>
      </div>

      </div>
    </nav>
    <!-- END NAVIGATION -->

    <!-- BODY OF APP -->
    <div class="container-fluid">
    {% block content %}
      <!-- ================================================= -->
      <!-- ================================================= -->
                      <!-- MAIN CONTENT SECTION -->
      <!-- ================================================= -->
      <!-- ================================================= -->
    {% endblock %}
  </div>
    <!-- END OF APP BODY -->

    <!-- ================================================= -->
    <!-- ================================================= -->
                    <!-- FOOTER SECTION -->
    <!-- ================================================= -->
    <!-- ================================================= -->

    <!-- Footer -->

    <!-- ================================================= -->
    <!-- ================================================= -->
                    <!-- MODAL WINDOWS SECTION -->
    <!-- ================================================= -->
    <!-- ================================================= -->

    <!-- Private Message Modal -->
    <div class="modal fade" id="sendPrivateMessage" tabindex="-1" role="dialog" aria-labelledby="sendPrivateMessageLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="sendPrivateMessageLabel">Send a private message</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'private_message_new' %}" method="POST" class="post-form">
            {% csrf_token %}
            {% bootstrap_form privatemessageform %}
            <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- User Note Modal -->
    <div class="modal fade" id="addUserNote" tabindex="-1" role="dialog" aria-labelledby="addUserNoteLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addUserNoteLabel">Create a note</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'create_user_note' %}" method="POST" class="post-form">
            {% csrf_token %}
            {% bootstrap_form usernoteform %}
            <button type="submit" class="btn btn-primary">Create Note</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>


    <!-- End of Modal Windows -->

  </main><!--/#wrapper-->

    <!-- ================================================= -->
    <!-- ================================================= -->
                    <!-- JS LINKS -->
    <!-- ================================================= -->
    <!-- ================================================= -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

    <!-- VENDORS : jQuery & Bootstrap -->
    <!-- <script src="static/scripts/vendor.js"></script> -->
    <script type='text/javascript' src="{% static 'scripts/jquery.particleground.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'scripts/particles.js' %}"></script>
    <!-- END VENDORS -->

    <!-- MAIN JS -->
    <script src="{% static 'scripts/facet.js' %}"></script>
    <!-- END MAIN JS -->

    <!-- DEPENDENCIES : Required plugins -->
    <script src="{% static 'scripts/dependencies.js' %}"></script>
    <!-- END DEPENDENCIES -->

    <!-- WRAPKIT -->
    <script src="{% static 'scripts/wrapkit.js' %}"></script>
    <!-- END WRAPKIT -->

    <!-- WRAPKIT SETUPS -->
    <script src="{% static 'scripts/wrapkit-setup.js' %}"></script>
    <!-- end WRAPKIT SETUPS -->

    <!-- PLUGIN SETUPS: vendors & dependencies setups -->
    <script src="{% static 'scripts/plugin-setups.js' %}"></script>
    <!-- END PLUGIN SETUPS -->

    <!-- COMPONENTS -->
    <!-- <script src="{% static 'scripts/epiceditor.js' %}"></script> -->
    <!-- <script src="{% static 'scripts/summernote.js' %}"></script> -->
    <!-- END COMPONENTS -->

    <!-- MULTISELECT FOR ARRAYS  -->
    <!-- <script src="{% static 'scripts/chosen.jquery.min.js' %}"></script> -->
    <!-- END MULTISELECT FOR ARRAYS  -->

    <!-- END DATETIME PICKER JS  -->
    <!-- <script src="{% static 'scripts/moment.js' %}"></script> -->
    <!-- <script src="{% static 'scripts/bootstrap-datetimepicker.js' %}"></script> -->
    <!-- END DATETIME PICKER JS  -->

    <!-- DUMMY: Use for demo -->
    <!-- <script src="{% static 'scripts/demo/frm-editor-demo.js' %}"></script> -->



</body>
</html>
