<!doctype html>
<html class="no-js">
<head>
  <title>Project Facet</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />

  <!-- favicon and touch icons -->

  <!-- font -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300" rel="stylesheet" type="text/css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <!-- endBootstrap -->

  <!-- Dependencies -->
  <link rel="stylesheet" href="/static/css/dependencies.css">
  <!-- endDependencies -->

  <!-- Wrapkit -->
  <link rel="stylesheet" href="/static/css/wrapkit.css">
  <!-- endWrapkit -->

  <!-- styles & other dependencies -->
  <link rel="stylesheet" href="/static/css/components.css">
  <link rel="stylesheet" href="/static/css/demo.css">
  <link rel="stylesheet" href="/static/css/facet.css">

</head>

<body>

  <main id="wrapper" class="wrapkit-wrapper">

  <!-- ================================================= -->
  <!-- ================================================= -->
                  <!-- NAVIGATION -->
  <!-- ================================================= -->
  <!-- ================================================= -->

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <!-- ================================================= -->
                                <!-- LOGO -->
          <!-- ================================================= -->
          <div class="pull-left">
            <a class="navbar-brand" href="/" role="logo">
              <img src="/static/images/logo/brand-text-light.png" alt="Facet Logo" class="logo">
            </a>
          </div>
        </div>
          <!-- ================================================= -->
                              <!-- MAIN MENU -->
          <!-- ================================================= -->
        <div id="navbar" class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Temporary Links for Convenience">Dashboard<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'story_list' %}">Stories</a></li>
                  <li><a href="{% url 'series_list' %}">Series</a></li>
                  <li><a href="#">Collaborations</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Temporary Links for Convenience">Networks<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'network_member' %}">Networks</a></li>
                  <li><a href="{% url 'network_stories' %}">Network Stories</a></li>
                </ul>
            </li>
            <li><a href="{% url 'team_list' %}">Teams</a></li>
            <li><a href="#">Discussions</a></li>


            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Temporary Links for Convenience">Add New</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="{% url 'series_new' %}">Series</a></li>
              <li><a href="{% url 'story_new' %}">Story</a></li>
            </ul>
          </li>
          </ul>
          {% endif %}
          <!-- ================================================= -->
                            <!-- PROFILE LINKS -->
          <!-- ================================================= -->
          <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                <div class="dropdown">
                  <a aria-label="More" class="btn btn-icon navbar-btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'user_edit' pk=request.user.id %}"><span class="pull-right"><i class="fa fa-user text-muted"></i></span>Profile</a></li>
                    <li class="divider"></li>
                    {% if request.user.organization %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'org_detail' pk=request.user.organization %}"><span class="pull-right"><i class="fa fa-home text-muted"></i></span>Organization</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'org_edit' pk=request.user.organization %}"><span class="pull-right"><i class="fa fa-pencil text-muted"></i></span>Edit Organization</a></li>
                    {% endif %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'network_new' %}"><span class="pull-right"><i class="fa fa-users text-muted"></i></span>Create Network</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/logout"><span class="pull-right"><i class="fa fa-sign-out text-muted"></i></span> Sign out</a></li>
                  </ul>
                </div><!-- /.dropdown -->
              {% else %}
                <li><a href="/accounts/signup/" class="pull-right">Signup</a></li>
                <li><a href="/accounts/login/" class="pull-right">Login</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVIGATION -->

    <!-- BODY OF APP -->
    <div class="container-fluid">
    {% block content %}
      <!-- ================================================= -->
      <!-- ================================================= -->
                      <!-- MAIN CONTENT SECTION -->
      <!-- ================================================= -->
      <!-- ================================================= -->
    {% endblock %}
  </div>
    <!-- END OF APP BODY -->

    <!-- ================================================= -->
    <!-- ================================================= -->
                    <!-- FOOTER SECTION -->
    <!-- ================================================= -->
    <!-- ================================================= -->
    <!--<div class="mastfoot">
      <div class="inner">
        <p>Project Facet. v 0.1</p>
      </div>
    </div> -->
    <!-- END FOOTER -->

  </main><!--/#wrapper-->



  <!-- ================================================= -->
  <!-- ================================================= -->
                  <!-- JS LINKS -->
  <!-- ================================================= -->
  <!-- ================================================= -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- VENDORS : jQuery & Bootstrap -->
  <!-- // <script src="static/scripts/vendor.js"></script> -->
  <!-- END VENDORS -->
  <!-- DEPENDENCIES : Required plugins -->
  <script src="/static/scripts/dependencies.js"></script>
  <!-- END DEPENDENCIES -->
  <!-- WRAPKIT -->
  <script src="/static/scripts/wrapkit.js"></script>
  <!-- END WRAPKIT -->
  <!-- WRAPKIT SETUPS -->
  <script src="/static/scripts/wrapkit-setup.js"></script>
  <!-- end WRAPKIT SETUPS -->
  <!-- PLUGIN SETUPS: vendors & dependencies setups -->
  <script src="/static/scripts/plugin-setups.js"></script>
  <!-- END PLUGIN SETUPS -->
  <!-- COMPONENTS -->
  <script src="/static/scripts/epiceditor.js"></script>
  <script src="/static/scripts/summernote.js"></script>
  <!-- END COMPONENTS -->
  <!-- DUMMY: Use for demo -->
  <script src="/static/scripts/demo/frm-editor-demo.js"></script>

</body>
</html>
