{% extends 'editorial/inbox/base_inbox.html' %}

{% block content_inbox %}


<div class="inbox-header">
    <h3 class="capitalize"> {{comment_type}} Comments </h3>
    <div class="m-b-20">
        <div class="btn-group pull-right">

        </div>
        {% comment %}<a href="{% url 'inbox' %}"><button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> </button></a>{% endcomment %}
        {% comment %}<button class="btn btn-default btn-sm"><i class="fa fa-eye"></i> </button>{% endcomment %}
        {% comment %}<button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i> </button>{% endcomment %}
        {% comment %}<button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> </button>{% endcomment %}
    </div>
</div>
<div class="inbox-content">
    <table class="table table-hover table-striped" id="inbox-comments">
        <tbody>
            {% for comment in comments %}
            <tr id="{{comment.id}}-table-row">
                <td>
                  {% if comment.user.display_photo %}
                    <img class="media-object img-circle h-40 w-40" src="{{ comment.user.display_photo.url }}" alt="user">
                  {% else %}
                    <p class="f-w-300 f-s-12">{{ comment.user.first_name }}</p>
                  {% endif %}
                </td>
                <td>
                  <p class="f-w-300 f-s-16">{{ comment.text }}</p>
                </td>
                <td class="text-right f-s-12 f-w-300">

                    {% comment %}
                       {% for thing in comment.get-thing-to-loop-over}
                       <a href="{{ thing.get_absolute_url }}"> {{ thing.type }} - {{ thing.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                       {% endfor}

                       in comment model:

                          def get-thing-to-loop-over(self):
                             if comment is discussion: return self.org_discussion.all()
                             else if comment is: ...
                    {% endcomment %}

                  {% if comment.discussion.organization_discussion.all %}
                    {% for organization in comment.discussion.organization_discussion.all %}
                      <a href="{{ organization.get_absolute_url }}"> {{ organization.type }} - {{ organization.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                    {% endfor %}
                  {% elif comment.discussion.network_discussion.all %}
                    {% for network in comment.discussion.network_discussion.all %}
                      <a href="{% url 'network_detail' pk=network.id %}"> {{ network.type }} - {{ network.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                    {% endfor %}
                  {% elif comment.discussion.project_set.all %}
                    {% for project in comment.discussion.project_set.all %}
                      <a href="{% url 'project_detail' pk=project.id %}"> {{ project.type }} - {{ project.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                    {% endfor %}
                  {% elif comment.discussion.story_set.all %}
                    {% for story in comment.discussion.story_set.all %}
                      <a href="{% url 'story_detail' pk=story.id %}"> {{ story.type }} - {{ story.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                    {% endfor %}
                  {% elif comment.discussion.facet_set.all %}
                    {% for facet in comment.discussion.facet_set.all %}
                      <a href="{% url 'facet_edit' pk=facet.id story=facet.story.id %}"> {{ facet.type }} - {{ facet.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                    {% endfor %}
                  {% endif %}
                </td>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
