{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Calls </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}
<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

<div class="row">
  <div class="col-xs-12">
    <h4>Calls</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {% if calls %}
    <table id="call-list" class="table table-condensed table-striped hidden-sm-down">
      <thead>
        <tr class="f-s-12">
          <th class="dark">Call</th>
          <th class="dark">Editor</th>
          <th class="dark">Organization</th>
          <th class="dark">Urgency</th>
        </tr>
      </thead>
      <tbody>
        {% for call in calls %}
        <tr class="f-s-14">
          <td><a href="{% url 'call_detail' call.id %}">{{ call.name }}</a></th>
          <td>{{ call.owner.user.credit_name }}</td>
          <td>{{ call.organization }}</td>
          <td>{% if call.urgent == True %}<span class="m-r-10 label label-xs label-warning-outline">Urgent</span>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the calls page. This is where you will see all of the active calls.</p>
    {% endif %}
  </div>
</div>

<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->

<script>
  $(".chosen-select").chosen()
</script>

<script>
$(document).ready(function() {
    $('#call-list').DataTable();
} );
</script>

{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}





{% endblock modals %}
