{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Pitches </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}
<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

<div class="row">
  <div class="col-xs-12">
    <h4>Pitches</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {% if pitches %}
    <table id="pitch-list" class="table table-condensed table-striped hidden-sm-down">
      <thead>
        <tr class="f-s-12">
          <th class="dark">Pitch</th>
          <th class="dark">Contractor</th>
          <th class="dark">Recipient</th>
          <th class="dark">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for pitch in pitches %}
        <tr class="f-s-14">
          <td><a href="{% url 'pitch_detail' pitch.id %}">{{ pitch.name }}</a></th>
          <td>{{ pitch.contractor.user.credit_name }}</td>
          <td>{{ pitch.recipient.user.credit_name }}</td>
          <td>{{ pitch.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the Pitches page. This is where you will see all of the current pitches.</p>
    {% endif %}


  </div>
</div>

<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->

<script>
  $(".chosen-select").chosen()
</script>

<script>
$(document).ready(function() {
    $('#pitch-list').DataTable();
} );
</script>

{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}





{% endblock modals %}
