option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    PYTHONPATH: "/opt/python/current/app/project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "project/project/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
packages:
  yum:
    git: []
    libjpeg-turbo-devel: []
    postgresql93-devel: []
