container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python project/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python project/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python project/manage.py collectstatic --noinput"
  04_syncdb:
    command: "source /opt/python/run/venv/bin/activate && python project/manage.py syncdb"
  04_installwatson:
    command: "source /opt/python/run/venv/bin/activate && python project/manage.py installwatson"
  05_buildwatson:
    command: "source /opt/python/run/venv/bin/activate && python project/manage.py buildwatson"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings.production"
    PYTHONPATH: "/opt/python/current/app/project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "project/project/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"
  "aws:elasticbeanstalk:environment":
    EnvironmentType: "SingleInstance"

packages:
  yum:
    git: []
    libjpeg-turbo-devel: []
    postgresql93-devel: []
