{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-- ====================================== -->
<!--      BREADCRUMB NAVIGATION             -->
<!-- ====================================== -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ====================================== -->
<!--            Main Section                -->
<!-- ====================================== -->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    {% if stories %}
    <table id="stories-list" class="table table-condensed table-striped hidden-sm-down">
      <thead>
        <tr class="f-s-12">
          <th class="dark">Story</th>
          <th class="dark">Team</th>
          <th class="dark">Facets</th>
          <th class="dark">Series | Project</th>
          <th class="dark text-center">Sharing</th>
          <th class="dark text-center">Collaboration</th>
        </tr>
      </thead>
      <tbody>
        {% for story in stories %}
        <tr class="f-s-14">
          <td><a href="{% url 'story_detail' story.id %}">{{ story.name }}</a></th>
          <td>{% for user in story.team.all|slice:":3" %}{{user.credit_name }}, {% endfor %}</td>
          <td>
            {% if story.facet_set.all %}
              <span>
                <button class="btn btn-sm clear clear-button collapsed" type="button" data-toggle="collapse" data-target="#story_{{ story.id }}_facet_collapse" aria-expanded="false" aria-controls="collapse-example-1"> {{ story.facet_set.count }} <i class="fa fa-angle-down" aria-hidden="true"></i> </button>
              </span>
              <div class="collapse" id="story_{{ story.id }}_facet_collapse" aria-expanded="true" style="">
                <div class="card card-block" style="padding-top:1rem;padding-left:0rem;padding-bottom:.5rem;margin-bottom:0px;background:inherit !important;border:none; width: 500%;">
                  {% for facet in story.facet_set.all %}
                    <p class="f-r-8 f-w-300"> <a href="{% url 'facet_edit' pk=facet.id story=story.id %}"><i class="fa fa-angle-right m-r-10 subtle" aria-hidden="true"></i>{{ facet.headline }}</a>
                      <button type="button" class="clear clear-button m-l-10 subtle" data-toggle="modal" data-target="#previewModal" data-modaltitle="{{ facet.headline }}" data-modalcontent="{{ facet.content|linebreaksbr }}">
                        <span class="m-r-10 label label-default-outline label-xs">Preview</span>
                      </button>
                    </p>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <span class="f-r-8 f-w-300"><i>No facets yet</i></span>
            {% endif %}



          </td>
          <td>
            {% if story.series %}
              Series: {{ story.series.name }}
            {% elif story.project %}
              Project: {{ story.project.name }}
            {% endif %}
          </td>
          <td class="text-center">{% if story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
          <td class="text-center">{% if story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the Stories page. This is where you will see all of the current active content from your organization. Click here to add a <a href="{% url 'story_new' %}" title="Create New Story" class="default">story</a>.</p>
    {% endif %}


  </div>
</div>

<script>
$(document).ready(function() {
    $('#stories-list').DataTable();
} );
</script>

{% endblock %}

<!-- ================================================= -->
                  <!-- MODALS -->
<!-- ================================================= -->

{% block modals %}

{% include "editorial/story/_storypreview.html" %}

{% endblock modals %}
