{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block head %}
{{ form.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'facet_template_list' org=request.user.organization_id %}" title="See all Facet Templates"> Facet Templates </a></li>
        <li class="fadeIn"> {{ facettemplate.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}


<!-- ================================================= -->
<!-- CONTENT -->
<!-- ================================================= -->

<h1>{{ facettemplate }} </h1>

<form method="POST" class="post-form">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>

{% endblock content %}
