{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block head %}
{{ form.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
  <ol class="breadcrumb icon-angle-right icon-th">
    <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a>
    </li>
    <li class="fadeIn"> Content</li>
    <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
    <li class="fadeIn"><a href="{% url 'story_detail' facet.story.id %}" title="Go to Story">{{ facet.story.name }}</li>
    <li class="fadeIn"><a href="{% url 'facet_edit' pk=facet.id story=facet.story.id %}" title="You are Here"> {{ facet.name }}</li>
  </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}


<!-- ================================================= -->
<!-- CONTENT -->
<!-- ================================================= -->

<h1>{{ facet }} </h1>

<form method="POST" class="post-form">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>

{% endblock content %}
