<div class="modal fade" id="storyDetailGuide" tabindex="-1" role="dialog" aria-labelledby="downloadStory">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="bs-nav-tabs nav-tabs-default">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#pageSections">Page Sections</a></li>
            <li class="nav-item"> <a ng-href="" class="nav-link" data-toggle="tab" data-target="#symbols">Symbols to know</a></li>
          </ul>

        </div>


        <div class="modal-body">

          <div class="tab-content">
            <!-- Story Settings Panel -->
            <div role="tabpanel" class="tab-pane active" id="pageSections">
              <div class="row m-b-10">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <h5>Details</h5>
                  <p class="f-r-8">Details show the story information and description as well as whether the story is sensitive <i>(retricted to only users assigned to it)</i>, archived <i>(not included in the list of active stories)</i>, or collaborative. If a story is collaborative, the partner organizations are listed. Details also display all team members directly assigned to managing the story. <i>(This doesn't include every user for every piece of content contained within the story).</i></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <h5>Tasks</h5>
                  <p class="f-r-8">Tasks are to-dos that can be connected to the story itself. Tasks can also have their own notes and discussion and simple assets.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <h5>Discussion</h5>
                  <p class="f-r-8">Every piece of content has a discussion attached with it.</p>
                </div>
              </div>
              <div class="row m-b-10">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <h5>Calendar<h5>
                  <p class="f-r-8">Quick glance at all significant dates associated with a story</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <h5>Events</h5>
                  <p class="f-r-8">Events can be planned and managed in conjunction with stories, series and stories. Events can be things that are being reported on, like a press conference, something an organization is hosting, like a Q and A panel, or an administrative event, like a team meeting or conference call.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <h5>Notes</h5>
                  <p class="f-r-8">Track information that you need associated with this story like a list of upcoming events or possible story ideas.</p>
                </div>
              </div>
            </div>
            <!-- Symbols Panel -->
            <div role="tabpanel" class="tab-pane" id="symbols">
              <div class="row m-b-20">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <p><i class="fa fa-plus fa-pull-left fa-lg subtle" aria-hidden="true"></i><span class="f-r-8">Clicking the plus sign will provide an interfacet to create a new entry in that section.</span></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <p><span class="f-s-14 f-w-400 subtle"> (All  <i class="fa fa-long-arrow-right fa-lg subtle" aria-hidden="true">)</i></span><span class="f-r-8">The story page can only show a few of the most recent entries in a given section. Clicking this link will take you a page with all of the entries for a given section that are associated with this story.</span></p>
                </div>
              </div>
              <div class="row m-b-20">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <p><i class="fa fa-pencil-square-o fa-pull-left fa-lg subtle" aria-hidden="true"></i><span class="f-r-8">Clicking the pencil icon will take you to a page where you can edit the details for this story, including its description, status, team and partners.</span></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <p><i class="fa fa-trash fa-pull-left fa-lg subtle" aria-hidden="true"></i><span class="f-r-8">Clicking the trash icon will delete a story. You will get a confirmation screen, to ensure you want to delete the story. Deleting a story only deletes the story itself, not the stories or assets associated with it. Deleted stories cannot be recovered.</span></p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p><i class="fa fa-cloud-download fa-pull-left fa-lg subtle" aria-hidden="true"></i><span class="f-r-8">Clicking the download icon will open a window where you can opt to download an entire story and all of its facets and assets. You can also chose individual facets and all of their associated assets or individual select a facet or specific asset. All selected items are zipped into txt files. Facet content saves as the html to be put into a CMS.</span></p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
        <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
                </div>
      </div>
    </div>
</div>
