{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="hidden-md-down">{{ organization.name }}</li>
        <li class="hidden-md-down">Public Profile</li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-------------------------------------------->
<!--              Content                   -->
<!-------------------------------------------->

<div class="row">
  <div class="col-xs-12">
    <h4>{{ organization.name }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

  </div>
</div>

<!-------------------------------------------->
<!--            JS Scripts                  -->
<!-------------------------------------------->

<script>
  $(".chosen-select").chosen()
</script>

{% endblock %}

<!-------------------------------------------->
<!--            Modals                      -->
<!-------------------------------------------->

{% block modals %}





{% endblock modals %}
