/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.wrapkit-wrapper {
  min-height: 400px !important;
}

h1 .media-heading {
  margin-top: -10px;
  margin-bottom: 10px;
  }

/* -----------------------------------*/
/*           Base structure           */
/* -----------------------------------*/

html,
body {
  height: 100%;
  background-color: #2c333f;
}
body {
  color: #fff;
}

hr {
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #54657E;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtle {
  border-color: #3D4365;
}

.left-rule {
  border-left: 1px solid #54657E;
}

.right-rule {
  border-right: 1px solid #54657E;
}

.team {
  padding-left: -10px;
}

.discussion, .orgnotes {
  padding-right: -10px;
}

#team-label {
  padding-left: 20px;
}

.center {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



/*Forms*/
input {
  color: #333;
}

/*label {
  color: #fff;
}*/

.navbar-inverse {
  background-color: #181d25;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}

textarea {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  resize: none;
}

select {
  color:#333;
}

.nav-tabs {
  display: inline-block;
  text-align: center;
  color: #CAD3DF;
}

.nav-tabs li a {
  color: #CAD3DF !important;
}

#facettabs {
  text-align: center;
}

table {
  background-color: transparent;
  text-align: left;
  margin-top: 10px;
}

th {
  color: #8493A8;
}

label {
  color: #8493A8 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#id_content {
 background-color: white;
 color: #374355;
 overflow-y: scroll;
 resize: none;
}

input {
  background-color: transparent;
  color: #fff;
  border: none;
}

.discussion {
  font-size: 12px;
}

.edit-history {
  font-size: 11px;
}

.mce-content-body {
  font-size: 12px !important;
  color: #374355 !important;
}

.tiny-text, .tiny-text a {
  font-size: 10px;
  color: #8493A8 !important;
}

.alert-text, .alert-text a {
  font-size: 10px;
  color: #0082D5 !important;
}

.link-text, .link-text a {
  font-size: 10px;
  color: #CAD3DF;
}

.chosen-choices {
  width: 200px !important;
}

#wf-comment {
  font-size: 12px;
}

.discussion, .comment {
  margin-top: 10px;
}

.modal-title {
  color: #3D4D65;
}

.chosen-container .chosen-drop {
  width: 200px !important;
}

#user-hero {
  z-index: 0;
  color: #fff;
  height: 105px;
  background-color: #374355;
  margin-top: -15px;
  /*background-image: linear-gradient(to right, rgba(0,131,213,1) 0%, rgba(162,52,213,0.63) 74%, rgba(162,52,213,0.5) 100%);*/
}

.profile-page-pic {
  margin-top: -75px;
  height: 150px;
  width: 150;
  border: 2px solid #fff;
}

.content-upper-100 {
  margin-top: -100px !important;
}

.content-upper-85 {
  margin-top: -85px !important;
}

.content-upper-75 {
  margin-top: -75px !important;
}

.content-upper-50 {
  margin-top: -50px !important;
}

.content-upper-25 {
  margin-top: -25px !important;
}

.content-upper-10 {
  margin-top: -10px !important;
}

.content-upper-5 {
  margin-top: -5px !important;
}

.content-lower-10 {
  margin-top: 10px;
}

.content-lower-25 {
  margin-top: 25px;
}

.content-right-10 {
  margin-right: -10;
}

.pad-5 {
  padding-top: 5px !important;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: white; /* Line color */
  height: 500px; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content.
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

.dark, .dark a {
  color: #8493A8 !important;
  text-decoration: none;
}

.darker, .darker a {
  color: #374355 !important;
}

.bright, .bright a {
  color: #ECEFF4 !important;
}

.brighter, .brighter a {
  color: #fff;
}

.fa-check-square-o {
  color: #C5E1A6;
}

.network-panel {
  height: 275px;
  background-color: #3D4D65;
}

.team-panel {
  height: 9em;
  background-color: #374355;
}

.uppercase {
  text-transform: uppercase;
}

.spread-01 {
  letter-spacing: .1em;
}

.spread-025 {
  letter-spacing: .25em;
}

.spread-05 {
  letter-spacing: .5em;
}

.spread-075 {
  letter-spacing: .75em;
}

.spread-1 {
  letter-spacing: 1em;
}

.user-panel-body {
  height: 4em;
  padding: 6px;
  background-color: #374355;
}

.network-user-panel-body {
  height: 4em;
  padding: 6px;
  background-color: #374355;
}


.team-panel-avatar img {
  width: auto !important;
  height: 4em !important;
  padding: 0px !important;
  margin-top: -6px !important;
  margin-left: -6px !important;
  border-radius: 2px 0px 0px 0px !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  transition: border-color 0.3s ease 0s !important;
  border: medium none !important;
}

.big-team-panel-avatar img {
  height: 9em !important;
  width: auto;
  margin-top: -12px;
  margin-left: -12px;
}

.kit-avatar.kit-avatar-square, .kit-avatar.kit-avatar-square > img {
  border-radius: 2px 0px 0px 0px;
  height: 4em;
  width: auto;
}

.note-panel {
  background-color:#374355 ;
  color: #fff;
}

.story-panel {
  height: 8em;
  background-color:#374355 ;
  color: #fff;
}

.sameline {
  display: inline;
  margin-left: 10px;
}

.clear {
  background-color: transparent;
  border: none;
  color: #8493A8;
}

.comment-td, {
  width: 90%;
}

.dashboard-comments {
  marging-bottom: 10px;
}

.slimScrollBar {
  background: #54657E none repeat scroll 0% 0% !important;
  width: 6px;
}


/*Sorting Tables*/

.dataTables_info {
  font-size: 10px;
  color: #8493A8 !important;
}

#user-stories-list_length {
  display: none;
}

#user-stories-list_filter {
  text-align: left;
}

#user-stories-list_filter label input {
  color: #ADB9CA;
  font-weight: 400;
  border-bottom: 1px solid #ECEFF4;
}

#stories-list_filter {
  text-align: left;
}

#stories-list_filter label input {
  color: #ADB9CA;
  font-weight: 400;
  border-bottom: 1px solid #ECEFF4;
}

#stories-list_length {
  text-align: right;
}

#collaboration-stories_length {
  text-align: right;
  margin-top: 10px;
}

#collaboration-stories_filter {
  text-align: left;
}

#collaboration-stories_filter label input {
  color: #ADB9CA;
  font-weight: 400;
  border-bottom: 1px solid #ECEFF4;
}

#network-stories-list_length {
  text-align: right;
  margin-top: 10px;
}

#network-stories-list_filter {
  text-align: left;
}

#network-stories-list_filter label input {
  color: #ADB9CA;
  font-weight: 400;
  border-bottom: 1px solid #ECEFF4;
}

#series-list_length {
  text-align: right;
  margin-top: 10px;
}

#series-list_filter {
  text-align: left;
}

#series-list_filter label input {
  color: #ADB9CA;
  font-weight: 400;
  border-bottom: 1px solid #ECEFF4;
}

#displaynotes {

}

#stories-list_length {
  margin-top: 10px;
}

#series-list_length {
  margin-top: 10px;
}

.user-panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

.network-team-panel {
  background-color: transparent !important;
  border: 1px solid #374355;
}

.thin {
  font-weight: 300;
}
