<div class="right-sidebar-outer">
    <div class="right-sidebar-inner">
        <div class="right-sidebar">
            <div class="bs-nav-tabs nav-tabs-default justified">
                <ul class="nav nav-tabs nav-animated-border-from-center">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" data-target="#rtab-left">Activity</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" data-target="#rtab-center">Users</a> </li>
                    {% comment %}<li class="nav-item"> <a class="nav-link" data-toggle="tab" data-target="#rtab-right">Social</a> </li>{% endcomment%}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="rtab-left">
                        <h5>Recent Activity</h5>
                        <div class="timeline-widget-4">
                          {% for activity in activitystream %}
                            <div class="row {% cycle 'bg-odd-color' 'bg-even-color' %}">

                                {% if activity.verb == 'created' or activity.verb == 'added note' or activity.verb == 'added' %}
                                    <div class="col-xs-12 timeline timeline-info">
                                      <div class="p-10">
                                          {% if activity.action_object.type == 'User' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} User: {{activity.action_object.credit_name }}</p>
                                          {% elif activity.action_object.type == 'Organization' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Organization: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Network' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Network: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Story' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Story: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Facet' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Facet: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Image' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Image: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Document' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Document: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Audio' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Video' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% endif %}

                                          <p class="text-sm text-muted">{{ activity.timestamp|timesince }} </p>
                                      </div>
                                    </div>
                                {% elif activity.verb == 'edited' or activity.verb == 'shared' or activity.verb == 'picked up' %}
                                    <div class="col-xs-12 timeline timeline-success">
                                      <div class="p-10">
                                          {% if activity.action_object.type == 'User' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} User: {{activity.action_object.credit_name }}</p>
                                          {% elif activity.action_object.type == 'Organization' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Organization: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Network' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Network: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Story' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Story: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Facet' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Facet: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Image' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Image: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Document' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Document: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Audio' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Video' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% endif %}

                                          <p class="text-sm text-muted">{{ activity.timestamp|timesince }} </p>
                                      </div>
                                    </div>
                                {% elif activity.verb == 'commented on' %}
                                    <div class="col-xs-12 timeline timeline-warning">
                                      <div class="p-10">
                                          {% if activity.action_object.type == 'User' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} User: {{activity.action_object.credit_name }}</p>
                                          {% elif activity.action_object.type == 'Organization' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Organization: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Network' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Network: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Story' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Story: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Facet' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Facet: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Image' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Image: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Document' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Document: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Audio' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Video' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% endif %}

                                          <p class="text-sm text-muted">{{ activity.timestamp|timesince }} </p>
                                      </div>
                                    </div>
                                {% elif activity.verb == 'uploaded image' or activity.verb == 'uploaded document' or activity.verb == 'uploaded audio' or activity.verb == 'added image' or activity.verb == 'added document' or activity.verb == 'added audio' %}
                                    <div class="col-xs-12 timeline timeline-danger">
                                      <div class="p-10">
                                          {% if activity.action_object.type == 'User' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} User: {{activity.action_object.credit_name }}</p>
                                          {% elif activity.action_object.type == 'Organization' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Organization: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Network' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Network: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Story' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Story: {{activity.action_object.name }}</p>
                                          {% elif activity.action_object.type == 'Facet' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Facet: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Image' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Image: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Document' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Document: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Audio' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% elif activity.action_object.type == 'Video' %}
                                            <p>{{ activity.actor }} {{ activity.verb }} Audio: {{activity.action_object.title }}</p>
                                          {% endif %}

                                          <p class="text-sm text-muted">{{ activity.timestamp|timesince }} </p>
                                      </div>
                                    </div>
                                {% endif %}

                            </div>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtab-center">
                        <h5>Online</h5>
                        <div class="user-widget-8">
                            <div class="row">
                                <div class="col-xs-12 bs-media">
                                    {% for user in current_users %}

                                      <div class="media">
                                          <a class="media-left"> <i class="fa fa-circle icon color-success"></i>
                                            {% if user.display_photo %}
                                            <img class="media-object img-circle h-40 w-40" alt="User" src="{{ user.display_photo.url }}">
                                            {% elif user.first_name %}
                                            <p>{{user.first_name}}</p>
                                            {% else %}
                                            <p>{{user.email}}</p>
                                            {% endif %}
                                          </a>
                                          <div class="media-body">
                                              <h5 class="media-heading"> {{ user.credit_name }} </h5>
                                              <p>{{ user.title }}</p>
                                          </div>
                                      </div>

                                    {% endfor %}



                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}
                    <div class="tab-pane fade" id="rtab-right">
                        <h5>Twitter</h5>
                        <div class="m-b-10">
                            <div class="icon-widget-3 bg-twitter">
                                <div class="row icon">
                                    <div class="col-xs-12 text-center"> <i class="color-white"></i> </div>
                                </div>
                                <div class="row icons">
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-twitter color-white"></i> <span class="color-white">90</span> </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-comment-o color-white"></i> <span class="color-white">22</span> </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-star-o color-white"></i> <span class="color-white">33</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Facebook</h5>
                        <div class="m-b-10">
                            <div class="icon-widget-3 bg-facebook">
                                <div class="row icon">
                                    <div class="col-xs-12 text-center"> <i class="color-white"></i> </div>
                                </div>
                                <div class="row icons">
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-thumbs-o-up color-white"></i> <span class="color-white">45</span> </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-comment-o color-white"></i> <span class="color-white">51</span> </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-star-o color-white"></i> <span class="color-white">13</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Google</h5>
                        <div class="m-b-10">
                            <div class="icon-widget-3 bg-google">
                                <div class="row icon">
                                    <div class="col-xs-12 text-center"> <i class="color-white"></i> </div>
                                </div>
                                <div class="row icons">
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-heart-o color-white"></i> <span class="color-white">8</span> </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-comment-o color-white"></i> <span class="color-white">13</span> </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                                        <div class="amount"> <i class="fa fa-star-o color-white"></i> <span class="color-white">44</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Recent Mentions</h5>
                        <div class="m-b-10 p-20">
                            <div class="row">
                              <div class="icon-widget-2 bg-twitter color-white">
                                  <div class="row">
                                      <div class="col-xs-12">
                                          <div class="p-20">
                                              <a class="media-left media-middle"> <i class="fa fa-twitter color-white"></i> </a>
                                              <div class="media-body">
                                                  <blockquote class="blockquote">
                                                      <div class="blockquote-text color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</div>
                                                      <div class="blockquote-author">@john.doe</div>
                                                  </blockquote>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
