<!-- Video Asset Modal -->

{% load embed_video_tags %}

<div class="modal fade" id="VideoAssetModal" tabindex="-1" role="dialog" aria-labelledby="VideoAssetModal">
  <div class="modal-dialog modal-lg" role="video">
    <div class="modal-content">
      <div class="bs-nav-tabs nav-tabs-default">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploadvideo">Upload a Video</a></li>
            <li class="nav-item"> <a ng-href="" class="nav-link" data-toggle="tab" data-target="#videolibrary">Select From Video Library</a></li>
          </ul>
        </div>
        {% with view.facet_video_assets as video_assets %}
        <div class="modal-body" id="videomodalbody">
          <div class="tab-content">
            <!-- UPLOAD PANEL -->
            <div role="tabpanel" class="tab-pane active" id="uploadvideo">
              <div class="uploadpanel" data-toggle="slimScroll" style="height:500px" data-color="#5D9CEC" data-allow-page-scroll="false">
              <form action="{% url 'upload_video' %}" method="POST" class="post-form" enctype="multipart/form-data">
              {% csrf_token %}

                <!-- Left Col -->
                <div class="col-md-6">

                  {% comment %}
                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.video.label_tag }}</label>
                    {{ video_assets.uploadform.video }}
                    {% if video_assets.uploadform.video.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.video.errors }}</small>
                    {% endif %}
                  </fieldset>
                  {% endcomment %}

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.link.label_tag }}</label>
                    {{ video_assets.uploadform.link }}
                    {% if video_assets.uploadform.link.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.link.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.embed.label_tag }}</label>
                    {{ video_assets.uploadform.embed }}
                    {% if video_assets.uploadform.embed.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.embed.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.title.label_tag }}</label>
                    {{ video_assets.uploadform.title }}
                    {% if video_assets.uploadform.title.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.title.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.asset_type.label_tag }}</label>
                    {{ video_assets.uploadform.asset_type }}
                    {% if video_assets.uploadform.asset_type.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.asset_type.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.keywords.label_tag }}</label>
                    {{ video_assets.uploadform.keywords }}
                    {% if video_assets.uploadform.keywords.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.keywords.errors }}</small>
                    {% endif %}
                  </fieldset>

                </div>
                <!-- End Left Col -->
                <!-- Right Col -->
                <div class="col-md-6">

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.description.label_tag }}</label>
                    {{ video_assets.uploadform.description }}
                    {% if video_assets.uploadform.description.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.description.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ video_assets.uploadform.attribution.label_tag }}</label>
                    {{ video_assets.uploadform.attribution }}
                    {% if video_assets.uploadform.attribution.errors %}
                      <small class="text-muted">{{ video_assets.uploadform.attribution.errors }}</small>
                    {% endif %}
                  </fieldset>

                </div>
                <!-- End Right Col -->
                <!-- ===================================== -->
                <!-- ===================================== -->
                <div class="hidden-image-inputs">
                    <input type="hidden" name="facet" value="{{ facet.pk }}" />
                </div>
                <!-- ===================================== -->
                <!-- ===================================== -->
                <div>
                    <button type="submit" class="btn btn-primary m-l-20">Save Video</button>
                </div>

              </form>
              </div>
            </div>
            <!-- END UPLOAD PANEL -->

            <!-- LIBRARY PANEL -->
            <div role="tabpanel" class="tab-pane" id="videolibrary">
              <div class="videolibrary" data-toggle="slimScroll" style="height:500px" data-color="#5D9CEC" data-allow-page-scroll="false">
                <form action="{% url 'add_video' %}" method="POST" class="post-form" name="addvideo">
                  {% csrf_token %}
                  <div class="row video-library">
                  {% for video in video_assets.org_videos %}
                    <div class="col-md-3">
                      {% if video.asset_type == 'MP4' %}
                        <div id="jp_container_video_{{video.pk}}" class="jp-flat-video" role="application" aria-label="media player">
                          <div id="jplayer_video_{{video.pk}}" class="jp-jplayer"></div>
                          <div class="jp-gui">
                            <div class="jp-play-control jp-control">
                              <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
                            </div>
                            <div class="jp-bar">
                              <div class="jp-seek-bar jp-seek-bar-display"></div>
                              <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                                <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
                                <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
                              </div>
                            </div>
                            <div class="jp-screen-control jp-control">
                              <button class="jp-full-screen jp-button" role="button" aria-label="full screen" tabindex="0"></button>
                            </div>
                          </div>
                          <div class="jp-no-solution">
                            Media Player Error<br />
                            Update your browser or Flash plugin
                          </div>
                        </div>
                        <script>
                            $(document).ready(function($) {
                            $("#jplayer_video_{{video.pk}}").jPlayer({
                              ready: function(event) {
                                var $this = $(this).jPlayer("setMedia", {
                          				title: "Big Buck Bunny Trailer",
                          				m4v: "http://jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
                          				ogv: "http://jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
                          				webmv: "http://jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
                          				poster: "http://jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
                          			});

                                // Fix GUI when Full Screen button is hidden.
                                if(event.jPlayer.status.noFullWindow) {
                                  var $anc = $($this.jPlayer("option", "cssSelectorAncestor"));
                                  $anc.find('.jp-screen-control').hide();
                                  $anc.find('.jp-bar').css({"right":"0"});
                                }

                                // Fix the responsive size for iOS and Flash.
                                var fix_iOS_flash = function() {
                                  var w = $this.data("jPlayer").ancestorJq.width(),
                                    h = w * 9 / 16; // Change to suit your aspect ratio. Used 16:9 HDTV ratio.
                                  $this.jPlayer("option", "size", {
                                    width: w + "px",
                                    height: h + "px"
                                  });
                                };
                                var plt = $.jPlayer.platform;
                                if(plt.ipad || plt.iphone || plt.ipod || event.jPlayer.flash.used) {
                                  $(window).on("resize", function() {
                                    fix_iOS_flash();
                                  });
                                  fix_iOS_flash();
                                }
                              },
                              timeFormat: {
                                padMin: false
                              },
                              swfPath: "js",
                              supplied: "webmv, ogv, m4v",
                              cssSelectorAncestor: "#jp_container_video_{{video.pk}}",
                              // See the CSS for more info on changing the size.
                              size: {
                                width: "100%",
                                height: "auto",
                                cssClass: "jp-flat-video-responsive"
                              },
                              sizeFull: {
                                cssClass: "jp-flat-video-full"
                              },
                              autohide: {
                                full: false,
                                restored: false
                              },
                              // While playing, allow the GUI to hide
                              play: function() {
                                $(this).jPlayer("option", "autohide", {
                                  full: true,
                                  restored: true
                                });
                                // Avoid multiple jPlayers playing together.
                                $(this).jPlayer("pauseOthers");
                              },
                              // When paused, show the GUI
                              pause: function() {
                                $(this).jPlayer("option", "autohide", {
                                  full: false,
                                  restored: false
                                });
                              },
                              // Enable clicks on the video to toggle play/pause
                              click: function(event) {
                                if(event.jPlayer.status.paused) {
                                  $(this).jPlayer("play");
                                } else {
                                  $(this).jPlayer("pause");
                                }
                              },
                              useStateClassSkin: true,
                              autoBlur: false,
                              smoothPlayBar: !($.jPlayer.browser.msie && $.jPlayer.browser.version < 9), // IE8 did not like the hidden animated progress bar.
                              remainingDuration: true,
                              keyEnabled: true,
                              keyBindings: {
                                // Disable some of the default key controls
                                loop: null,
                                muted: null,
                                volumeUp: null,
                                volumeDown: null
                              }
                            });
                          });
                        </script>
                      {% endif %}

                      {% if video.asset_type == 'YOUTUBE' %}
                        {% video video.link '100%x150' %}
                        <p class="subtle f-s-14 m-t-10"><i class="fa fa-youtube-play subtle"></i> {{ video.title }}</p>
                      {% endif %}

                      {% if video.asset_type == 'VIMEO' %}
                        {% video video.link '100%x150' %}
                        <p class="subtle f-s-14 m-t-10"><i class="fa fa-vimeo subtle"></i> {{ video.title }}</p>
                      {% endif %}


                    </div>
                    <div class="col-md-1">

                      <label>
                        {% if video in video_assets.videos %}
                        <i class="fa fa-check-square subtle" aria-hidden="true"></i>
                        {% else %}
                        <input class="inline" type="checkbox" name="video" value="{{ video.id }}">
                        {% endif %}
                      </label>
                    </div>
                    {% if forloop.counter|divisibleby:"6" and not forloop.last %}
                      </div><div class="row">
                    {% endif %}
                  {% endfor %}
                  </div>

                <!-- ===================================== -->
                <!-- ===================================== -->
                <div class="hidden-image-inputs">
                    <input type="hidden" name="facet" value="{{ facet.pk }}" />
                </div>
                <!-- ===================================== -->
                <!-- ===================================== -->

                  <div class="row">
                    <div class="col-xs-12">
                      <button type="submit" class="btn btn-primary" name="addvideo">Add Video</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- END LIBRARY PANEL -->
          </div>
        </div>
        {% endwith %}
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
