<div class="imagelibrary" id="scrollthis" data-toggle="slimScroll" style="height:300px, overflow: scroll !important;" data-color="#5D9CEC" data-allow-page-scroll="false">
  <form action="{% url 'libraryimage_add' story=16 facet=13 %}" method="POST" class="post-form" name="addimage">
    {% csrf_token %}
    <div class=" row image-library">
    {% for image in form.fields.images.queryset %}
      <div class="col-md-2">
        <label>
          {% if image.display_photo %}<img class="img-responsive img-thumbnail" src="{{ image.display_photo.url }}" alt="{{ image.description }}">{% endif %}
          {% if image in image_assets.images %}
          <i class="fa fa-check-square subtle" aria-hidden="true"></i>
          {% else %}
          <input type="checkbox" name="images" value="{{ image.id }}">
          {% endif %}
        </label>
      </div>
      {% if forloop.counter|divisibleby:"6" and not forloop.last %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
    </div>

  <!-- ===================================== -->
  <!-- ===================================== -->
  <div class="hidden-image-inputs">
    <input type="hidden" name="facet" value="{{ facet.pk }}" />
  </div>
  <!-- ===================================== -->
  <!-- ===================================== -->

    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary" name="addimage">Add Images</button>
      </div>
    </div>
  </form>
</div>
