{% with view.story_download as download %}
<div class="modal fade" id="downloadStory" tabindex="-1" role="dialog" aria-labelledby="downloadStory">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Select items to download <i class="fa fa-cloud-download dark"></i><h4>
      </div> <!--Close modal header -->
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
          <form action="{% url 'create_download' pk=story.id %}" method="POST" class="post-form" enctype="multipart/form-data">
          {% csrf_token %}

          <input type="hidden" name="story" value="{{ story.id }}" />
          <!-- ================================================= -->
                                <!-- SELECT ALL -->
          <!-- ================================================= -->
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group custom-form">
                  <label class="field-label">Select All Content
                      <input type="checkbox" name="select_all" value="{{ story.id }}">
                  </label>
              </div>
              <hr class="dark">
              <p class="tiny-text dark">Or select specific versions | <i>(Includes each facet's metadata, content and all assets)</i></p>
            </div>
          </div>
          <!-- ================================================= -->
                      <!-- SELECT FACET - ALL ITEMS -->
          <!-- ================================================= -->
          <div class="row">
            {% if story.facet_set.all %}
              {% for facet in story.facet_set.all %}
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="form-group custom-form">
                      <label class="field-label">{{ facet.name }}
                          <input type="checkbox" name="facet_select_all" value="{{ facet.id }}">
                      </label>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
          <!-- ================================================= -->
                      <!-- SELECT SPECIFIC ITEMS -->
          <!-- ================================================= -->
          <div class="row">
          <div class="col-xs-12">
            <hr class="dark">
            <p class="tiny-text dark">Or select specific content</p>
          </div>
          {% if story.facet_set.all %}
            {% for facet in story.facet_set.all %}
              <!-- ================    FACET   ================== -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <!-- SELECT FACET CONTENT -->
                <div class="form-group custom-form">
                  <label class="field-label">{{ facet.name }}
                      <input type="checkbox" name="facet_specific_content" value="{{ facet.id }}">
                  </label>
                </div>
                <!-- SELECT FACET IMAGES -->
                <div class="image-library">
                  <div class="row">
                    {% for image in facet.image_assets.all %}
                      <div class="col-xs-6">
                        <label>
                          <img class="img-fluid" src="{{ image.display_photo.url }}" alt="{{ image.description }}">
                          <input type="checkbox" name="images" value="{{ image.id }}">
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                </br>
                <!-- SELECT FACET DOCUMENTS -->
                <div class="document-library">
                  <div class="row">
                    {% for document in facet_documents %}
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>
                          <i class="fa fa-file sameline" aria-hidden="true"></i> <span class="sameline">{{ document.title }}</span>
                          <input type="checkbox" name="documents" value="{{ document.id }}">
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                </br>
                <!-- SELECT FACET AUDIO -->
                <div class="audio-library">
                  <div class="row">
                    {% for audio in facet_audio %}
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>
                          <i class="fa fa-play sameline" aria-hidden="true"></i> <span class="sameline">{{ audio.title }}</span>
                          <input type="checkbox" name="audiofiles" value="{{ audio.id }}">
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                </br>
                <!-- SELECT FACET VIDEO -->
                <!-- ToBeAdded -->
              </div>
            {% endfor %}
          {% endif %}


          </div>
          <div class="col-xs-2 col-md-offset-5">
            <button type="submit" class="btn btn-primary">Download</button>
          </div>
          </form>
        </div>
        </div>
      </div> <!--Close modal body -->
      <div class="modal-footer">
      </div>
    </div> <!-- Close modal content -->
  </div> <!-- Close modal dialog -->
</div> <!-- Close modal -->
{% endwith %}
