{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
      <li class="fadeIn"><a href="{% url 'dashboard' %}"> Dashboard </a></li>
      <li class="fadeIn"><a href="{% url 'asset_library' %}" title="Return to Media Library"> Media Library </a></li>
      <li class="fadeIn"><a href="{% url 'audio_asset_detail' audio.id %}" title="You are here">Audio: {{audio.asset_title}}  </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-- Row One -->
<div class="row m-b-40">

  <!-- Display Audio -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h4 class="m-b-20">Audio</h4>
      {% if audio.audio_type == 'MP3' or audio.audio_type == 'WAV' %}
      <div id="jplayer_audio_{{audio.pk}}" class="jp-jplayer"></div>
      <div id="jp_container_audio_{{audio.pk}}" class="jp-flat-audio m-b-10" role="application" aria-label="media player">
        <div class="jp-play-control jp-control">
          <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
        </div>
        <div class="jp-bar">
          <div class="jp-seek-bar jp-seek-bar-display"></div>
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
            <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
            <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
          </div>
        </div>
        <div class="jp-no-solution">
          Media Player Error<br />
          Update your browser or Flash plugin
        </div>
      </div>
      <script>
      jQuery(document).ready(function($) {
        $("#jplayer_audio_{{audio.pk}}").jPlayer({
          ready: function(event) {
            $(this).jPlayer("setMedia", {
              title: "{{audio.asset_title}}",
              wav: "{{audio.audio.url}}",
              mp3: "{{audio.audio.url}}",
            });
          },
          play: function() { // Avoid multiple jPlayers playing together.
            $(this).jPlayer("pauseOthers");
          },
          timeFormat: {
            padMin: false
          },
          swfPath: "js",
          supplied: "wav, mp3",
          cssSelectorAncestor: "#jp_container_audio_{{audio.pk}}",
          useStateClassSkin: true,
          autoBlur: false,
          smoothPlayBar: true,
          remainingDuration: true,
          keyEnabled: true,
          keyBindings: {
            // Disable some of the default key controls
            loop: null,
            muted: null,
            volumeUp: null,
            volumeDown: null
          },
          wmode: "window"
        });
      });
      </script>
      {% endif %}

  </div>

  <!-- Audio Meta -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="m-b-20">Details</h4>
      </div>
    </div>
    <div class="row">
          <form action="{% url 'audio_asset_detail' pk=audio.id %}" method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}

                <!-- Left Col -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ editaudioform.asset_title.label_tag }}</label>
                    {{ editaudioform.asset_title }}
                    {% if editaudioform.asset_title.errors %}
                      <small class="text-muted">{{ editaudioform.asset_title.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ editaudioform.audio_type.label_tag }}</label>
                    {{ editaudioform.audio_type }}
                    {% if editaudioform.audio_type.errors %}
                      <small class="text-muted">{{ editaudioform.audio_type.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ editaudioform.keywords.label_tag }}</label>
                    {{ editaudioform.keywords }}
                    {% if editaudioform.keywords.errors %}
                      <small class="text-muted">{{ editaudioform.keywords.errors }}</small>
                    {% endif %}
                  </fieldset>

                </div>
                <!-- End Left Col -->

                <!-- Right Col -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ editaudioform.asset_description.label_tag }}</label>
                    {{ editaudioform.asset_description }}
                    {% if editaudioform.asset_description.errors %}
                      <small class="text-muted">{{ editaudioform.asset_description.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ editaudioform.attribution.label_tag }}</label>
                    {{ editaudioform.attribution }}
                    {% if editaudioform.attribution.errors %}
                      <small class="text-muted">{{ editaudioform.attribution.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <div>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </div>
            </form>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <hr class="content-lower-25">
        <h4 class="m-b-20">Usage</h4>
        {% for facet in audio_usage %}
          {% if facet.type == 'WebFacet' %}
          <a href="{% url 'story_detail' pk=facet.story.id %}#web" title="Go to Facet"><p class="small-text">{{ facet.title }}</p></a>
          {% elif facet.type == 'PrintFacet' %}
          <a href="{% url 'story_detail' pk=facet.story.id %}#print" title="Go to Facet"><p class="small-text">{{ facet.title }}</p></a>
          {% elif facet.type == 'AudioFacet' %}
          <a href="{% url 'story_detail' pk=facet.story.id %}#audio" title="Go to Facet"><p class="small-text">{{ facet.title }}</p></a>
          {% elif facet.type == 'VideoFacet' %}
          <a href="{% url 'story_detail' pk=facet.story.id %}#video" title="Go to Facet"><p class="small-text">{{ facet.title }}</p></a>
          {% endif %}
        {% endfor %}
      </div>
      </div>
    </div>
</div>




{% endblock %}


{% block modals %}
{% endblock %}
