{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Assignment:  </li>
        <li class="fadeIn"> {{ assignment.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}
<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

<div class="row m-b-20">
  <div class="col-xs-12">
    <h4>Assignment</h4>
  </div>
</div>

<div class="row">
  <!-- Left Column -->
  <div class="col-xs-12 col-sm-4">
    <!-- Recipient -->
    <h5> Assignment Contractor </h5>
    <p>{{ assignment.contractor.credit_name }}</p>

    <!-- Name -->
    <h5> Assignment </h5>
    <p>{{ assignment.name }}</p>

    <!-- Rate -->
    <h5>Rate</h5>
    <p>{{ assignment.rate }}</p>

    <!-- Status -->
    <h5> Status </h5>
    <p> {{ assignment.complete }} </p>


  </div>
  <!-- Right Column -->
  <div class="col-xs-12 col-sm-8">
    <!-- Text -->
    <p> {{ assignment.text }}</p>

    {% if assignment.story %}
    <a href="{% url 'story_detail' assignment.story.id %}" title="Go to story">{{ assignment.story.name }}</a>
    {% elif assignment.facet %}
    <a href="{% url 'facet_detail' assignment.facet.id %}" title="Go to facet">{{ assignment.facet.name }}</a>
    {% endif %}

    {% if assignment.call %}
    <a href="{% url 'call_detail' assignment.call.id %}" title="See call detail">{{ assignment.call.name }}</a>
    {% elif assignment.pitch %}
    <a href="{% url 'pitch_detail' assignment.pitch.id %}" title="See pitch detail">{{ assignment.pitch.name }}</a>
    {% endif %}

  </div>
</div>


<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->


{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}

<!-- ================================================= -->
          <!-- Simple Image Asset Modal -->
<!-- ================================================= -->

{% with view.simple_images as images %}
<div class="modal fade" id="SimpleImageAssetModal" tabindex="-1" role="dialog" aria-labelledby="SimpleImageAssetModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="bs-nav-tabs nav-tabs-default">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploadimage">Upload a Photo</a></li>
          </ul>
        </div>
        <div class="modal-body" id="imagemodalbody">
          <div class="tab-content">
            <!-- UPLOAD PANEL -->
            <div role="tabpanel" class="tab-pane active" id="uploadimage">
              <div class="uploadpanel" data-toggle="slimScroll" style="height:300px" data-color="#5D9CEC" data-allow-page-scroll="false">
              <form action="{% url 'upload_simple_image' %}" method="POST" class="post-form" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Left Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ images.form.photo.label_tag }}</label>
                  {{ images.form.photo }}
                  {% if images.form.photo.errors %}
                    <small class="text-muted">{{ images.form.photo.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin"><span class="field-label">{{ images.form.title.label_tag }}</label>
                  {{ images.form.title }}
                  {% if images.form.title.errors %}
                    <small class="text-muted">{{ images.form.title.errors }}</small>
                  {% endif %}
                </fieldset>

              </div>
              <!-- End Left Col -->
              <!-- Right Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ images.form.description.label_tag }}</label>
                  {{ images.form.description }}
                  {% if images.form.description.errors %}
                    <small class="text-muted">{{ images.form.description.errors }}</small>
                  {% endif %}
                </fieldset>


              </div>
              <!-- End Right Col -->
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div class="hidden-image-inputs">
                  <input type="hidden" name="association" value="assignment" />
                  <input type="hidden" name="assignment" value="{{ assignment.pk }}" />
              </div>
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div>
                <button type="submit" class="btn btn-primary m-l-20">Save Image</button>
              </div>
              </form>
              </div>
            </div>
            <!-- END UPLOAD PANEL -->
          </div>
        </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
{% endwith %}

<!-- ================================================= -->
          <!-- Simple Document Asset Modal -->
<!-- ================================================= -->

{% with view.simple_documents as documents %}
<div class="modal fade" id="SimpleDocumentAssetModal" tabindex="-1" role="dialog" aria-labelledby="SimpleDocumentAssetModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="bs-nav-tabs nav-tabs-default">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploaddocument">Upload a Document</a></li>
          </ul>
        </div>
        <div class="modal-body" id="documentmodalbody">
          <div class="tab-content">
            <!-- UPLOAD PANEL -->
            <div role="tabpanel" class="tab-pane active" id="uploaddocument">
              <div class="uploadpanel" data-toggle="slimScroll" style="height:300px" data-color="#5D9CEC" data-allow-page-scroll="false">
              <form action="{% url 'upload_simple_document' %}" method="POST" class="post-form" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Left Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.document.label_tag }}</label>
                  {{ documents.form.document }}
                  {% if documents.form.document.errors %}
                    <small class="text-muted">{{ documents.form.document.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.title.label_tag }}</label>
                  {{ documents.form.title }}
                  {% if documents.form.title.errors %}
                    <small class="text-muted">{{ documents.form.title.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.asset_type.label_tag }}</label>
                  {{ documents.form.asset_type }}
                  {% if documents.form.asset_type.errors %}
                    <small class="text-muted">{{ documents.form.asset_type.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.keywords.label_tag }}</label>
                  {{ documents.form.keywords }}
                  {% if documents.form.keywords.errors %}
                    <small class="text-muted">{{ documents.form.keywords.errors }}</small>
                  {% endif %}
                </fieldset>

              </div>
              <!-- End Left Col -->
              <!-- Right Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.description.label_tag }}</label>
                  {{ documents.form.description }}
                  {% if documents.form.description.errors %}
                    <small class="text-muted">{{ documents.form.description.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.attribution.label_tag }}</label>
                  {{ documents.form.attribution }}
                  {% if documents.form.attribution.errors %}
                    <small class="text-muted">{{ documents.form.attribution.errors }}</small>
                  {% endif %}
                </fieldset>

              </div>
              <!-- End Right Col -->
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div class="hidden-document-inputs">
                <input type="hidden" name="association" value="assignment" />
                <input type="hidden" name="assignment" value="{{ assignment.pk }}" />
              </div>
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div>
                <button type="submit" class="btn btn-primary m-l-20">Save Document</button>
              </div>
              </form>
              </div>
            </div>
            <!-- END UPLOAD PANEL -->
          </div>
        </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
{% endwith %}

<!-- ================================================= -->
          <!-- Simple Audio Asset Modal -->
<!-- ================================================= -->

{% with view.simple_audio as audio %}
<div class="modal fade" id="SimpleAudioAssetModal" tabindex="-1" role="dialog" aria-labelledby="SimpleAudioAssetModal">
  <div class="modal-dialog modal-lg" role="audio">
    <div class="modal-content">
      <div class="bs-nav-tabs nav-tabs-default">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploadaudio">Upload a Audio</a></li>
          </ul>
        </div>
        {% with view.facet_audio_assets as audio_assets %}
        <div class="modal-body" id="audiomodalbody">
          <div class="tab-content">
            <!-- UPLOAD PANEL -->
            <div role="tabpanel" class="tab-pane active" id="uploadaudio">
              <div class="uploadpanel" data-toggle="slimScroll" style="height:300px" data-color="#5D9CEC" data-allow-page-scroll="false">
              <form action="{% url 'upload_audio' %}" method="POST" class="post-form" enctype="multipart/form-data">
              {% csrf_token %}

                <!-- Left Col -->
                <div class="col-md-6">

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ audio.form.audio.label_tag }}</label>
                    {{ audio.form.audio }}
                    {% if audio.form.audio.errors %}
                      <small class="text-muted">{{ audio.form.audio.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ audio.form.link.label_tag }}</label>
                    {{ audio.form.link }}
                    {% if audio.form.link.errors %}
                      <small class="text-muted">{{ audio.form.link.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ audio.form.title.label_tag }}</label>
                    {{ audio.form.title }}
                    {% if audio.form.title.errors %}
                      <small class="text-muted">{{ audio.form.title.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ audio.form.asset_type.label_tag }}</label>
                    {{ audio.form.asset_type }}
                    {% if audio.form.asset_type.errors %}
                      <small class="text-muted">{{ audio.form.asset_type.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ audio.form.keywords.label_tag }}</label>
                    {{ audio.form.keywords }}
                    {% if audio.form.keywords.errors %}
                      <small class="text-muted">{{ audio.form.keywords.errors }}</small>
                    {% endif %}
                  </fieldset>

                </div>
                <!-- End Left Col -->
                <!-- Right Col -->
                <div class="col-md-6">

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ audio.form.description.label_tag }}</label>
                    {{ audio.form.description }}
                    {% if audio.form.description.errors %}
                      <small class="text-muted">{{ audio.form.description.errors }}</small>
                    {% endif %}
                  </fieldset>

                  <fieldset class="form-group m-b-10">
                    <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ audio.form.attribution.label_tag }}</label>
                    {{ audio.form.attribution }}
                    {% if audio.form.attribution.errors %}
                      <small class="text-muted">{{ audio.form.attribution.errors }}</small>
                    {% endif %}
                  </fieldset>

                </div>
                <!-- End Right Col -->
                <!-- ===================================== -->
                <!-- ===================================== -->
                <div class="hidden-document-inputs">
                  <input type="hidden" name="association" value="assignment" />
                  <input type="hidden" name="assignment" value="{{ assignment.pk }}" />
                </div>
                <!-- ===================================== -->
                <!-- ===================================== -->
                <div>
                    <button type="submit" class="btn btn-primary m-l-20">Save Audio</button>
                </div>

              </form>
              </div>
            </div>
            <!-- END UPLOAD PANEL -->
          </div>
        </div>
        {% endwith %}
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
{% endwith %}

<!-- ================================================= -->
                <!-- Simple Video Asset Modal -->
<!-- ================================================= -->

{% with view.simple_video as videos %}
  {% load embed_video_tags %}
  <div class="modal fade" id="SimpleVideoAssetModal" tabindex="-1" role="dialog" aria-labelledby="SimpleVideoAssetModal">
    <div class="modal-dialog modal-lg" role="video">
      <div class="modal-content">
        <div class="bs-nav-tabs nav-tabs-default">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul class="nav nav-tabs nav-animated-border-from-left">
              <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploadvideo">Upload a Video</a></li>
            </ul>
          </div>
          <div class="modal-body" id="videomodalbody">
            <div class="tab-content">
              <!-- UPLOAD PANEL -->
              <div role="tabpanel" class="tab-pane active" id="uploadvideo">
                <div class="uploadpanel" data-toggle="slimScroll" style="height:300px" data-color="#5D9CEC" data-allow-page-scroll="false">
                <form action="{% url 'upload_simple_video' %}" method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}

                  <!-- Left Col -->
                  <div class="col-md-6">

                    {% comment %}
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.video.label_tag }}</label>
                      {{ <!-- ================================================= -->
                                      <!-- Image Asset Modal -->
                      <!-- ================================================= -->.video }}
                      {% if videos.form.video.errors %}
                        <small class="text-muted">{{ videos.form.video.errors }}</small>
                      {% endif %}
                    </fieldset>
                    {% endcomment %}

                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.link.label_tag }}</label>
                      {{ videos.form.link }}
                      {% if videos.form.link.errors %}
                        <small class="text-muted">{{ videos.form.link.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.embed.label_tag }}</label>
                      {{ videos.form.embed }}
                      {% if videos.form.embed.errors %}
                        <small class="text-muted">{{ videos.form.embed.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.title.label_tag }}</label>
                      {{ videos.form.title }}
                      {% if videos.form.title.errors %}
                        <small class="text-muted">{{ videos.form.title.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.asset_type.label_tag }}</label>
                      {{ videos.form.asset_type }}
                      {% if videos.form.asset_type.errors %}
                        <small class="text-muted">{{ videos.form.asset_type.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.keywords.label_tag }}</label>
                      {{ videos.form.keywords }}
                      {% if videos.form.keywords.errors %}
                        <small class="text-muted">{{ videos.form.keywords.errors }}</small>
                      {% endif %}
                    </fieldset>

                  </div>
                  <!-- End Left Col -->
                  <!-- Right Col -->
                  <div class="col-md-6">

                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.description.label_tag }}</label>
                      {{ videos.form.description }}
                      {% if videos.form.description.errors %}
                        <small class="text-muted">{{ videos.form.description.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <fieldset class="form-group m-b-10">
                      <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videos.form.attribution.label_tag }}</label>
                      {{ videos.form.attribution }}
                      {% if videos.form.attribution.errors %}
                        <small class="text-muted">{{ videos.form.attribution.errors }}</small>
                      {% endif %}
                    </fieldset>

                  </div>
                  <!-- End Right Col -->
                  <!-- ===================================== -->
                  <!-- ===================================== -->
                  <div class="hidden-image-inputs">
                    <input type="hidden" name="association" value="assignment" />
                    <input type="hidden" name="assignment" value="{{ assignment.pk }}" />
                  </div>
                  <!-- ===================================== -->
                  <!-- ===================================== -->
                  <div>
                      <button type="submit" class="btn btn-primary m-l-20">Save Video</button>
                  </div>

                </form>
                </div>
              </div>
              <!-- END UPLOAD PANEL -->
            </div>
          </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
{% endwith %}

{% endblock modals %}
