{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block head %}
{{ form.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
      <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
      <li class="fadeIn"><a href="{% url 'asset_library' %}" title="Return to Media Library"> Media Library </a></li>
      <li class="fadeIn"><a href="{% url 'audio_asset_detail' audioasset.id %}" title="Go to audio detail">Audio: {{audioasset.title}}  </a></li>
      <li class="fadeIn">Delete </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}


<!-- ================================================= -->
<!-- CONTENT -->
<!-- ================================================= -->

<h1>{{ audioasset }} </h1>

<form method="POST" class="post-form">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>

{% endblock content %}
