{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-xs-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">Collaborations</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <table id="collaboration-stories" class="table table-condensed">
        <thead>
          <tr>
            <th>Story</th>
            <th>Description</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          {% for story in story_collaborations %}
          <tr>
            <td><a href="{% url 'story_detail' pk=story.id %}">{{story.name}}</a></td>
            <td>{{ story.description }}</td>
            <td>{{ story.organization }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#collaboration-stories').DataTable();
} );
</script>


{% endblock %}
