{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'collaborations' %}" title="View Content in Collaboration"> Collaborations </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">

    <!-- Full table for xs, sm, md and lg displays -->
      <table id="collaboration-stories" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Story</th>
            <th>Description</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          {% for story in story_collaborations %}
          <tr>
            <td><a href="{% url 'story_detail' pk=story.id %}">{{story.name}}</a></td>
            <td>{{ story.description }}</td>
            <td>{{ story.organization }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#collaboration-stories').DataTable();
} );
</script>


{% endblock %}
