{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> {{ contractorprofile.user.credit_name}} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-- Row One -->
<!-- Row One -->
<div class="row m-b-40">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a class="media-left media-middle"> {% if contractorprofile.user.display_photo %}<img class="centered h-200 w-200 m-r-40 img-circle" src="{{ contractorprofile.user.display_photo.url }}" id="user-profile-photo" alt="profile image">{% else %}{% endif %} </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4 class="m-t-5 m-b-20"><a href="{% url 'user_detail' user.id %}">{{ contractorprofile.user.credit_name }}</a></h4>
        <p class="f-s-300"> <i class="fa fa-phone color-white m-r-10"></i> <span class="color-white m-r-20"> {{ contractorprofile.user.phone }}</span> | <i class="fa fa-envelope-o color-white m-l-20 m-r-10"></i> <span class="color-white m-r-20">{{ contractorprofile.user.email }}</span> </p>
        <p class="f-s-300"> <i class="fa fa-globe m-r-10" aria-hidden="true"></i> <span class="color-white m-r-20"> {{ contractorprofile.user.location }}</span> | <i class="fa fa-map-marker m-l-20 m-r-10" aria-hidden="true"></i> <span class="color-white m-r-20"> {{ contractorprofile.current_location }}</span></p>
        <p class="f-s-300"> <i class="fa fa-link m-r-10" aria-hidden="true"></i> <span class="color-white m-r-20"> {{ contractorprofile.user.website }}</span>
        {% if request.user.id == contractorprofile.user.id %}
        <a href="{% url 'user_edit' contractorprofile.user.id %}"><p class="f-s-300"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i> <span class="color-white m-r-20">Edit User Profile</span></p></a>
        <a href="{% url 'contractor_edit' contractorprofile.id %}"><p class="f-s-300"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i> <span class="color-white m-r-20">Edit Contractor Profile</span></p></a>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <h5> Bio</h5>
      <p>{{ contractorprofile.user.bio}}</p>
      <h5 class="m-t-20"> Expertise</h5>

      <p>{% for item in contractorprofile.user.expertise %} {{item}}, {% endfor %}</p>
    </div>
</div>

<div class="row m-t-40">
  <!-- Contractor Information -->
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

    <div class="row">
      <h4 class="m-l-20">Social Accounts</h4>
      {% for acct in contractorprofile.user.platformaccount_set.all %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
         <a href="{{ acct.url }}" title="Go to account"><i class="fa {{ acct.platform.icon_code }} m-10" aria-hidden="true"></i> {{ acct.name }}</a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="m-t-20 m-b-20 m-t-20">Details</h4>
        <p>Availability: {{ contractorprofile.availability }}</p>
        <p>Gear: {{ contractorprofile.gear }}</p>
        {% if contractorprofile.resume %}
        <p>Resume: <a href="{{ contractorprofile.resume.url }}" target="_blank">{{ contractorprofile.user.credit_name }} Resume</a></p>
        {% endif %}
        <h4 class="m-t-20 m-b-20 m-t-20">Portfolio</h4>
        <p><a href="{{ contractorprofile.portfolio_link1 }}" target="_blank">Portfolio Link 1</a></p>
        <p><a href="{{ contractorprofile.portfolio_link2 }}" target="_blank">Portfolio Link 2</a></p>
        <p><a href="{{ contractorprofile.portfolio_link3 }}" target="_blank">Portfolio Link 3</a></p>
      </div>
    </div>


    <!-- End of Contractor Info -->
  </div>

  <!-- Populated by objects dependent on who the viewer is -->
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    {% with view.contractor_assignments as assignments %}

      <h4 class="m-b-20">Active Assignments</h4>
      {% if assignments %}
      <ul class="list-group activities">
        {% for assignment in assignments %}
        <li class="list-group-item m-b-10">
          <span class="text-xs pull-right">{{ assignment.creation_date|date:"M d, Y" }}</span>
            <a href="{% url 'assignment_detail' assignment.id %}" title="Go to assignment">{{ assignment.text|truncatewords:20 }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>It appears you've not worked with this contractor before.</p>
      {% endif %}

    {% endwith %}

    {% with view.contractor_pitches as pitches %}
      <h4 class="m-t-20 m-b-20">Pitches</h4>
      {% if pitches %}
      <ul class="list-group activities">
        {% for pitch in pitches %}
        <li class="list-group-item m-b-10">
          <span class="text-xs pull-right">{{ pitch.creation_date|date:"M d, Y" }}</span>
            <a href="{% url 'pitch_detail' pitch.id %}" title="Go to pitch">{{ pitch.text|truncatewords:20 }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>It appears you've not received any pitches from this contractor.</p>
      {% endif %}
    {% endwith %}
  </div>
</div>



{% endblock %}
