{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-md-6" id="dashboard-left">
    <table class="table table-condensed">
      <tbody>
        {% for comment in recent_comments %}
        <tr>
          <td>{{ comment.text }}</td>
          <td><p class="tiny-text"> {{ comment.date|date:'D, n/j' }}<br/>{{ comment.date|date:'g:i a' }}</p></td>
          <td><img class="media-object img-circle" width="32" src="static/images/faces/face23.jpg" alt="user"><p class="tiny-text">{{ comment.user.first_name }}</p></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- RIGHT SIDE -->
  <div class="col-md-6" id="dashboard-right">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Story</th>
          <th>Series</th>
          <th>Creator</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for story in stories %}
        <tr>
          <td><a href="{% url 'story_detail' story.id %}">{{ story.name }}</a></td>
          <td>{% if story.series %} {{ story.series.name }} {% endif %}</td>
          <td>{{ story.owner.credit_name }}</td>
          <td>{{ story.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
