{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-md-6" id="dashboard-left">
    <div class="dashboard-comments">
      <a href="#" data-toggle="tooltip" title="Recent Comments"><label class="field-label">Recent Comments</label></a>
    {% if recent_comments %}
    <table class="table table-condensed">
      <tbody>
        {% for comment in recent_comments %}
        <tr>
          <td>{{ comment.text }}<br>
            <p class="tiny-text">
              {% if comment.discussion.organization_discussion.all %}
                {% for organization in comment.discussion.organization_discussion.all %}
                  <a href="{% url 'org_detail' pk=organization.id %}">{{ organization.type }} | {{ organization.name }}</a>
                {% endfor %}
              {% elif comment.discussion.network_discussion.all %}
                {% for network in comment.discussion.network_discussion.all %}
                  <a href="{% url 'network_detail' pk=network.id %}">{{ network.type }} | {{ network.name }}</a>
                {% endfor %}
              {% elif comment.discussion.series_set.all %}
                {% for series in comment.discussion.series_set.all %}
                  <a href="{% url 'series_detail' pk=series.id %}">{{ series.type }} | {{ series.name }}</a>
                {% endfor %}
              {% elif comment.discussion.story_set.all %}
                {% for story in comment.discussion.story_set.all %}
                  <a href="{% url 'story_detail' pk=story.id %}">{{ story.type }} | {{ story.name }}</a>
                {% endfor %}
              {% elif comment.discussion.webfacet_set.all %}
                {% for webfacet in comment.discussion.webfacet_set.all %}
                  <a href="{% url 'story_detail' pk=webfacet.story.id %}">{{ webfacet.type }} | {{ webfacet.title }}</a>
                {% endfor %}
              {% elif comment.discussion.printfacet_set.all %}
                {% for printfacet in comment.discussion.printfacet_set.all %}
                  <a href="{% url 'story_detail' pk=printfacet.story.id %}">{{ printfacet.type }} | {{ printfacet.title }}</a>
                {% endfor %}
              {% elif comment.discussion.audiofacet_set.all %}
                {% for audiofacet in comment.discussion.audiofacet_set.all %}
                  <a href="{% url 'story_detail' pk=audiofacet.story.id %}">{{ audiofacet.type }} | {{ audiofacet.title }}</a>
                {% endfor %}
              {% elif comment.discussion.videofacet_set.all %}
                {% for videofacet in comment.discussion.videofacet_set.all %}
                  <a href="{% url 'story_detail' pk=videofacet.story.id %}">{{ videofacet.type }} | {{ videofacet.title }}</a>
                {% endfor %}
              {% endif %}
            <p></td>
          <td><p class="tiny-text"> {{ comment.date|date:'n/j' }}<br/>{{ comment.date|date:'g:i a' }}</p></td>
          <td><a href="{% url 'user_detail' pk=comment.user.id %}"><img class="media-object img-circle" width="32" src="static/images/faces/face23.jpg" alt="user"></a><p class="tiny-text">{{ comment.user.first_name }}</p></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Hello!</p>
    <p>It looks like no one has posted any comments anywhere yet!<p>
    <p>You can change this right now, by adding a comment to any series, story or facet you like.</p>
    {% endif %}
    </div>
    <hr>
  </div>
  <!-- RIGHT SIDE -->
  <div class="col-md-6 left-rule" id="dashboard-right">
    <a href="#" data-toggle="tooltip" title="Recent Stories"><label class="field-label">Recent Stories</label></a>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Story</th>
          <th>Series</th>
          <th>Creator</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for story in stories %}
        <tr>
          <td><a href="{% url 'story_detail' story.id %}">{{ story.name }}</a></td>
          <td>{% if story.series %} <a href="{% url 'series_detail' story.series.id %}">{{ story.series.name }}</a>{% endif %}</td>
          <td>{{ story.owner.credit_name }}</td>
          <td>{{ story.story_description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
