{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-- ====================================== -->
<!--      BREADCRUMB NAVIGATION             -->
<!-- ====================================== -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"> Dashboard </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ====================================== -->
<!--            Main Section                -->
<!-- ====================================== -->

{% block content %}

  {% if user.organization %}

    {% include "editorial/_dashboard_organization.html" %}

  {% elif user.contractorprofile %}

    {% include "editorial/_dashboard_contractor.html" %}

  {% endif %}

{% endblock content %}

<!-- ================================================= -->
                  <!-- MODALS -->
<!-- ================================================= -->

{% block modals %}

  {% include "editorial/story/_storypreview.html" %}

{% endblock modals %}
