{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">Inbox</h1>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12">
  <div id="demo7-panel" class="panel inbox-panel">
    <div class="panel-body inbox-panel-body">
      <div class="row">
        <!-- ================================================= -->
        <!--                     TABS                          -->
        <!-- ================================================= -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <ul class="nav nav-tabs nav-stacked nav-contrast-dark" id="demo7-tabs">
            <li class="active inbox-tab"><a href="#private_messages_received" data-toggle="tab" data-context="cyan" class="text-nowrap text-cyan border-cyan"><i class="fa fa-comment"></i> <span class="hidden-xs hidden-sm">Private Message Inbox</span></a></li>
            <li class="inbox-tab"><a href="#private_messages_sent" data-toggle="tab" data-context="blue" class="text-nowrap text-blue border-blue"><i class="fa fa-comment-o"></i> <span class="hidden-xs hidden-sm">Private Messages Sent</span></a></li>
            <li class="inbox-tab"><a href="#comments" data-toggle="tab" data-context="violet" class="text-nowrap text-violet border-violet"><i class="fa fa-comments"></i> <span class="hidden-xs hidden-sm">Discussion Comments</span></a></li>
          </ul>
        </div>
        <!-- START OF TAB CONTENT -->
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <div class="tab-content">
            <!-- ================================================= -->
            <!--                TAB CONTENT                       -->
            <!--          PRIVATE MESSAGES RECEIVED                -->
            <!-- ================================================= -->
            <div class="tab-pane fade in active darker" id="private_messages_received">
              <h3 class="bright content-upper-10 thin">Private Messages</h3>
              <hr>
              <div class="message-pane" data-toggle="slimScroll" style="height:500px" data-color="#5D9CEC" data-allow-page-scroll="false">
              {% for message in private_messages_received %}
              <div class="row profile-row">
                  <div class="col-md-1 subtract-right-25">
                    {% if message.user.display_photo %}
                    <a href="{% url 'user_detail' pk=message.user.id %}"><img class="media-object img-circle" width="32" src="{{ message.user.display_photo.url }}" alt="user">
                    {% else %}
                    {% endif %}
                    <p class="tiny-text bright">{{ message.user.first_name }}</p></a>
                    <p class="tiny-text pad-5 content-upper-10 content-lower-25">
                      {{ message.date|date:'D, M j' }} <br> {{ message.date|date:'g:i a' }}<p>
                  </div>
                  <div class="col-md-11">
                    <h4 class="brighter thin content-upper-5">{{ message.subject }}</h4>
                    <p class="bright">{{ message.text|safe }}</p>
                    <!-- <p class="tiny-text pad-5 content-upper-10 content-lower-25">
                        {{ message.date|date:'D, M j' }} <br> {{ message.date|date:'g:i a' }}<p> -->
                  </div>
              </div>
              <hr class="bright content-bottom-10">
              {% endfor %}
            </div>
            </div>
            <!-- ================================================= -->
            <!--                TAB CONTENT                        -->
            <!--          PRIVATE MESSAGES SENT                    -->
            <!-- ================================================= -->
            <div class="tab-pane fade darker" id="private_messages_sent">
              <h3 class="bright content-upper-10">Sent Messages</h3>
              <hr>
              <div class="message-pane" data-toggle="slimScroll" style="height:500px" data-color="#5D9CEC" data-allow-page-scroll="false">
              {% for message in private_messages_sent %}
                <div class="row profile-row">
                    <div class="col-md-1 subtract-right-25">
                      {% if message.recipient.display_photo %}
                      <a href="{% url 'user_detail' pk=message.recipient.id %}"><img class="media-object img-circle" width="32" src="{{ message.recipient.display_photo.url }}" alt="user">
                      {% else %}
                      {% endif %}
                      <p class="tiny-text bright">{{ message.recipient.first_name }}</p></a>
                      <p class="tiny-text pad-5 content-upper-10 content-lower-25">
                        {{ message.date|date:'D, M j' }} <br> {{ message.date|date:'g:i a' }}<p>
                    </div>
                    <div class="col-md-11">
                      <h4 class="brighter thin content-upper-5">To: {{ message.recipient.credit_name }}</h4>
                      <h4 class="brighter thin content-upper-5">{{ message.subject }}</h4>
                      <p class="bright">{{ message.text|safe }}</p>
                      <!-- <p class="tiny-text pad-5 content-upper-10 content-lower-25">
                          {{ message.date|date:'D, M j' }} <br> {{ message.date|date:'g:i a' }}<p> -->
                    </div>
                </div>
                <hr class="bright content-bottom-10">
              {% endfor %}
            </div>
            </div>
            <!-- ================================================= -->
            <!--                 TAB CONTENT                       -->
            <!--              DISCUSSION COMMENTS                  -->
            <!-- ================================================= -->
            <div class="tab-pane fade dark" id="comments">
              <h3 class="bright content-upper-10">Discussion Comments</h3>
              <hr>
              <div class="message-pane" data-toggle="slimScroll" style="height:500px" data-color="#5D9CEC" data-allow-page-scroll="false">
              {% for comment in comments %}
                <div class="row profile-row">
                    <div class="col-md-1 subtract-right-50">
                      {% if comment.user.display_photo %}
                      <a href="{% url 'user_detail' pk=comment.user.id %}"><img class="media-object img-circle" width="32" src="{{ comment.user.display_photo.url }}" alt="user">
                      {% else %}
                      {% endif %}
                      <p class="tiny-text bright">{{ comment.user.first_name }}</p></a>
                    </div>
                    <div class="col-md-11">
                      <p class="brighter">{{ comment.text }}</p>
                      <p class="tiny-text pad-5 content-upper-10 content-lower-25">
                        {% if comment.discussion.organization_discussion.all %}
                          {% for organization in comment.discussion.organization_discussion.all %}
                            <a href="{% url 'org_detail' pk=organization.id %}">{{ organization.type }} - {{ organization.name }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% elif comment.discussion.network_discussion.all %}
                          {% for network in comment.discussion.network_discussion.all %}
                            <a href="{% url 'network_detail' pk=network.id %}">{{ network.type }} - {{ network.name }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% elif comment.discussion.series_set.all %}
                          {% for series in comment.discussion.series_set.all %}
                            <a href="{% url 'series_detail' pk=series.id %}">{{ series.type }} - {{ series.name }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% elif comment.discussion.story_set.all %}
                          {% for story in comment.discussion.story_set.all %}
                            <a href="{% url 'story_detail' pk=story.id %}">{{ story.type }} - {{ story.name }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% elif comment.discussion.webfacet_set.all %}
                          {% for webfacet in comment.discussion.webfacet_set.all %}
                            <a href="{% url 'story_detail' pk=webfacet.story.id %}">{{ webfacet.type }} - {{ webfacet.title }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% elif comment.discussion.printfacet_set.all %}
                          {% for printfacet in comment.discussion.printfacet_set.all %}
                            <a href="{% url 'story_detail' pk=printfacet.story.id %}">{{ printfacet.type }} - {{ printfacet.title }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% elif comment.discussion.audiofacet_set.all %}
                          {% for audiofacet in comment.discussion.audiofacet_set.all %}
                            <a href="{% url 'story_detail' pk=audiofacet.story.id %}">{{ audiofacet.type }} - {{ audiofacet.title }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% elif comment.discussion.videofacet_set.all %}
                          {% for videofacet in comment.discussion.videofacet_set.all %}
                            <a href="{% url 'story_detail' pk=videofacet.story.id %}">{{ videofacet.type }} - {{ videofacet.title }}  |  {{ comment.date|date:'n/j' }} at {{ comment.date|date:'g:i a' }}</a>
                          {% endfor %}
                        {% endif %}
                      <p>
                    </div>
                </div>
                <hr class="bright content-bottom-10">
              {% endfor %}
            </div>
            </div>
          </div><!-- /tab-content -->
        </div>
      </div>
    </div><!-- /panel-body -->
  </div><!-- /.panel -->
</div><!-- /.cols -->
</div>


{% endblock %}
