{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        {% if event %}
          {% if event.evt_organization %}
            {% comment %}
            <!-- <li class="fadeIn"><a href="{% url 'organization_detail' pk=event.organization.id %}" title="Go to Organization"> {{ event.organization.name }} </a></li> -->
            <!-- <li class="fadeIn"><a href="{% url 'organization_ event_list' pk=event.organization.id %}" title="Go to {{ event.organization.name}}  events">  events </a></li> -->
            {% endcomment %}
            <li class="fadeIn"> {{  event.name }}</li>
            <li class="fadeIn"> Update</li>
          {% elif event.project %}
            <li class="fadeIn"><a href="{% url 'project_detail' pk=event.project.id %}" title="Go to {{ event.project.name}}"> {{ event.project.name}} </a></li>
            <li class="fadeIn"><a href="{% url 'project_event_list' pk=event.project.id %}" title="Go to Project Events"> Events </a></li>
            <li class="fadeIn"> {{  event.name }}</li>
            <li class="fadeIn"> Update</li>
          {% elif event.series %}
            <li class="fadeIn"><a href="{% url 'series_detail' pk=event.series.id %}" title="Go to {{ event.series.name}}"> {{ event.series.name}} </a></li>
            <li class="fadeIn"><a href="{% url 'series_event_list' pk=event.series.id %}" title="Go to Series Events"> Events </a></li>
            <li class="fadeIn"> {{ event.name}} </li>
            <li class="fadeIn"> Update</li>
          {% elif event.story %}
            <li class="fadeIn"><a href="{% url 'story_detail' pk=event.story.id %}" title="Go to {{ event.story.name}}"> {{ event.story.name}} </a></li>
            <li class="fadeIn"><a href="{% url 'story_event_list' pk=event.story.id %}" title="Go to Story Events"> Events </a></li>
            <li class="fadeIn"> {{ event.name}} </li>
            <li class="fadeIn"> Update</li>
          {% endif %}
        {% else %}
        <li class="fadeIn"> New event</li>
        {% endif %}
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
ERRORS={{form.errors}}

<div class="row m-b-20">
  <div class="col-xs-12">
    <h5 class="m-b-20 sameline">
      {% if  event.event_type == "Hosting" %}
      <i class="fa fa-calendar-o color-success-300 fa-1x m-r-10" aria-hidden="true"></i>
      {% elif  event.event_type == "Reporting" %}
      <i class="fa fa-calendar-o color-primary-500 fa-1x m-r-10" aria-hidden="true"></i>
      {% elif  event.event_type == "Other" %}
      <i class="fa fa-calendar-o color-warning-300 fa-1x m-r-10" aria-hidden="true"></i>
      {% endif %}
      {{ event.name}}
    </h5>
    <form class="event-delete sameline" method="GET"
          action="{% url 'event_delete' pk=event.id %}">
          <!-- onsubmit="return confirm('Do you want to delete this task?')"> -->
          {% csrf_token %}
      <a href="javascript:$('.event-delete').submit();"><i class="fa fa-trash subtle" aria-hidden="true"></i></a>
      <!-- <input type="submit" class="btn btn-sm btn-danger-100" value="Delete"> -->
    </form>
  </div>
</div>


<!-- The html for detail form is same regardless of associated object: Project, Series, Story or Event -->
<div class="row">
  <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-row">
      <!-- Left Columm -->
      <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <!--  event name -->
        <div class="form-group">
          {% comment %}
            <label>{{ form.name.label_tag }}</label>
          {% endcomment %}
            {{ form.name }}
            {% if form.name.errors %}
            <small class="text-muted">{{ form.name.errors }}</small>
            {% endif %}
        </div>
        <!-- Team Selection -->
        <p>Team</p>
        {% for user in  event.team.all %}
          {% if user.display_photo %}
            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-b-10" src="{{ user.display_photo.url }}" alt="user"></a>
          {% endif %}
        {% endfor %}
        <div class="form-group">
          {% comment %}
            <label class="capitalize">{{ form.team.label_tag }}</label>
          {% endcomment %}
            {{ form.team }}
            {% if form.team.errors %}
              <small class="text-muted">{{ form.team.errors }}</small>
            {% endif %}
        </div>
        <!-- Event Date -->
        <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">Event Date</label>
        <div class="form-group">
              {{ form.event_date }}
              {% if form.event_date.errors %}
                <small class="text-muted">{{ form.event_date.errors }}</small>
              {% endif %}
        </div>
      </div>

      <!-- Center Column -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <!--  event Text -->
        <div class="form-group">
        {% comment %}
          <label>{{ form.text.label_tag }}</label>
        {% endcomment %}
        {{ form.text }}
        {% if form.text.errors %}
          <small class="text-muted">{{ form.text.errors }}</small>
        {% endif %}
        </div>
      </div>

      <!-- Right Column -->

      <!-- Save Button -->
      <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <div class="row">
        <div class="col-xs-12 m-b-40">
          {% if  event.event_type == "Hosting" %}
          <button type="submit" class="btn btn-success content-bottom-10 btn btn-block no-border" name="form">Save Changes</button>
          {% elif  event.event_type == "Reporting" %}
          <button type="submit" class="btn btn-primary content-bottom-10 btn btn-block no-border" name="form">Save Changes</button>
          {% elif  event.event_type == "Other" %}
          <button type="submit" class="btn btn-warning content-bottom-10 btn btn-block no-border" name="form">Save Changes</button>
          {% else %}
          <button type="submit" class="btn btn-default content-bottom-10 btn btn-block no-border" name="form">Create event</button>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- Status Select -->
          <div class="form-group" id="fieldset-event-projects">
            {{ form.event_type }}
            {% if form.event_type.errors %}
              <small class="text-muted">{{ form.event_type.errors }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 m-b-40">
            <p class="f-s-14 subtle">Associate the event with an Organization Project, Series or Story.</p>
            <!-- Organization Select -->
            <div class="form-group" id="fieldset-event-projects">
              {{ form.evt_organization }}
              {% if form.evt_organization.errors %}
                <small class="text-muted">{{ form.evt_organization.errors }}</small>
              {% endif %}
            </div>
            <!-- Project Select -->
            <div class="form-group" id="fieldset-event-projects">
              {{ form.project }}
              {% if form.project.errors %}
                <small class="text-muted">{{ form.project.errors }}</small>
              {% endif %}
            </div>
            <!-- Series Select -->
            <div class="form-group" id="fieldset-event-series">
              {{ form.series }}
              {% if form.series.errors %}
                <small class="text-muted">{{ form.series.errors }}</small>
              {% endif %}
            </div>
            <!-- Story Select -->
            <div class="form-group" id="fieldset-event-stories">
              {{ form.story }}
              {% if form.story.errors %}
                <small class="text-muted">{{ form.story.errors }}</small>
              {% endif %}
            </div>
        </div>
      </div>


    </div>
    </div>
  </form>
</div>
<!-- End of form -->

<div class="row m-t-20">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <h5>Discussion</h5>
    {% with view.event_discussion as discussion %}
    <!-- Display Comments -->
    <div class="eventdiscussion">
        <div class="row">
          {% for comment in discussion.comments %}
            <div class="col-md-10">
              <p class="f-s-12">{{ comment.text }} <span class="f-s-10 color-default">| {{ comment.date|date:'D, M j g:i a' }}</span></p>
            </div>
            <div class="col-md-2">
              {% if comment.user.display_photo %}
              <a href="" title="{{ comment.user.first_name }}"><img class="media-object img-circle neg-m-l-10" width="32" src="{{ comment.user.display_photo.url }}" alt="user"></a>
              {% else %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
    </div>
    <!-- Comment Form -->
    <div class="comment">
        <div class="row">
          <form action="{% url 'create_eventcomment' %}" method="POST" class="post-form" role="form">
            <div class="col-xs-12">
                {% csrf_token %}
                <div class="input-group">
                  {{ discussion.form.text }}

                  {% if discussion.form.text.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ discussion.form.text.errors }}
                    </div>
                  {% endif %}
                  <!-- Hidden Inputs -->
                  <input type="hidden" name="association" value="event" />
                  <input type="hidden" name="event" value="{{ event.pk }}" />
                  <span class="input-group-btn">
                    <button id="eventcommentbutton" class="btn btn-default btn-lg" type="submit" name="eventcommentform"><i class="fa fa-paper-plane"></i></button>
                  </span>
                </div>
            </div>
          </form>
        </div>
    </div>

    {% endwith %}
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    {% with view.event_notes as notes %}
      <h5 class="m-b-20">Notes <a data-toggle="modal" data-target="#addEventNote" title="Add Event Note"><i class="fa fa-plus sameline dark"></i></a></h5>
      {% for note in notes.notes %}
        <div class="col-xs-12">
          <div class="card bs-card">
              <div class="card-block">
                  <a data-toggle="modal" data-target="#viewNote{{note.id}}" title="View Event Note"><h4 class="f-s-16 f-w-500 m-b-20">{{ note.title }}</h4></a>
                  <p class="card-text color-default f-s-12">{{ note.owner.credit_name }}
                      <br>{{ note.creation_date|date:'N j' }}, {{ note.creation_date|date:'g:i a' }}</p>
              </div>
          </div>
        </div>
      {% endfor %}
    {% endwith %}
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <h5>Assets</h5>
  </div>
</div>

<!-- ================================================= -->
<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->
<!-- ================================================= -->

<script>
$(".chosen-select").chosen()
</script>

<script>
  $('.event-delete a').on('click', function(e) {
       e.preventDefault();
          swal({
              title: 'Are you sure?',
              text: 'You will not be able to recover this event.',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!',
              closeOnConfirm: true
          }, function(result) {
              if (result) {
                $(".event-delete").attr("method", "POST").submit();
              } else {
                // do nothing on cancel
            }
          });
        });
</script>



{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}

<!-- ================================================= -->
              <!-- EVENTNOTE MODALS -->
<!-- ================================================= -->

<!-- Add Note Modal -->
{% with view.event_notes as notes %}
  <div class="modal fade" id="addEventNote" tabindex="-1" role="dialog" aria-labelledby="addEventNoteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="addEventNoteLabel">Add a note for this event:</h5>
        </div>
        <div class="modal-body">
          <form action="{% url 'create_event_note' %}" method="POST" class="post-form">
          {% csrf_token %}
          {% bootstrap_form notes.form %}
          <input type="hidden" name="event" value="{{ event.pk }}" />
          <button type="submit" class="btn btn-primary m-t-20">Post Note</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  {% for note in notes.notes %}
    <!-- View Note Modals -->
    <div class="modal fade" id="viewNote{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="viewNote{{note.id}}">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="viewNote{{note.id}}Label">{{ note.title }}</h4>
          </div>
          <div class="modal-body">
            {{ note.text|linebreaksbr }}
          </div>
          <div class="modal-footer">
            <p class="tiny-text">{{ note.owner }} | {{ note.creation_date|date:'D M j g:i a' }}<p>
            <small>Keywords: {% for keyword in note.keywords %}{{ keyword }}, {% endfor %}</small>
          </div>
        </div>
      </div>
    </div>
    <!-- END View Note Modals -->
  {% endfor %}

{% endwith %}

{% endblock modals %}
