{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}

{% block head %}
{{ form.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
        <li class="fadeIn"><a href="{% url 'story_detail' facet.story.id %}" title="Go to Story"> {{ facet.story.name }} </li>
        <li class="fadeIn"><a href="{% url 'facet_edit' facet.id %}" title="You are Here"> {{ facet.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}

<!-- ================================================= -->
                    <!-- Pseudo TABS -->
<!-- ================================================= -->

<div class="row">
  <div class="col-xs-12">
    <div class="bs-nav-tabs nav-tabs-default m-b-40" id="facettabs">
      <ul class="nav nav-tabs nav-animated-border-from-left nav-tabs-sticky text-center">
        <li class="nav-item"><a href="{% url 'story_detail' facet.story.id %}"><p class="f-r-14 f-w-300 m-b-0">Story Detail </p></a></li>
        <li class="nav-item"><p class="f-r-14 f-w-400 m-b-0 m-l-20 m-r-10"> | </p></li>
        {% for facet in facet.story.facet_set.all %}
        {% if facet.id|stringformat:"s" in request.path %}
        <li class="nav-item"><a href="{% url 'facet_edit' facet.id %}" class="nav-link active"><p class="f-r-10 f-w-300 m-b-0"> {{ facet.name }} </p></a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'facet_edit' facet.id %}" class="nav-link"><p class="f-r-10 f-w-300 m-b-0"> {{ facet.name }} </p></a></li>
        {% endif %}
        {% endfor %}
        <li class="nav-item"><a href="{% url 'facet_precreate' story=self.id %}"><p class="f-r-12 f-w-300"><i class="fa fa-plus-square" id="menu-plus" aria-hidden="true"></i></p></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

<div class="row">
  ERRORS={{form.errors}}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">

        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="row">

                <!-- ================================================= -->
                        <!-- BASE FORM FIELDS-->
                <!-- ================================================= -->

                <!-- Left column -->
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                    <p class="f-r-12 f-w-300">Details</p>
                    <!-- Facet Status -->
                    <fieldset class="form-group m-b-20">
                        <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.status.label_tag }}</label>
                        {{ form.status }}
                        {% if form.status.errors %}
                          <small class="text-muted">{{ form.status.errors }}</small>
                        {% endif %}
                    </fieldset>

                    <!-- Facet Name -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin"> Label: </label>
                      {{ form.name }}
                      {% if form.name.errors %}
                        <small class="text-muted">{{ form.name.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <!-- Facet Description -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">Description</label>
                      {{ form.description }}
                      {% if form.description.errors %}
                        <small class="text-muted">{{ form.description.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <!-- Facet Due Edit -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.due_edit.label_tag }}</label>
                      {{ form.due_edit }}
                      {% if form.due_edit.errors %}
                      <small class="text-muted">{{ form.due_edit.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <!-- Facet Run Date -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.run_date.label_tag }}</label>
                      {{ form.run_date }}
                      {% if form.run_date.errors %}
                      <small class="text-muted">{{ form.run_date.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <!-- Facet Team -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.credit.label_tag }}</label>
                      {{ form.credit }}
                      {% if form.credit.errors %}
                        <small class="text-muted">{{ form.credit.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <!-- Facet Editor -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.editor.label_tag }}</label>
                      {{ form.editor }}
                      {% if form.editor.errors %}
                        <small class="text-muted">{{ form.editor.errors }}</small>
                      {% endif %}
                    </fieldset>

                </div>
                <!-- Center column -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
                    <div class="row m-b-10">
                        <div class="col-xs-12 col-md-8 col-lg-10">

                            <!-- Facet Headline -->
                            <fieldset class="form-group">
                              {% comment %}
                              <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.headline.label_tag }}</label>
                              {% endcomment %}
                              {{ form.headline }}
                              {% if form.headline.errors %}
                                <small class="text-muted">{{ form.headline.errors }}</small>
                              {% endif %}
                            </fieldset>

                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-2">
                            <!-- Save Button -->
                            <button type="submit" class="btn btn-info btn-sm btn-block" name="form">Save Changes</button>
                        </div>
                    </div>

                    <!-- Facet Content -->
                    <fieldset class="form-group m-b-10">
                      {{ form.content }}
                      {% if form.content.errors %}
                        <small class="text-muted">{{ form.content.errors }}</small>
                      {% endif %}
                    </fieldset>

                    <!-- Facet Keywords -->
                    <fieldset class="form-group m-b-10">
                      {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.keywords.label_tag }}</label>{% endcomment %}
                      {{ form.keywords }}
                      {% if form.keywords.errors %}
                        <small class="text-muted">{{ form.keywords.errors }}</small>
                      {% endif %}
                    </fieldset>

                </div>
            </div>
            <!-- ================================================= -->
                      <!-- ASSETS -->
            <!-- ================================================= -->
            <div class="row m-t-20">
                    <!-- Image Assets -->
                    {% with view.facet_image_assets as facet_images %}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <p class="f-r-12 f-w-300 m-b-20">Images <a href="#" data-toggle="modal" data-target="#ImageAssetModal" data-facet="facet_image" title="Add Image"><i class="fa fa-plus sameline subtle"></i></a></p>
                      <div id="image-thumbs">
                        <div class="row m-b-10">
                          {% for image in facet_images.images %}
                            {% if image.display_photo %}
                              <div class="col-xs-4">
                                <a href="{{ image.display_photo.url }}" class="thumbnail"><img src="{{ image.display_photo.url }}" alt="{{ image.description }}" class="img-fluid"></a>
                              </div>
                              {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                                </div><div class="row m-b-10">
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                    <!-- Document Assets -->
                    {% with view.facet_document_assets as facet_documents %}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <p class="f-r-12 f-w-300 m-b-20">Documents <a href="#" data-toggle="modal" data-target="#DocumentAssetModal" data-facet="facet_document" title="Add Document"><i class="fa fa-plus sameline subtle"></i></a></p>
                      <div class="row">
                      {% for document in facet_documents.documents %}
                      <div class="col-xs-12 col-md-6">
                          {% if document.asset_type == 'OTHER' %}
                              <a href="{% url 'document_asset_detail' document.id %}" title="{{ document.description }}" target="_blank"><p class="f-w-300 m-l-10 f-r-9"><i class="fa fa-file-file-o subtle m-r-5"></i> {{ document.title }}</p></a>
                          {% endif %}
                          {% if document.asset_type == 'TEXT' %}
                              <a href="{% url 'document_asset_detail' document.id %}" title="{{ document.description }}" target="_blank"><p class="f-w-300 m-l-10 f-r-9"><i class="fa fa-file-text-o subtle m-r-5"></i> {{ document.title }}</p></a>
                          {% endif %}
                          {% if document.asset_type == 'WORD DOC' %}
                              <a href="{% url 'document_asset_detail' document.id %}" title="{{ document.description }}" target="_blank"><p class="f-w-300 m-l-10 f-r-9"><i class="fa fa-file-word-o subtle m-r-5"></i> {{ document.title }}</p></a>
                          {% endif %}
                          {% if document.asset_type == 'EXCEL' %}
                              <a href="{% url 'document_asset_detail' document.id %}" title="{{ document.description }}" target="_blank"><p class="f-w-300 m-l-10 f-r-9"><i class="fa fa-file-excel-o subtle m-r-5"></i> {{ document.title }}</p></a>
                          {% endif %}
                          {% if document.asset_type == 'PDF' %}
                              <a href="{% url 'document_asset_detail' document.id %}" title="{{ document.description }}" target="_blank"><p class="f-w-300 m-l-10 f-r-9"><i class="fa fa-file-pdf-o subtle m-r-5"></i> {{ document.title }}</p></a>
                          {% endif %}
                          {% if document.asset_type == 'COMMA SEPARATED' %}
                              <a href="{% url 'document_asset_detail' document.id %}" title="{{ document.description }}" target="_blank"><p class="f-w-300 m-l-10 f-r-9"><i class="fa fa-file-o subtle m-r-5"></i> {{ document.title }}</p></a>
                          {% endif %}
                        {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                      </div><div class="row">
                        {% endif %}
                      </div>
                      {% endfor %}
                      </div>
                    </div>
                    {% endwith %}
                    <!-- Audio Assets -->
                    {% with view.facet_audio_assets as facet_audio %}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <p class="f-r-12 f-w-300 m-b-20">Audio <a href="#" data-toggle="modal" data-target="#AudioAssetModal" data-facet="facet_audio" title="Add Audio"><i class="fa fa-plus sameline subtle"></i></a></p>
                      {% for audio in facet_audio.audio %}
                      <div class="col-xs-12 col-md-6">
                        {% if audio.asset_type == 'MP3' or audio.asset_type == 'WAV' %}
                            <div id="jplayer_audio_{{audio.pk}}" class="jp-jplayer"></div>

                            <div id="jp_container_audio_{{audio.pk}}" class="jp-flat-audio m-t-10" role="application" aria-label="media player">
                              <div class="jp-play-control jp-control">
                                <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
                              </div>
                              <div class="jp-bar">
                                <div class="jp-seek-bar jp-seek-bar-display"></div>
                                <div class="jp-seek-bar">
                                  <div class="jp-play-bar"></div>
                                  <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
                                  <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
                                </div>
                              </div>
                              <div class="jp-no-solution">
                                Media Player Error<br />
                                Update your browser or Flash plugin
                              </div>
                            </div>
                            <script>
                              jQuery(document).ready(function($) {
                              $("#jplayer_audio_{{audio.pk}}").jPlayer({
                                ready: function(event) {
                                  $(this).jPlayer("setMedia", {
                                    title: "{{audio.title}}",
                                    wav: "{{audio.audio.url}}",
                                    mp3: "{{audio.audio.url}}",
                                  });
                                },
                                play: function() { // Avoid multiple jPlayers playing together.
                                  $(this).jPlayer("pauseOthers");
                                },
                                timeFormat: {
                                  padMin: false
                                },
                                swfPath: "js",
                                supplied: "wav, mp3",
                                cssSelectorAncestor: "#jp_container_audio_{{audio.pk}}",
                                useStateClassSkin: true,
                                autoBlur: false,
                                smoothPlayBar: true,
                                remainingDuration: true,
                                keyEnabled: true,
                                keyBindings: {
                                  // Disable some of the default key controls
                                  loop: null,
                                  muted: null,
                                  volumeUp: null,
                                  volumeDown: null
                                },
                                wmode: "window"
                              });
                            });
                            </script>
                          {% endif %}
                          {% if audio.asset_type == 'SC' %}
                              <a href="{{ audio.link }}" title="{{ audio.description }}" target="_blank"><i class="fa fa-soundcloud sameline"></i> <span class="small-text dark sameline">{{ audio.title }}</span></a>
                          {% endif %}
                        {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                          </div><div class="row m-b-10">
                        {% endif %}
                      </div>
                      {% endfor %}
                    </div>
                    {% endwith %}
                    <!-- Video Assets -->
                    {% with view.facet_video_assets as facet_video %}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <p class="f-r-12 f-w-300 m-b-20">Video <a href="#" data-toggle="modal" data-target="#VideoAssetModal" data-facet="facet_video" title="Add Video"><i class="fa fa-plus sameline subtle"></i></a></p>
                      {% for video in facet_video.videos %}
                          <div class="col-xs-12 col-md-6">
                            {% if video.asset_type == 'MP4' %}
                                <div id="jp_container_video_{{video.pk}}" class="jp-flat-video" role="application" aria-label="media player">
                                  <div id="jplayer_video_{{video.pk}}" class="jp-jplayer"></div>
                                  <div class="jp-gui">
                                    <div class="jp-play-control jp-control">
                                      <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
                                    </div>
                                    <div class="jp-bar">
                                      <div class="jp-seek-bar jp-seek-bar-display"></div>
                                      <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                        <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
                                        <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
                                      </div>
                                    </div>
                                    <div class="jp-screen-control jp-control">
                                      <button class="jp-full-screen jp-button" role="button" aria-label="full screen" tabindex="0"></button>
                                    </div>
                                  </div>
                                  <div class="jp-no-solution">
                                    Media Player Error<br />
                                    Update your browser or Flash plugin
                                  </div>
                                </div>
                                <script>
                                    $(document).ready(function($) {
                                    $("#jplayer_video_{{video.pk}}").jPlayer({
                                      ready: function(event) {
                                        var $this = $(this).jPlayer("setMedia", {
                                          title: "Big Buck Bunny Trailer",
                                          m4v: "http://jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
                                          ogv: "http://jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
                                          webmv: "http://jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
                                          poster: "http://jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
                                        });

                                        // Fix GUI when Full Screen button is hidden.
                                        if(event.jPlayer.status.noFullWindow) {
                                          var $anc = $($this.jPlayer("option", "cssSelectorAncestor"));
                                          $anc.find('.jp-screen-control').hide();
                                          $anc.find('.jp-bar').css({"right":"0"});
                                        }

                                        // Fix the responsive size for iOS and Flash.
                                        var fix_iOS_flash = function() {
                                          var w = $this.data("jPlayer").ancestorJq.width(),
                                            h = w * 9 / 16; // Change to suit your aspect ratio. Used 16:9 HDTV ratio.
                                          $this.jPlayer("option", "size", {
                                            width: w + "px",
                                            height: h + "px"
                                          });
                                        };
                                        var plt = $.jPlayer.platform;
                                        if(plt.ipad || plt.iphone || plt.ipod || event.jPlayer.flash.used) {
                                          $(window).on("resize", function() {
                                            fix_iOS_flash();
                                          });
                                          fix_iOS_flash();
                                        }
                                      },
                                      timeFormat: {
                                        padMin: false
                                      },
                                      swfPath: "js",
                                      supplied: "webmv, ogv, m4v",
                                      cssSelectorAncestor: "#jp_container_video_{{video.pk}}",
                                      // See the CSS for more info on changing the size.
                                      size: {
                                        width: "100%",
                                        height: "auto",
                                        cssClass: "jp-flat-video-responsive"
                                      },
                                      sizeFull: {
                                        cssClass: "jp-flat-video-full"
                                      },
                                      autohide: {
                                        full: false,
                                        restored: false
                                      },
                                      // While playing, allow the GUI to hide
                                      play: function() {
                                        $(this).jPlayer("option", "autohide", {
                                          full: true,
                                          restored: true
                                        });
                                        // Avoid multiple jPlayers playing together.
                                        $(this).jPlayer("pauseOthers");
                                      },
                                      // When paused, show the GUI
                                      pause: function() {
                                        $(this).jPlayer("option", "autohide", {
                                          full: false,
                                          restored: false
                                        });
                                      },
                                      // Enable clicks on the video to toggle play/pause
                                      click: function(event) {
                                        if(event.jPlayer.status.paused) {
                                          $(this).jPlayer("play");
                                        } else {
                                          $(this).jPlayer("pause");
                                        }
                                      },
                                      useStateClassSkin: true,
                                      autoBlur: false,
                                      smoothPlayBar: !($.jPlayer.browser.msie && $.jPlayer.browser.version < 9), // IE8 did not like the hidden animated progress bar.
                                      remainingDuration: true,
                                      keyEnabled: true,
                                      keyBindings: {
                                        // Disable some of the default key controls
                                        loop: null,
                                        muted: null,
                                        volumeUp: null,
                                        volumeDown: null
                                      }
                                    });
                                  });
                                </script>
                            {% endif %}
                            {% if video.asset_type == 'YOUTUBE' %}
                              <a href="{{ video.link }}" title="View {{ video.title }}" class="embedded-video"><p class="f-r-10 f-w-300 f-r-9"><i class="fa fa-youtube-play subtle"></i> {{ video.title }}</p></a>
                            {% endif %}
                            {% if video.asset_type == 'VIMEO' %}
                              <a href="{{ video.link }}" title="View {{ video.title }}" class="embedded-video"><p class="f-r-10 f-w-300 f-r-9"><i class="fa fa-vimeo subtle"></i> {{ video.title }}</p></a>
                            {% endif %}
                          {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                        </div><div class="row m-b-5">
                          {% endif %}
                          </div>
                      {% endfor %}
                    </div>
                    {% endwith %}
            </div>
            <!-- ================================================= -->
                <!-- CUSTOM FORM FIELDS -->
            <!-- ================================================= -->
            <div class="row">
              <p class="f-r-12 m-l-20 f-w-300 m-t-20">Additional Information</p>
              {% for f in form.get_fields_to_show %}
                <div class="col-xs-12 col-sm-3">
                    <fieldset class="form-group m-b-10">
                    <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ f.label_tag }}</label>
                    {{ f }}
                    {% if f.errors %}
                      <small class="text-muted">{{ f.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
              {% endfor %}
            </div>


        </form>

    </div>


    <!-- Right column -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">

        <!-- ================================================= -->
                        <!-- DISCUSSION -->
        <!-- ================================================= -->

        <!-- Facet Discussion -->
        <p class="f-r-12 f-w-300">Discussion</p>
        {% with view.facet_discussion as discussion %}
        <!-- Display Comments -->
        <div class="facetdiscussion">
            <div class="row">
              {% for comment in discussion.comments %}
                <div class="col-md-10">
                  <p class="f-s-12">{{ comment.text }} <span class="f-s-10 color-default">| {{ comment.date|date:'D, M j g:i a' }}</span></p>
                </div>
                <div class="col-md-2">
                  {% if comment.user.display_photo %}
                  <a href="" title="{{ comment.user.first_name }}"><img class="media-object img-circle neg-m-l-10" width="32" src="{{ comment.user.display_photo.url }}" alt="user"></a>
                  {% else %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
        </div>
        <!-- Comment Form -->
        <div class="comment">
            <div class="row">
              <form action="{% url 'create_facetcomment' %}" method="POST" class="post-form" role="form">
                <div class="col-xs-12">
                    {% csrf_token %}
                    <div class="input-group">
                      {{ discussion.form.text }}

                      {% if discussion.form.text.errors %}
                        <div class="alert alert-warning" role="alert">
                        {{ discussion.form.text.errors }}
                        </div>
                      {% endif %}
                      <!-- Hidden Inputs -->
                      <input type="hidden" name="association" value="facet" />
                      <input type="hidden" name="facet" value="{{ facet.pk }}" />
                      <span class="input-group-btn">
                        <button id="facetcommentbutton" class="btn btn-default btn-lg" type="submit" name="facetcommentform"><i class="fa fa-paper-plane"></i></button>
                      </span>
                    </div>
                </div>
              </form>
            </div>
        </div>
        {% endwith %}

        <!-- Facet Edit History -->
        <p class="f-r-12 f-w-300 m-t-20">Edit History</p>

    </div>
</div>



<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->

<script>
  $(".chosen-select").chosen()

  $('#image-thumbs').magnificPopup({
    delegate: 'a',
    type: 'image',
    gallery: {enabled:true}
  });
</script>

<script>
  $('.embedded-video').magnificPopup({
    type: 'iframe',
    iframe: {
        patterns: {
            youtube: {
                index: 'youtu.be/',
                id: function(url) {
                    var m = url.match(/[\\?\\&]v=([^\\?\\&]+)/);
                    if ( !m || !m[1] ) return null;
                    return m[1];
                },
                src: '//www.youtube.com/embed/%id%?autoplay=1'
            },
            vimeo: {
                index: 'vimeo.com/',
                id: function(url) {
                    var m = url.match(/(https?:\/\/)?(www.)?(player.)?vimeo.com\/([a-z]*\/)*([0-9]{6,11})[?]?.*/);
                    if ( !m || !m[5] ) return null;
                    return m[5];
                },
                src: '//player.vimeo.com/video/%id%?autoplay=1'
            }
        }
    }
  });
</script>


{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}

<!-- ================================================= -->
            <!-- NEW FACET  MODAL -->
<!-- ================================================= -->

  {% include "editorial/facet_precreatemodal.html" %}

<!-- ================================================= -->
            <!-- IMAGE MODAL -->
<!-- ================================================= -->

  {% include "editorial/facet_imageassetmodal.html" %}

<!-- ================================================= -->
            <!-- DOCUMENT MODAL -->
<!-- ================================================= -->

  {% include "editorial/facet_documentassetmodal.html" %}

<!-- ================================================= -->
            <!-- AUDIO MODAL -->
<!-- ================================================= -->

  {% include "editorial/facet_audioassetmodal.html" %}

<!-- ================================================= -->
            <!-- VIDEO MODAL -->
<!-- ================================================= -->

  {% include "editorial/facet_videoassetmodal.html" %}


{% endblock modals %}
