{% extends 'base.html' %}

{% block content %}

  <div class="inner cover">
    <h1 class="cover-heading">Project Facet</h1>
    <p class="lead">Facet is an open source project to help newsrooms strategically plan content across publishing platforms. We want to help newsrooms manage planning, assigning, and editing content no matter where it’s going to be published.</p>
    <p>Facet fosters collaboration by creating networks to share the editorial process with teams both in and outside of your organization as well as discovering new partners to collaborate with.</p>
  </div>

{% endblock %}