{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}

{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="login-page text-center animated fadeIn delay-1000">
        <h1 class="cover-heading center">Project Facet</h1>
        <h5 class="lead center">Facet is an open source project to help newsrooms strategically plan content across publishing platforms. </h5>
        <h5>We want to help newsrooms manage planning, assigning, and editing content no matter where it’s going to be published.</h5>
        <h5 class="lead center">Facet fosters collaboration by creating networks to share the editorial process with teams</h5>
        <h5> both in and outside of your organization as well as discovering new partners to collaborate with.</h5>
      </div>
    </div>
  </div>
</div>

{% endblock %}
