{% extends 'editorial/base_inbox.html' %}

{% block content_inbox %}

             <div class="inbox-header">
                  <h3> Inbox </h3>
                  <div class="m-b-20">
                      <div class="btn-group pull-right">

                      </div>
                      {% comment %}<a href="{% url 'inbox' %}"><button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> </button></a>{% endcomment %}
                      {% comment %}<button class="btn btn-default btn-sm"><i class="fa fa-eye"></i> </button>{% endcomment %}
                      {% comment %}<button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i> </button>{% endcomment %}
                      {% comment %}<button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> </button>{% endcomment %}
                  </div>
              </div>
              <div class="inbox-content">
                  {% if messages %}
                  <table class="table">
                      <tbody>
                          {% for message in messages %}
                          <tr id="{{message.id}}-table-row">
                              <td>
                                <a href="{% url 'message_html' message.pk %}" class="specific-message"> <span class="email-contact">{{ message.user.credit_name }}</span> </a>
                              </td>
                              <td class="subject"><a href="{% url 'message_html' message.pk %}" class="specific-message">{{ message.subject }}</a> </td>
                              <td class="text-right">{{ message.date|date:'D, M j' }} at {{ message.date|date:'g:i a' }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  {% else %}
                  <p class="f-r-10 subtle text-center italic m-b-40 m-t-40">Welcome to your inbox. This is where you will see all your private messages. Click here to <a href="{% url 'privatemessage_compose' %}" title="Compose a message" class="default">compose a message</a>.</p>
                  {% endif %}
              </div>

{% endblock %}
