{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center">Networks</h1>
    </div>
  </div>
</div>

<div class="row">
{% for network in network_list %}

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="panel fade in panel-default" data-init-panel="true">
    <div class="panel-body network-panel">
      <div class="media">
        <div class="media-body">
          <h3 class="brighter"><a href="{% url 'network_detail' network.id %}">{{ network.name }}</a></h3>
          <p class="help-block bright">{{ network.network_description }} {% if request.user.organization == network.owner_organization %}<a href="{% url 'network_edit' pk=network.id %}"><i class="fa fa-pencil sameline dark"></i></a>{% endif %}</p>
          <hr>
          <p class="bright">Managing Organization: {{ network.owner_organization.name }}</p>
          <p class="bright">Member Organizations: {% for organization in network.members.all %}{{ organization.name }}, {% endfor %}</p>
        </div><!-- /.media -body-->
      </div><!-- /.media -->
    </div><!-- /.panel-body -->

    <div class="progress progress-xs no-radius no-margin">
      <div class="progress-bar bg-grd-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      </div>
    </div><!-- /.progress -->
  </div><!-- /.panel -->
</div><!-- /.cols -->

{% endfor %}

</div>
{% endblock %}
