{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'network_list' %}" title="You are here"> Networks </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  {% if networks %}
    {% for network in networks %}
    <div class="col-xs-12 col-lg-4 m-b-5">
          <div class="text-widget-1">
              <div class="row">
                  <div class="col-xs-3"> <h5 class="m-l-20"><a href="{% url 'network_detail' network.id %}">{{ network.name }}</a></h5> </div>
                  <div class="col-xs-9 text-left">
                    <p class="f-s-14 f-w-300">{{ network.network_description }} {% if request.user.organization == network.owner_organization %}<a href="{% url 'network_edit' pk=network.id %}"> <i class="fa fa-pencil sameline"></i></a>{% endif %}</p>
                    <p class="f-s-12 f-w-300"><span class="f-w-600 f-s-11 uppercase">Managing Organization</span> {{ network.owner_organization }}</p>
                    <span class="f-w-600 f-s-11 uppercase">Members</span>
                    <p class="f-s-12 f-w-300">{% for organization in network.organizations.all %}{{ organization.name }}, {% endfor %}</p>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    {% else %}
    <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the Network page. This is where you will see all of the networks that your organization manages or belongs. Click here to create a <a href="{% url 'network_new' %}" title="Create New Network" class="default">network</a>.</p>
    {% endif %}

</div>

{% endblock %}
