{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block head %}
{{ networkform.media }}
{% endblock %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-xs-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">New Network</h1>
    </div>
  </div>
</div>

<div class="row content-lower-25">
  <div class="col-xs-12">
    <div class="row">
    <form method="POST" class="post-form">{% csrf_token %}
      <!-- Left Side -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="form-group custom-form">
          <a href="#" data-toggle="tooltip" title="{{ seriesform.name.help_text }}"><span class="field-label">{{ networkform.name.label_tag }}</span></a>
          {{ networkform.name }}
          {% if networkform.name.errors %}
            <div class="alert alert-warning" role="alert">
            {{ networkform.name.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group custom-form">
          <a href="#" data-toggle="tooltip" title="{{ seriesform.series_description.help_text }}"><span class="field-label">{{ networkform.network_description.label_tag }}</span></a>
          {{ networkform.network_description }}
          {% if networkform.network_description.errors %}
            <div class="alert alert-warning" role="alert">
            {{ networkform.network_description.errors }}
            </div>
          {% endif %}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script>
$(".chosen-select").chosen()
</script>

{% endblock %}
