{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'network_list' %}" title="You are here"> Networks </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    {% if networks %}
    <!-- Full table for xs, sm, md and lg displays -->
    <table id="network-list" class="table table-condensed table-striped">
      <thead>
        <tr class="f-s-12">
          <th>Network</th>
          <th>Description</th>
          <th>Managing Org</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
        {% for network in networks %}
          <tr class="f-s-14">
            <td><a href="{% url 'network_detail' network.id %}">{{ network.name }}</a></td>
            <td>{{ network.network_description }} {% if request.user.organization == network.owner_organization %}<a href="{% url 'network_edit' pk=network.id %}"> <i class="fa fa-pencil sameline"></i></a>{% endif %}</td>
            <td>{{ network.owner_organization }}</td>
            <td>{% for organization in network.organizations.all %}{{ organization.name }}, {% endfor %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the Network page. This is where you will see all of the networks that your organization manages or belongs. Click here to create a <a href="{% url 'network_new' %}" title="Create New Network" class="default">network</a>.</p>
    {% endif %}
  </div>
</div>

<script>
$(document).ready(function() {
    $('#network-list').DataTable();
} );
</script>

{% endblock %}
