{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<h1>Network Story Facets List</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Story</th>
      <th>Facet</th>
      <th>Title</th>
      <th>Credit</th>
      <th>Edit Date</th>
    </tr>
  </thead>
  <tbody>
    {% for facet in networkstoryfacets %}
    <tr>
      <td>{{ facet.story.name }}</td>
      <td>{{ facet.facet_type }}</td>
      <td>{{ facet.title }}</td>
      <td>{{ facet.credit.credit_name }}</td>
      <td>{{ facet.due_edit}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>





{% endblock %}
