{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
  <!-- <div class="col-md-2 col-lg-2 col-sm-1">
    <img alt="cover" class="profile-page-pic no-padding border-white content-upper-75" src="/static/images/faces/face23.jpg">
  </div> -->
  <div class="col-lg-12 content-upper-85">
    <h1 class="media-heading text-light center thin uppercase spread-025">{{ organization.name }}</h1>
    <h5 class="center thin"> {{ organization.org_description }}</h5>
  </div>
  <!-- <div class="social">
  <p>
    <a href="{{ user.twitter }}" class="btn btn-sm btn-circle ml-1x" aria-label="twitter"><i class="fa fa-lg fa-twitter"></i></a>
    <a href="{{ user.github }}" class="btn btn-sm btn-circle" aria-label="github"><i class="fa fa-lg fa-github"></i></a>
    <a href="{{ user.instagram }}" class="btn btn-sm btn-circle ml-1x" aria-label="instagram"><i class="fa fa-lg fa-instagram"></i></a>
    <a href="{{ user.facebook }}" class="btn btn-sm btn-circle ml-1x" aria-label="facebook"><i class="fa fa-lg fa-facebook"></i></a>
    <a href="{{ user.vine }}" class="btn btn-sm btn-circle ml-1x" aria-label="vine"><i class="fa fa-lg fa-vine"></i></a>
    </p>
  </div> -->
  </div>
</div>

<div class="row content-lower-10">
  <!-- Left Column -->
  <div class="col-md-10 right-rule">
    <div class="discussion">
      <a href="#" data-toggle="tooltip" title="Discussion for the organization"><label class="field-label">Discussion</label></a>
      <div class="comments" data-toggle="slimScroll" style="height:280px" data-color="#5D9CEC" data-allow-page-scroll="false">
          {% if organizationcomments %}
          {% for comment in organizationcomments %}
            <div class="row">
                <div class="col-md-11">
                  <p>{{ comment.text }}</p>
                  <p class="tiny-text">{{ comment.date|date:'D M j g:i a' }}</p>
                </div>
                <div class="col-md-1">
                  <img class="media-object img-circle" width="32" src="/static/media/profile/{{ comment.user.first_name}}{{ comment.user.id}}.jpg" alt="user">
                  <p class="tiny-text">{{ comment.user.first_name }}</p>
                </div>
            </div>
          {% endfor %}
          {% endif %}
      </div>
      <div class="post-comment">
            <div class="row">
              <form action="/organizationcomment/new" method="POST" class="post-form" role="form">
                <div class="col-md-10">
                    {% csrf_token %}
                    <div class="form-group">
                    {{ organizationcommentform.text }}
                    </div>
                    {% if organizationcommentform.text.errors %}
                      <div class="alert alert-warning" role="alert">
                      {{ organizationcommentform.text.errors }}
                      </div>
                    {% endif %}
                    <input type="hidden" name="organization" value="{{ organization.pk }}" />
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                      <button type="submit" class="btn btn-default btn-lg" name="organizationcommentform">
                          <i class="fa fa-paper-plane"></i>
                      </button>
                    </div>
                    <!-- <input type="submit" name="seriescommentform" value="Post Comment"/> -->
                </div>
              </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="orgnotes">
      <div>
      <a href="#" data-toggle="tooltip" title="Organization Notes"><label class="field-label">Notes</label></a>
      <a href="#" data-toggle="modal" data-target="#addOrganizationNote" title="Add Organization Note"><i class="fa fa-plus sameline dark"></i></a></p>
      </div>
      <div class="displaynotes">
      {% for note in organizationnotes %}
      <!-- MODAL TRIGGER -->
        <a href="#" data-toggle="modal" data-target="#addNote{{note.id}}">
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="panel fade in panel-default note-panel" data-init-panel="true">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <!-- Place icon or image here -->
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading brighter">{{ note.title }}</h5>
                    <p class="help-block tiny-text bright">{{ note.owner.credit_name }}</p>
                  </div><!-- /.media -body-->
                </div><!-- /.media -->
              </div><!-- /.panel-body -->

              <div class="progress progress-xs no-radius no-margin">
                <div class="progress-bar bg-grd-orange" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
              </div><!-- /.progress -->
            </div><!-- /.panel -->
          </div><!-- /.cols -->
        </a>
      <!-- END MODAL TRIGGER -->
      <!-- MODAL ITSELF -->
        <div class="modal fade" id="addNote{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="addaddNote{{note.id}}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addNote{{note.id}}Label">{{ note.title }}</h4>
              </div>
              <div class="modal-body dark">
                {{ note.text }}
              </div>
              <div class="modal-footer">
                <p class="tiny-text">{{ note.owner }} | {{ note.creation_date|date:'D M j g:i a' }}<p>
                <p class="tiny-text">Keywords: {% for keyword in note.keywords %}{{ keyword }}, {% endfor %}<p>
              </div>
            </div>
          </div>
        </div>
      <!-- END MODAL -->
      {% endfor %}
      <a href="{% url 'organization_notes' pk=organization.id %}" class="link-text">See all notes...</a>
    </div>
    </div>
  </div>
  <!-- Right column -->
  <div class="col-md-2">
    <a href="#" data-toggle="tooltip" title="{{ organization.name }} Team Members"><label class="field-label" id="team-label">Team</label></a>
    <div class="team" data-toggle="slimScroll" style="height:520px" data-color="#5D9CEC" data-allow-page-scroll="false">
      <div class="row">
        {% for user in organization.user_set.all %}
        <a href="{% url 'user_detail' pk=request.user.id %}">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="panel fade in panel-default" data-init-panel="true">
            <div class="user-panel-body">
              <div class="media">
                <div class="media-left">
                  <div class="kit-avatar kit-avatar-42 kit-avatar-square no-border team-panel-avatar">
                    <img class="media-object" src="/static/media/profile/{{ user.first_name}}{{user.id}}.jpg" alt="project brand">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="media-heading brighter uppercase">{{ user.credit_name}}</h>
                  <p class="help-block bright tiny-text">{{ user.title }}</p>
                </div><!-- /.media -body-->
              </div><!-- /.media -->
            </div><!-- /.panel-body -->

            <div class="progress progress-xs no-radius no-margin">
              <div class="progress-bar bg-grd-teal" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div><!-- /.progress -->
          </div><!-- /.panel -->
        </div><!-- /.cols -->
        </a>
        {% endfor %}
      </div>

    </div>
  </div>

</div>

<!-- Add Note Modal -->
<div class="modal fade" id="addOrganizationNote" tabindex="-1" role="dialog" aria-labelledby="addOrganizationNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUserModalLabel">Add a note for this organization</h4>
      </div>
      <div class="modal-body">
        <form action="/organization/note/new/" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form organizationnoteform %}
        <input type="hidden" name="organization" value="{{ organization.pk }}" />
        <button type="submit" class="btn btn-primary">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock %}
