{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        {% if request.user.organization %}
        <li class="fadeIn"><a href="{% url 'org_detail' pk=request.user.organization.id %}" title="You are here"> Organization </a></li>
        {% endif %}
        <li class="hidden-md-down">{{ organization.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

{% block content %}
<!-- Row One -->
<div class="row m-b-40">

  <!-- Left Column -->
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="discussion">
      <h4 class="m-b-20">Discussion</h4>
      <div class="discussion-container">
          {% if organizationcomments %}
            {% for comment in organizationcomments %}
            <div class="row m-b-10">
                <div class="col-xs-12">
                    <div class="media">
                        <a class="media-left">
                          {% if comment.user.display_photo %}
                            <img class="media-object img-circle h-40 w-40" src="{{ comment.user.display_photo.url }}" alt="user">
                          {% else %}
                            <p class="f-w-300 f-s-12">{{ comment.user.first_name }}</p>
                          {% endif %}
                        </a>
                        <div class="media-body">
                            <p class="f-w-300 f-s-16">{{ comment.text }}
                            <span class="f-w-400 f-s-12 color-default p-r-40" style="float: right;">
                              {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }}
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
          {% else %}
            <p class="f-r-10 subtle text-center italic m-b-40 m-t-40">This is where you will see comments <br> from the organization discussion.</p>
            <p class="f-r-10 subtle text-center italic m-b-40 m-t-40">Add a comment below to <br>start the conversation.</p>
          {% endif %}
      </div>
      <div class="post-comment">
            <div class="row">

              <form action="{% url 'create_orgcomment' %}" method="POST" class="post-form" role="form">
                <div class="col-md-10">
                    {% csrf_token %}
                    <div class="form-group">
                    {{ organizationcommentform.text }}
                    </div>
                    {% if organizationcommentform.text.errors %}
                      <div class="alert alert-warning" role="alert">
                      {{ organizationcommentform.text.errors }}
                      </div>
                    {% endif %}
                    <!-- Hidden Inputs -->
                    <input type="hidden" name="association" value="organization" />
                    <input type="hidden" name="organization" value="{{ organization.pk }}" />
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                      <button type="submit" class="btn btn-default btn-lg" name="organizationcommentform">
                          <i class="fa fa-paper-plane"></i>
                      </button>
                    </div>
                    <!-- <input type="submit" name="seriescommentform" value="Post Comment"/> -->
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>
  <!-- End of Left column -->

  <!-- Right column -->
  <div class="col-cs-12 col-sm-12 col-md-3 col-lg-3">
    <h4>Team</h4>
    <div class="team" data-toggle="slimScroll" style="height:420px" data-color="#5D9CEC" data-allow-page-scroll="false">
      <div class="row">
        {% for user in organization.user_set.all %}
          {% if user.is_active %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> <!-- Start of Team Card -->
              <div class="m-b-20">
                <!-- User Image -->
                <a href="{% url 'user_detail' user.id %}"> {% if user.display_photo %}<img class="image-center img-rounded m-b-5" width=50 src="{{ user.display_photo.url }}" alt="{{ user.credit_name }} profile image">{% else %}<img class="image-center img-rounded m-b-5" width=50 src="{% static 'images/nophoto.jpg' %}" alt="{{ user.credit_name }} profile image">{% endif %} </a>
                <p class="f-s-12 subtle text-center"><a href="{% url 'user_detail' user.id %}">{{ user.credit_name }}</a></p>
                <!-- End of User Image -->
              </div>
            </div> <!-- End of Team Card -->
          {% endif %}
          {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
  <!-- End of Right Column -->
</div>


<!-- Row Two -->
<div class="row m-b-40">
  <!-- Left column -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="orgnotes">
      <div>
        <h4 class="m-b-20">
          <a data-toggle="modal" data-target="#addOrganizationNote" title="Add Organization Note">
            <i class="fa fa-plus sameline subtle m-r-20"></i>
          </a>
          Notes
          <a href="{% url 'org_notes' pk=organization.id %}" class="link-text m-b-40 subtle">
            <span class="f-s-12 f-w-400 m-l-10 subtle"> (All notes <i class="fa fa-long-arrow-right subtle" aria-hidden="true">)</i></span>
          </a>
        </h4>
      </div>
      <div class="activity-widget-4">
      {% for note in notes|slice:":6" %}
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-body">
              <h5 class="media-heading">
                {% if note.important == True %}
                <i class="fa fa-star f-r-8 color-warning-100" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-star-o f-r-8 subtle" aria-hidden="true"></i>
                {% endif %}
                <a data-toggle="modal" data-target="#viewNote{{note.id}}" title="View Event Note"> {{ note.title }} </a>
              </h5>
              <small class="f-s-14">{{ note.owner.credit_name }}</small></br>
              <small class="color-default">{{ note.creation_date|date:'N j, g:i a' }}</small>
              <!-- Note Delete -->
              <form class="note-delete sameline" method="GET"
                    action="{% url 'note_delete' note.id %}">
                    <!-- onsubmit="return confirm('Do you want to delete this task?')"> -->
                    {% csrf_token %}
                <a href="javascript:$('.note-delete').submit();"><i class="fa fa-trash subtle float-right" style="float:right;" aria-hidden="true"></i></a>
                <!-- <input type="submit" class="btn btn-sm btn-danger-100" value="Delete"> -->
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
  <!-- Right column -->
  <div class="col-cs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="row">
      <h4 class="m-b-20">Organization Assets</h4>
        <div class="row">
        <!-- Images -->
        {% with view.simple_images as images %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="f-r-12 f-w-300 m-b-20">Images <a href="#" data-toggle="modal" data-target="#SimpleImageAssetModal" title="Add Image"><i class="fa fa-plus sameline subtle"></i></a></p>
          <div id="image-thumbs">
            <div class="row m-b-10">
              {% for image in images.images %}
                {% if image.display_photo %}
                  <div class="col-xs-4">
                    <a href="{{ image.display_photo.url }}" class="thumbnail"><img src="{{ image.display_photo.url }}" alt="{{ image.description }}" class="img-fluid"></a>
                  </div>
                  {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                    </div><div class="row m-b-10">
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endwith %}
        <!-- Documents -->
        {% with view.simple_documents as documents %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="f-r-12 f-w-300 m-b-20">Documents <a href="#" data-toggle="modal" data-target="#SimpleDocumentAssetModal" title="Add Document"><i class="fa fa-plus sameline subtle"></i></a></p>
          {% for document in documents.documents %}
            <a href="{{ document.document.url }}" target="_blank"><p class="f-w-300 m-l-10 f-r-9"><i class="fa fa-file subtle m-r-5"></i> {{ document.title }}</p></a>
            {% if forloop.counter|divisibleby:"2" and not forloop.last %}
            {% endif %}
          {% endfor %}
        </div>
        {% endwith %}
        </div>
    </div>
  </div>

</div>


<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->

<script>
$(document).ready(function() {
  $(".abbr-text").dotdotdot();
});
</script>

<!-- Chosen, Thumbnails, Image Library -->
<script>
  $(".chosen-select").chosen()

  $('#image-thumbs').magnificPopup({
    delegate: 'a',
    type: 'image',
    gallery: {enabled:true}
  });

</script>

<!-- Note Delete Confirmation -->
<script>
  var form;
  $('.note-delete a').on('click', function(e) {
      form = e.currentTarget.closest("form");
      e.preventDefault();
        swal({
            title: 'Are you sure?',
            text: 'You will not be able to recover this note.',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            closeOnConfirm: true
        }, function(result) {
            if (result) {
              form.method = "POST";
              form.submit();
            } else {
              // do nothing on cancel
          }
        });
      });
</script>

{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}


<!-- ================================================= -->
          <!-- Simple Image Asset Modal -->
<!-- ================================================= -->

{% with view.simple_images as images %}
<div class="modal fade" id="SimpleImageAssetModal" tabindex="-1" role="dialog" aria-labelledby="SimpleImageAssetModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="bs-nav-tabs nav-tabs-default">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploadimage">Upload a Photo</a></li>
          </ul>
        </div>
        <div class="modal-body" id="imagemodalbody">
          <div class="tab-content">
            <!-- UPLOAD PANEL -->
            <div role="tabpanel" class="tab-pane active" id="uploadimage">
              <div class="uploadpanel" data-toggle="slimScroll" style="height:300px" data-color="#5D9CEC" data-allow-page-scroll="false">
              <form action="{% url 'upload_simple_image' %}" method="POST" class="post-form" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Left Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ images.form.photo.label_tag }}</label>
                  {{ images.form.photo }}
                  {% if images.form.photo.errors %}
                    <small class="text-muted">{{ images.form.photo.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin"><span class="field-label">{{ images.form.title.label_tag }}</label>
                  {{ images.form.title }}
                  {% if images.form.title.errors %}
                    <small class="text-muted">{{ images.form.title.errors }}</small>
                  {% endif %}
                </fieldset>

              </div>
              <!-- End Left Col -->
              <!-- Right Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ images.form.description.label_tag }}</label>
                  {{ images.form.description }}
                  {% if images.form.description.errors %}
                    <small class="text-muted">{{ images.form.description.errors }}</small>
                  {% endif %}
                </fieldset>


              </div>
              <!-- End Right Col -->
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div class="hidden-image-inputs">
                  <input type="hidden" name="association" value="organization" />
                  <input type="hidden" name="organization" value="{{ organization.pk }}" />
              </div>
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div>
                <button type="submit" class="btn btn-primary m-l-20">Save Image</button>
              </div>
              </form>
              </div>
            </div>
            <!-- END UPLOAD PANEL -->
          </div>
        </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
{% endwith %}

<!-- ================================================= -->
          <!-- Simple Document Asset Modal -->
<!-- ================================================= -->

{% with view.simple_documents as documents %}
<div class="modal fade" id="SimpleDocumentAssetModal" tabindex="-1" role="dialog" aria-labelledby="SimpleDocumentAssetModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="bs-nav-tabs nav-tabs-default">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploaddocument">Upload a Document</a></li>
          </ul>
        </div>
        <div class="modal-body" id="documentmodalbody">
          <div class="tab-content">
            <!-- UPLOAD PANEL -->
            <div role="tabpanel" class="tab-pane active" id="uploaddocument">
              <div class="uploadpanel" data-toggle="slimScroll" style="height:300px" data-color="#5D9CEC" data-allow-page-scroll="false">
              <form action="{% url 'upload_simple_document' %}" method="POST" class="post-form" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Left Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.document.label_tag }}</label>
                  {{ documents.form.document }}
                  {% if documents.form.document.errors %}
                    <small class="text-muted">{{ documents.form.document.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.title.label_tag }}</label>
                  {{ documents.form.title }}
                  {% if documents.form.title.errors %}
                    <small class="text-muted">{{ documents.form.title.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.asset_type.label_tag }}</label>
                  {{ documents.form.asset_type }}
                  {% if documents.form.asset_type.errors %}
                    <small class="text-muted">{{ documents.form.asset_type.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.keywords.label_tag }}</label>
                  {{ documents.form.keywords }}
                  {% if documents.form.keywords.errors %}
                    <small class="text-muted">{{ documents.form.keywords.errors }}</small>
                  {% endif %}
                </fieldset>

              </div>
              <!-- End Left Col -->
              <!-- Right Col -->
              <div class="col-md-6">

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.description.label_tag }}</label>
                  {{ documents.form.description }}
                  {% if documents.form.description.errors %}
                    <small class="text-muted">{{ documents.form.description.errors }}</small>
                  {% endif %}
                </fieldset>

                <fieldset class="form-group m-b-10">
                  <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ documents.form.attribution.label_tag }}</label>
                  {{ documents.form.attribution }}
                  {% if documents.form.attribution.errors %}
                    <small class="text-muted">{{ documents.form.attribution.errors }}</small>
                  {% endif %}
                </fieldset>

              </div>
              <!-- End Right Col -->
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div class="hidden-document-inputs">
                <input type="hidden" name="association" value="organization" />
                <input type="hidden" name="organization" value="{{ organization.pk }}" />
              </div>
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div>
                <button type="submit" class="btn btn-primary m-l-20">Save Document</button>
              </div>
              </form>
              </div>
            </div>
            <!-- END UPLOAD PANEL -->
          </div>
        </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
{% endwith %}


<!-- Add Note Modal -->
<div class="modal fade" id="addOrganizationNote" tabindex="-1" role="dialog" aria-labelledby="addOrganizationNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUserModalLabel">Add a note for this organization</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_orgnote' %}" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- Hidden Inputs -->
        <input type="hidden" name="association" value="organization" />
        <input type="hidden" name="organization" value="{{ organization.pk }}" />
        <button type="submit" class="btn btn-primary">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- END Add Note Modal -->
{% for note in notes %}
<!-- View Note Modals -->
<div class="modal fade" id="viewNote{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="addaddNote{{note.id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="viewNote{{note.id}}Label">{{ note.title }}</h4>
      </div>
      <div class="modal-body">
        {{ note.text|linebreaksbr }}
      </div>
      <div class="modal-footer">
        <p class="tiny-text">{{ note.owner }} | {{ note.creation_date|date:'D M j g:i a' }}<p>
      </div>
    </div>
  </div>
</div>
<!-- END View Note Modals -->
{% endfor %}
{% endblock modals %}
