{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
      <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
      {% if request.user.organization %}
      <li class="fadeIn"><a href="{% url 'org_detail' pk=request.user.organization.id %}" title="You are here"> Organization </a></li>
      {% endif %}
      <li class="hidden-md-down"><a href="{% url 'org_detail' pk=request.user.organization.id %}" title="You are here"> {{ organization.name }}</a></li>
      <li class="hidden-md-down">{{ organization.name }} Notes</li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">

  <!-- Left Column -->
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 activity-widget-4">
    <h4 class="m-b-40"><a data-toggle="modal" data-target="#addOrganizationNote" title="Add Task Note"><i class="fa fa-plus sameline subtle"></i></a> Notes </h4>
    {% for note in notes %}
    <div class="row">
        <div class="col-xs-12">
          <div class="media">
              <div class="media-body">
                  <h5 class="media-heading">
                    {% if note.important == True %}
                    <i class="fa fa-star f-r-8 color-warning-100" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-star-o f-r-8 subtle" aria-hidden="true"></i>
                    {% endif %}
                    <a href="{% url 'org_note_content' org=organization.id note=note.id %}" id="note-{{note.id}}" id="note-{{note.id}}" class="organization_note_link"> {{ note.title }} </a>
                  </h5>
                  <small class="f-s-14">{{ note.owner.credit_name }}</small></br>
                  <small class="color-default">{{ note.creation_date|date:'D M j g:i a' }}</small>
                  <!-- Note Delete -->
                  <form class="note-delete sameline" method="GET"
                        action="{% url 'note_delete' pk=note.id %}">
                        <!-- onsubmit="return confirm('Do you want to delete this task?')"> -->
                        {% csrf_token %}
                    <a href="javascript:$('.note-delete').submit();"><i class="fa fa-trash subtle float-right" style="float:right;" aria-hidden="true"></i></a>
                    <!-- <input type="submit" class="btn btn-sm btn-danger-100" value="Delete"> -->
                  </form>
              </div>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
  <!-- Right Column -->
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div id="note-content">
    </div>
  </div>

</div> <!-- End of Row -->


<script>
$(function() {
    $(".organization_note_link").click(function(event) {
        event.preventDefault();
        var page_url = jQuery(this).attr("href")
        console.log(page_url);
        $('#note-content')
           .load(page_url);
    });
});
</script>


{% endblock %}

{% block modals %}
<!-- Add Note Modal -->
<div class="modal fade" id="addOrganizationNote" tabindex="-1" role="dialog" aria-labelledby="addOrganizationNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUserModalLabel">Add a note for this organization</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_orgnote' %}" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- Hidden Inputs -->
        <input type="hidden" name="association" value="organization" />
        <input type="hidden" name="organization" value="{{ organization.pk }}" />
        <input type="hidden" name="user" value="{{ user.pk }}" />
        <button type="submit" class="btn btn-primary">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock modals %}
