{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<h1 class="center">{{ organization.name }}</h1>

{{ organization.org_description }}

<div>
<p>Add Note<a href="#"><i class="fa fa-plus sameline" data-toggle="modal" data-target="#addOrganizationNote"></i></a></p>

</div>

<!-- Modal -->
<div class="modal fade" id="addOrganizationNote" tabindex="-1" role="dialog" aria-labelledby="addOrganizationNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUserModalLabel">Add a note for this organization</h4>
      </div>
      <div class="modal-body">
        <form action="/organization/note/new/" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form organizationnoteform %}
        <input type="hidden" name="organization" value="{{ organization.pk }}" />
        <button type="submit" class="btn btn-primary">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock %}
