{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
      <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
      <li class="hidden-md-down"><a href="{% url 'org_new' %}">Create Organization</a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-- Row One -->
<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row">
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
      <!-- Left Side -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <!-- Organization Name -->
        <fieldset class="form-group m-b-20">
          {% comment %}
          <div class="col-xs-2">
            <label>{{ orgform.name.label_tag }}</label>
          </div>
          {% endcomment %}
          <div class="col-xs-12">
            {{ orgform.name }}
            {% if orgform.name.errors %}
            <small class="text-muted">{{ orgform.name.errors }}</small>
            {% endif %}
          </div>
        </fieldset>
        <!-- Organization Location -->
        <fieldset class="form-group m-b-20">
          {% comment %}
          <div class="col-xs-2">
            <label>{{ orgform.location.label_tag }}</label>
          </div>
          {% endcomment %}
          <div class="col-xs-12">
            {{ orgform.location }}
            {% if orgform.location.errors %}
            <small class="text-muted">{{ orgform.location.errors }}</small>
            {% endif %}
          </div>
        </fieldset>
        <!-- Organization Description -->
        <fieldset class="form-group m-b-20">
          {% comment %}
          <div class="col-xs-2">
            <label>Description: </label>
          </div>
          {% endcomment %}
          <div class="col-xs-12">
            {{ orgform.org_description }}
            {% if orgform.org_description.errors %}
            <small class="text-muted">{{ orgform.org_description.errors }}</small>
            {% endif %}
          </div>
        </fieldset>
        <!-- Organization Logo -->
        <div class="form-group custom-form m-b-40">
          <div class="col-xs-2">
            <label class="subtle">Logo </label>
          </div>
          <div class="col-xs-10">
          {{ orgform.logo }}
          {% if orgform.logo.errors %}
            <div class="alert alert-warning" role="alert">
            {{ orgform.logo.errors }}
            </div>
          {% endif %}
          </div>
        </div>

        <a href="{% url 'org_new' %}"><button class="save btn btn-danger m-t-20 pull-right">Cancel</button></a>
        <button type="submit" class="save btn btn-default m-t-20 m-r-10 pull-right">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script>
$(".chosen-select").chosen()
</script>

{% endblock %}
