{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-xs-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">Manage {{ organization.name }}</h1>
    </div>
  </div>
</div>

<div class="row content-lower-25">
  <!-- Left Side -->
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
    <h3 class="thin uppercase content-bottom-25 dark">Organization</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group custom-form">
          <a href="#" data-toggle="tooltip" title="{{ orgform.name.help_text }}"><span class="field-label">{{ orgform.name.label_tag }}</span></a>
          {{ orgform.name }}
          {% if orgform.name.errors %}
            <div class="alert alert-warning" role="alert">
            {{ orgform.name.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group custom-form">
          <a href="#" data-toggle="tooltip" title="{{ orgform.name.help_text }}"><span class="field-label">{{ orgform.location.label_tag }}</span></a>
          {{ orgform.location }}
          {% if orgform.location.errors %}
            <div class="alert alert-warning" role="alert">
            {{ orgform.location.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group custom-form">
          <a href="#" data-toggle="tooltip" title="{{ orgform.logo.help_text }}"><span class="field-label">{{ orgform.logo.label_tag }}</span></a>
          {{ orgform.logo }}
          {% if orgform.logo.errors %}
            <div class="alert alert-warning" role="alert">
            {{ orgform.logo.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group custom-form">
          <a href="#" data-toggle="tooltip" title="{{ orgform.series_description.help_text }}"><span class="field-label">{{ orgform.org_description.label_tag }}</span></a>
          {{ orgform.org_description }}
          {% if orgform.org_description.errors %}
            <div class="alert alert-warning" role="alert">
            {{ orgform.org_description.errors }}
            </div>
          {% endif %}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
      </form>
  </div>
  <!-- Right Side -->
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
    <h3 class="thin uppercase content-bottom-25 dark">Team</h1>
    {% for person in team %}
      <div class="row content-bottom-10">
        <div class="col-xs-2">
          {% if person.display_photo %}
          <img class="media-object" width="100%" src="{{ person.display_photo.url }}" alt="user">
          {% else %}
          {% endif %}
        </div>
        <div class="col-xs-4">
          <a href="{% url 'user_detail' person.id %}" title="{{ person.credit_name }}'s Profile"><p>{{ person.credit_name }}</p></a>
          <p class="small-text dark">{{ person.title }}</p>

        </div>
        <div class="col-xs-6">
          <a href="{% url 'user_edit' person.id %}" title="Edit {{ person.credit_name }}'s Profile">
            <button class="btn btn-xs btn-primary">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit
            </button>
          </a>
          {% if person.is_active == True %}
            <form action="{% url 'user_deactivate' %}" method="POST" class="post-form sameline" onsubmit="return confirm('Do you want to deactivate this user?');">
              <input type="hidden" name="user_id" value="{{ person.id }}" />
              <button class="btn btn-xs btn-warning">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                Deactivate
              </button>
            </form>

          {% elif person.is_active == False %}

            <form action="{% url 'user_activate' %}" method="POST" class="post-form sameline" onsubmit="return confirm('Do you want to activate this user?');">
              <input type="hidden" name="user_id" value="{{ person.id }}" />
              <button class="btn btn-xs btn-success">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Activate
              </button>
            </form>

          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<script>
$(".chosen-select").chosen()
</script>


{% endblock %}
