{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
      <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
      <li class="fadeIn"><a href="{% url 'project_list' %}" title="View Projects"> Projects </a></li>
      <li class="fadeIn"><a href="{% url 'project_detail' project.id %}" title="View Projects"> {{project.name}} </a></li>
      <li class="fadeIn"> Events</li>

    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}


<div class="row">
{% for event in events %}
  {{ event.name }}
{% endfor %}
</div>


{% endblock %}
