{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'project_list' %}" title="View Project"> Projects </a></li>
        {% if project %}
        <li class="fadeIn"> {{ project.name }} </li>
        <li class="fadeIn"> Edit </li>
        {% else %}
        <li class="fadeIn"> Create New Project </li>
        {% endif %}
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row">
    <form method="POST" class="post-form forms-basic">{% csrf_token %}
      <!-- Left Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
              <!-- Name -->
              <fieldset class="form-group m-b-20">
                {% comment %}
                <div class="col-xs-2">
                  <label>{{ form.name.label_tag }}</label>
                </div>
                {% endcomment %}
                <div class="col-xs-12">
                  {{ form.name }}
                  {% if form.name.errors %}
                  <small class="text-muted">{{ form.name.errors }}</small>
                  {% endif %}
                </div>
              </fieldset>
              <!-- Description -->
              <fieldset class="form-group m-b-20">
                {% comment %}
                <div class="col-xs-2">
                  <label class="capitalize">{{ form.project_description.label_tag }}</label>
                </div>
                {% endcomment %}
                <div class="col-xs-12">
                  {{ form.project_description }}
                  {% if form.project_description.errors %}
                  <small class="text-muted">{{ form.project_description.errors }}</small>
                  {% endif %}
                </div>
              </fieldset>
        </div>
      </div>
      <!-- Right Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <!-- Collaborate -->
          <fieldset class="form-group m-b-20">
            <span class="col-xs-2">
              <label class="f-s-14 subtle">{{ form.collaborate.label_tag }}</label>
            </span>
            <span class="col-xs-10">
              {{ form.collaborate }}
              {% if form.collaborate.errors %}
              <small class="text-muted">{{ form.collaborate.errors }}</small>
              {% endif %}
            </span>
          </fieldset>

          <fieldset class="form-group m-b-20">
            {% comment %}
            <div class="col-xs-2">
              <label class="capitalize">{{ form.collaborate_with.label_tag }}</label>
            </div>
            {% endcomment %}
            <div class="col-xs-12">
              {{ form.collaborate_with }}
              {% if form.collaborate_with.errors %}
              <small class="text-muted">{{ form.collaborate_with.errors }}</small>
              {% endif %}
            </div>
          </fieldset>


          <div class="col-xs-12">
            <button type="submit" class="save btn btn-default">Save</button>
            <a href="{% url 'project_new' %}"><button class="btn btn-danger-100">Cancel</button></a>
          </div>
        </div>

      </div>

      </form>
    </div>
  </div>
</div>

<script>

// $(document).bind("pageinit", function() {
//     $(".chosen-select").chosen();
// });
//

$(".chosen-select").chosen()

</script>
{% endblock %}
