{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Contractors </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}
<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

<div class="row">
  <div class="col-xs-12">
    <h4>Contractors</h4>
  </div>
</div>

<div class="row m-t-10">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    {% for contractor in contractors %}
    <div class="user-widget-11">
      <div class="row">
        <div class="col-xs-12">
          <a class="media-left media-middle">
            {% if contractor.user.display_photo %}
            <img class="media-object img-circle h-100 w-100" alt="Contractor profile image" src="{{ contractor.user.display_photo.url }}">
            {% else %}
            <img class="media-object img-circle h-100 w-100" alt="Contractor profile image" src="{% static 'images/nophoto.jpg' %}">
            {% endif %}
          </a>
          <div class="media-body">
            <div class="p-10 m-t-5">
              <h5 class="text-bold color-white">{{ contractor.user.credit_name }}</h5>
              <p class="m-b-0"> <i class="fa fa-map-marker color-white"></i> <span class="color-white">{{ contractor.user.location }}</span> </p>
            </div>
            <div class="p-10 p-t-15">
              <p> <i class="fa fa-envelope-o color-dark"></i> <span class="color-dark">{{ contractor.user.email }}</span> </p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  <!-- Contact Buttons -->
  <div class="row">
    <div class="col-xs-12">
      <div class="bg-white p-b-20">
        <div class="row">
          <div class="col-xs-4 centered">
            <a href="{% url 'contractor_detail' contractor.id %}" title="Go to {{ contractor.user.credit_name }}'s Profile'"><button type="button" class="m-r-5 m-l-5 btn btn-warning-500 btn-rounded btn-outline sameline">Profile</button></a>
          </div>
          <div class="col-xs-4 centered">
            <button type="button" class="m-r-5 m-l-5 btn btn-warning-500 btn-rounded btn-outline sameline">Message</button>
          </div>
          <div class="col-xs-4 centered">
            <button type="button" class="m-r-5 m-l-5 btn btn-warning-500 btn-rounded btn-outline sameline"><i class="fa fa-plus" aria-hidden="true"></i> Pool</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  </div>
</div>




<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->


{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}



{% endblock modals %}
