{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load bootstrap_calendar %}


{% block head %}

{% bootstrap_calendar_css %}

{% endblock %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">Schedule</h1>
    </div>
  </div>
</div>

{% bootstrap_controls 'optional-css-classes' %}
{% bootstrap_calendar 'optional-css-classes' %}

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  </div>
</div>





{% bootstrap_calendar_js language="template" %}
{% bootstrap_calendar_init language="template" %}

{% endblock %}
