{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load static from staticfiles %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"> Dashboard </li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'schedule' %}" title="You are Here"> Schedule </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-- Row One -->
<div class="row m-b-40">
      <div class="col-xs-9">
        <div id="calendar"></div>
      </div>
      <div class="col-xs-3">
        <h4> Event Details</h4>
      </div>
</div>

<script>
(function() {
    'use strict';

    $(function() {
        var events_array = $.get('{% url "schedule-content" %}')
        $('#calendar').fullCalendar({
            dayClick: function(date, jsEvent, view) {
                console.log('Clicked on: ' + date.format());
                console.log('Event: ', jsEvent);
                console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                console.log('Current view: ' + view.name);
                //$(this).css('background-color', 'red');
            },
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            // defaultDate: '2016-03-12',
            defaultView: 'month',
            editable: true,
            events: '{% url "schedule-content" %}',
            // events: [{
            //     title: 'Click for Google',
            //     url: 'http://google.com/',
            //     start: '2016-08-28'
            // }]
        });

    });


})();
</script>

{% endblock %}
