{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'series_list' %}" title="View Series List"> Series </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    {% if series %}
    <!-- Full table for xs, sm, md and lg displays -->
    <table id="series-list" class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Series</th>
          <th>Description</th>
          <th>Story Count</th>
        </tr>
      </thead>
      <tbody>
        {% for series in series %}
          <tr>
            <td><a href="{% url 'series_detail' series.id %}">{{ series.name }}</a></td>
            <td>{{ series.series_description }}</td>
            <td>{{ series.story_set.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the Series page. This is where you will see all of the current active series from your organization. Click here to add a <a href="{% url 'series_new' %}" title="Create New Series" class="default">series</a>.</p>
    {% endif %}
  </div>
</div>

<script>
$(document).ready(function() {
    $('#series-list').DataTable();
} );
</script>

{% endblock %}
