{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">Series</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="series-list" class="table table-condensed">
      <thead>
        <tr>
          <th>Series</th>
          <th>Description</th>
          <th>Story Count</th>
        </tr>
      </thead>
      <tbody>
        {% for series in series %}
          <tr>
            <td><a href="{% url 'series_detail' series.id %}">{{ series.name }}</a></td>
            <td>{{ series.series_description }}</td>
            <td>{{ series.story_set.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#series-list').DataTable();
} );
</script>

{% endblock %}
