{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">{{ series.name }}</h1>
      <h5 class="center thin spread-01 content-upper-5"> {{ series.series_description }} {% if request.user.organization == series.organization %}<a href="{% url 'series_edit' pk=series.id %}"><i class="fa fa-pencil sameline"></i></a>{% endif %}</h5>
    </div>
  </div>
</div>

<div class="row content-lower-10">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6 right-rule">
        <a href="#" data-toggle="tooltip" title="Discussion for the series"><label class="field-label">Discussion</label></a>
        <!-- Comments from series discussion -->
        <div class="discussion" data-toggle="slimScroll" style="height:280px" data-color="#5D9CEC" data-allow-page-scroll="false">
            {% if seriescomments %}
              <div class="row">
                {% for comment in seriescomments %}
                  <div class="col-md-10">
                    <p>{{ comment.text }}</p>
                    <p class="tiny-text">{{ comment.date|date:'D M j g:i a' }}</p>
                  </div>
                  <div class="col-md-2">
                    <img class="media-object img-circle" width="32" src="/static/images/faces/face23.jpg" alt="user">
                    <p class="tiny-text">{{ comment.user.first_name }}</p>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
        </div>
        <!-- End of discussion comments -->
        <!-- Comment form to add comments -->
        <div class="comment">
          <hr>
          <div class="row">
            <form action="/seriescomment/new" method="POST" class="post-form" role="form">
              <div class="col-md-10">
                  {% csrf_token %}
                  <div class="form-group">
                  {{ seriescommentform.text }}
                  </div>
                  {% if seriescommentform.text.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ seriescommentform.text.errors }}
                    </div>
                  {% endif %}
                  <input type="hidden" name="series" value="{{ series.pk }}" />
              </div>
              <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-default btn-sm" name="seriescommentform">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                  </div>
                  <!-- <input type="submit" name="seriescommentform" value="Post Comment"/> -->
              </div>
            </form>
          </div>
        </div>
        <!-- End of comment form -->

      </div>
      <div class="col-md-6">
        <a href="#" data-toggle="tooltip" title="Series Details"><label class="field-label">Details</label></a>
        <div class="row">
          <div class="col-md-6">
            <h5>Created: <span class="sameline bright">{{ series.creation_date|date:'D M j g:i a' }}</span></h5>
            <h5>Archived: <span class="sameline bright">{% if facet.story.archived == True %} <i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</span></h5>
            <h5>Sensitive: <span class="sameline bright">{% if facet.story.sensitive == True %} <i class="fa fa-check-square-o"></i>{% else %}  <i class="fa fa-square-o"></i>{% endif %}</span></h5>
          </div>
          <div class="col-md-6">
            <h5>Collaboration: <span class="sameline bright">{% if facet.story.collaborate == True %} <i class="fa fa-check-square-o"></i>{% else %} <i class="fa fa-square-o"></i>{% endif %}</span></h5>
            <h5>Partners: </h5>
            {% for collaborator in series.collaborate_with.all %}
            <p>- {{ collaborator.name }}</p>
            {% endfor %}
          </div>
          <div class="col-md-12">
          <hr>
          <h5>Team: </h5>
          {% for user in series.team.all %}
            <p><a href="{% url 'user_detail' pk=user.id %}">{{ user.credit_name }}</a></p>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="seriesnotes">
      <div class="section-title">
      <a href="#" data-toggle="tooltip" title="Series Notes"><label class="field-label">Notes</label></a>
      <a href="#" data-toggle="modal" data-target="#addSeriesNote" title="Add Series Note"><i class="fa fa-plus sameline dark"></i></a>
      </div>
      <div class="displaynotes">
          <div class="row">
            {% for note in seriesnotes %}
            <!-- MODAL TRIGGER -->
              <a href="#" data-toggle="modal" data-target="#addNote{{note.id}}">
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <div class="panel fade in panel-default note-panel" data-init-panel="true">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left">
                          <!-- Place icon or image here -->
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading brighter">{{ note.title }}</h5>
                          <p class="help-block tiny-text bright">{{ note.owner.credit_name }}</p>
                        </div><!-- /.media -body-->
                      </div><!-- /.media -->
                    </div><!-- /.panel-body -->
                    <div class="progress progress-xs no-radius no-margin">
                      <div class="progress-bar bg-grd-orange" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                      </div>
                    </div><!-- /.progress -->
                  </div><!-- /.panel -->
                </div><!-- /.cols -->
              </a>
            <!-- END MODAL TRIGGER -->
            <!-- MODAL ITSELF -->
              <div class="modal fade" id="addNote{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="addaddNote{{note.id}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="addNote{{note.id}}Label">{{ note.title }}</h5>
                    </div>
                    <div class="modal-body dark">
                      {{ note.text }}
                    </div>
                    <div class="modal-footer">
                      <p class="tiny-text">{{ note.owner }} | {{ note.creation_date|date:'D M j g:i a' }}<p>
                      <p class="tiny-text">Keywords: {% for keyword in note.keywords %}{{ keyword }}, {% endfor %}<p>
                    </div>
                  </div>
                </div>
              </div>
            <!-- END MODAL -->
            {% endfor %}
            <a href="{% url 'series_notes' pk=series.id %}" class="link-text">See all notes...</a>
          </div>
      </div>

    </div>
  </div>
  <div class="col-md-4 left-rule">
    <a href="#" data-toggle="tooltip" title="Series Stories"><label class="field-label">Stories</label></a>
    <a href="{% url 'story_new' %}" title="Add A Story"><i class="fa fa-plus sameline dark"></i></a>
    <div class="stories">
      <div class="row" data-toggle="slimScroll" style="height:525px" data-color="#5D9CEC" data-allow-page-scroll="false">
      {% for story in series.story_set.all %}
          <a href="{% url 'story_detail' pk=story.id %}">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="panel fade in panel-default" data-init-panel="true">
                <div class="panel-bod story-panel">
                  <div class="media">
                    <div class="media-left">
                      <!-- Place icon or image here -->
                    </div>
                    <div class="media-body">
                      <h5 class="brighter">{{ story.name }}</h5>
                      <p class="tiny-text">{{ story.creation_date }}</p>
                      {% if story.webfacetstory.all or story.printfacetstory.all or story.audiofacetstory.all or story.videofacetstory.all %}
                      <p class="dark">
                      {% for facet in story.webfacetstory.all %}
                      <i class="fa fa-laptop"></i>
                      {% endfor %}
                      {% for facet in story.printfacetstory.all %}
                      <i class="fa fa-newspaper-o"></i>
                      {% endfor %}
                      {% for facet in story.audiofacetstory.all %}
                      <i class="fa fa-microphone"></i>
                      {% endfor %}
                      {% for facet in story.videofacetstory.all %}
                      <i class="fa fa-film"></i>
                      {% endfor %}
                      </p>
                      {% endif %}
                    </div><!-- /.media -body-->
                  </div><!-- /.media -->
                </div><!-- /.panel-body -->
                <div class="progress progress-xs no-radius no-margin">
                  <div class="progress-bar bg-grd-blue" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
                </div><!-- /.progress -->
              </div><!-- /.panel -->
            </div><!-- /.cols -->
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Add Note Modal -->
<div class="modal fade" id="addSeriesNote" tabindex="-1" role="dialog" aria-labelledby="addSeriesNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="addUserModalLabel">Add a note for this series</h5>
      </div>
      <div class="modal-body">
        <form action="/series/note/new/" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form seriesnoteform %}
        <input type="hidden" name="series" value="{{ series.pk }}" />
        <button type="submit" class="btn btn-primary">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% endblock %}
