{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<h1 class="center">Series List</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Series</th>
          <th>Description</th>
          <th>Story Count</th>
        </tr>
      </thead>
      <tbody>
        {% for series in series %}
          <tr>
            <td>{{ series.name }}</td>
            <td>{{ series.series_description }}</td>
            <td>{{ series.story_set.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
