{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}"> Dashboard </a></li>
        <li class="fadeIn"> Create New Content </li>
        <li class="fadeIn"><a href="{% url 'series_new' %}" title="You are Here"> New Series </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row">
    <form method="POST" class="post-form forms-basic">{% csrf_token %}
      <!-- Left Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
              <fieldset class="form-group m-b-20">
                {% comment %}
                <div class="col-xs-2">
                  <label>{{ seriesform.name.label_tag }}</label>
                </div>
                {% endcomment %}
                <div class="col-xs-12">
                  {{ seriesform.name }}
                  {% if seriesform.name.errors %}
                  <small class="text-muted">{{ seriesform.name.errors }}</small>
                  {% endif %}
                </div>
              </fieldset>

              <fieldset class="form-group m-b-20">
                {% comment %}
                <div class="col-xs-2">
                  <label class="capitalize">{{ seriesform.series_description.label_tag }}</label>
                </div>
                {% endcomment %}
                <div class="col-xs-12">
                  {{ seriesform.series_description }}
                  {% if seriesform.series_description.errors %}
                  <small class="text-muted">{{ seriesform.series_description.errors }}</small>
                  {% endif %}
                </div>
              </fieldset>
        </div>
      </div>
      <!-- Right Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <fieldset class="form-group m-b-20">
            {% comment %}
            <div class="col-xs-2">
              <label class="capitalize">{{ seriesform.team.label_tag }}</label>
            </div>
            {% endcomment %}
            <div class="col-xs-12">
              {{ seriesform.team }}
              {% if seriesform.team.errors %}
              <small class="text-muted">{{ seriesform.team.errors }}</small>
              {% endif %}
            </div>
          </fieldset>

          <fieldset class="form-group m-b-20">
            <span class="col-xs-2">
              <label class="capitalize c-input c-checkbox">{{ seriesform.collaborate.label_tag }}</label>
            </span>
            <span class="col-xs-10">
              {{ seriesform.collaborate }}
              <span class="c-indicator c-indicator-default"></span>
              {% if seriesform.collaborate.errors %}
              <small class="text-muted">{{ seriesform.collaborate.errors }}</small>
              {% endif %}
            </span>
          </fieldset>

          <fieldset class="form-group m-b-20">
            {% comment %}
            <div class="col-xs-2">
              <label class="capitalize">{{ seriesform.collaborate_with.label_tag }}</label>
            </div>
            {% endcomment %}
            <div class="col-xs-12">
              {{ seriesform.collaborate_with }}
              {% if seriesform.collaborate_with.errors %}
              <small class="text-muted">{{ seriesform.collaborate_with.errors }}</small>
              {% endif %}
            </div>
          </fieldset>


          <div class="col-xs-12">
            <button type="submit" class="save btn btn-default">Save</button>
            <a href="{% url 'series_new' %}"><button class="btn btn-default">Cancel</button></a>
          </div>
        </div>

      </div>

      </form>
    </div>
  </div>
</div>

<script>

// $(document).bind("pageinit", function() {
//     $(".chosen-select").chosen();
// });
//

$(".chosen-select").chosen()

</script>
{% endblock %}
