<div role="tabpanel" class="tab-pane p-t-0" id="web">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
      <form method="POST" class="post-form">
        {% csrf_token %}

        <!-- Left Column -->
        <div class="col-md-2">

          <!-- WebFacet Title -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.title.label_tag }}</label>
            {{ webform.title }}
            {% if webform.title.errors %}
              <small class="text-muted">{{ webform.title.errors }}</small>
            {% endif %}
          </fieldset>

          {% comment %}
          <!-- WebFacet Code -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.code.label_tag }}</label>
            {{ webform.code }}
            {% if webform.code.errors %}
              <small class="text-muted">{{ webform.code.errors }}</small>
            {% endif %}
          </fieldset>
          {% endcomment %}

          <!-- WebFacet Credit -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.credit.label_tag }}</label>
            {{ webform.credit }}
            {% if webform.credit.errors %}
              <small class="text-muted">{{ webform.credit.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- WebFacet Editor -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.editor.label_tag }}</label>
            {{ webform.editor }}
            {% if webform.editor.errors %}
              <small class="text-muted">{{ webform.editor.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- WebFacet Description -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">Description</label>
            {{ webform.wf_description }}
            {% if webform.wf_description.errors %}
              <small class="text-muted">{{ webform.wf_description.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- WebFacet Excerpt -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.excerpt.label_tag }}</label>
            {{ webform.excerpt }}
            {% if webform.excerpt.errors %}
              <small class="text-muted">{{ webform.excerpt.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- WebFacet Share Note -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.share_note.label_tag }}</label>
            {{ webform.share_note }}
            {% if webform.share_note.errors %}
              <small class="text-muted">{{ webform.share_note.errors }}</small>
            {% endif %}
          </fieldset>

        </div>
        <!-- End of Left Column -->

        <!-- Center Column -->
        <div class="col-md-8">

          <!-- WebFacet Content -->
          <fieldset class="form-group m-b-10">
            {{ webform.wf_content }}
            {% if webform.wf_content.errors %}
              <small class="text-muted">{{ webform.wf_content.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- WebFacet Keywords -->
          <fieldset class="form-group m-b-10">
            {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.keywords.label_tag }}</label>{% endcomment %}
            {{ webform.keywords }}
            {% if webform.keywords.errors %}
              <small class="text-muted">{{ webform.keywords.errors }}</small>
            {% endif %}
          </fieldset>


        </div>
        <!-- End of Center Column -->

        <!-- Right Column -->
        <div class="col-md-2">

          <!-- Save Button -->
          <div class="row">
            <div class="col-xs-12">
              <div class="save-button m-b-20">
                <button type="submit" class="btn btn-info content-bottom-10 btn btn-block no-border" name="webform">Save Web Story</button>
                <!-- <input type="submit" name="webform" value="Save Web Story" /> -->
              </div>
            </div>
          </div>

          <div class="row profile-row">
            <!-- WebFacet Status -->
            <div class="col-xs-12">
            <fieldset class="form-group m-b-20">
              <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.status.label_tag }}</label>
              {{ webform.status }}
              {% if webform.status.errors %}
                <small class="text-muted">{{ webform.status.errors }}</small>
              {% endif %}
            </fieldset>
            </div>
          </div>

          <div class="row profile-row">
            <!-- WebFacet Due Edit -->
            <fieldset class="form-group m-b-10">
              <div class="col-xs-12">
                <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.due_edit.label_tag }}</label>
                {{ webform.due_edit }}
                {% if webform.due_edit.errors %}
                <small class="text-muted">{{ webform.due_edit.errors }}</small>
                {% endif %}
              </div>
            </fieldset>
          </div>

          <div class="row profile-row">
            <!-- WebFacet Run Date -->
            <fieldset class="form-group m-b-10">
              <div class="col-xs-12">
                <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ webform.run_date.label_tag }}</label>
                {{ webform.run_date }}
                {% if webform.run_date.errors %}
                <small class="text-muted">{{ webform.run_date.errors }}</small>
                {% endif %}
              </div>
            </fieldset>
          </div>
          <!-- End of WebFacet form -->
          <!-- <input type="submit" name="webform" value="Save Web Story" /> -->
          </form>

          <div class="discussion">
            <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">Discussion</label>
            {% if webcomments %}
              <div class="row">
                {% for comment in webcomments %}
                  <div class="col-md-10">
                    <p class="f-s-12">{{ comment.text }} <span class="f-s-10 color-default">| {{ comment.date|date:'D, M j g:i a' }}</span></p>
                  </div>
                  <div class="col-md-2">
                    {% if comment.user.display_photo %}
                    <a href="" title="{{ comment.user.first_name }}"><img class="media-object img-circle neg-m-l-10" width="32" src="{{ comment.user.display_photo.url }}" alt="user"></a>
                    {% else %}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="comment">
              <div class="row">
                <form action="{% url 'create_webcomment' %}" method="POST" class="post-form" role="form">
                    <div class="col-md-10 neg-m-r-10">
                        {% csrf_token %}
                        <div class="form-group">
                        {{ webcommentform.text }}
                        </div>
                        {% if webcommentform.text.errors %}
                          <div class="alert alert-warning" role="alert">
                          {{ webcommentform.text.errors }}
                          </div>
                        {% endif %}
                        <input type="hidden" name="story" value="{{ story.pk }}" />
                    </div>
                    <div class="col-md-2 neg-m-l-10">
                        <div class="form-group">
                          <button type="submit" class="btn btn-default btn-sm" id="webcomment-submit" name="webcommentform">
                              <i class="fa fa-paper-plane"></i>
                          </button>
                        </div>
                        <!-- <input type="submit" name="webcommentform" value="Post Comment"/> -->
                    </div>
                  </form>
              </div>
          </div>

          <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">Edit History</label>
          <div class="edit-history">
            {% if webhistory %}
              {% for entry in webhistory %}
              <p class="f-s-12 f-s-300 subtle">{{ entry.history_date }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <!-- End of Right Column -->
      </div>

    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-12">
      <h6>Assets</h6>
    </div>
    <!-- ======================== -->
    <!--       ASSETS FORMS       -->
    <!-- ======================== -->

    <!-- Webfacet Images -->
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="section-title m-b-20">
        <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">Images</label>
        <a href="#" data-toggle="modal" data-target="#ImageAssetModal" data-facet="webfacet_image" title="Add Image"><i class="fa fa-plus sameline subtle"></i></a>
      </div>
      <div id="webimage-thumbs">
        <div class="row">
        {% for webfacet in story.webfacetstory.all %}
          {% for image in webfacet.image_assets.all %}
            {% if image.display_photo %}
            <div class="col-xs-4">
              <a href="{{ image.display_photo.url }}" class="thumbnail"><img src="{{ image.display_photo.url }}" alt="{{ image.description }}" class="img-fluid"></a>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </div>
      </div>
    </div>
    <!-- Webfacet Documents -->
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="section-title m-b-20">
        <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">Documents</label>
        <a href="#" data-toggle="modal" data-target="#DocumentAssetModal" data-facet="webfacet_document" title="Add Document"><i class="fa fa-plus sameline subtle"></i></a>
      </div>
      <div id="webfacet-docs">
        <div class="row">
          {% for document in webfacet_documents %}
            <div class="col-md-1">
                <label>
                    {% if document.asset_type == 'OTHER' %}
                    <a href="{{ document.document.url }}" title="{{ document.description }}" target="_blank"><h3><i class="fa fa-file-file-o dark"></i></h3></a>
                    {% endif %}
                    {% if document.asset_type == 'TEXT' %}
                    <a href="{{ document.document.url }}" title="{{ document.description }}" target="_blank"><h3><i class="fa fa-file-text-o dark"></i></h3></a>
                    {% endif %}
                    {% if document.asset_type == 'WORD DOC' %}
                    <a href="{{ document.document.url }}" title="{{ document.description }}" target="_blank"><h3><i class="fa fa-file-word-o dark"></i></h3></a>
                    {% endif %}
                    {% if document.asset_type == 'EXCEL' %}
                    <a href="{{ document.document.url }}" title="{{ document.description }}" target="_blank"><h3><i class="fa fa-file-excel-o dark"></i></h3></a>
                    {% endif %}
                    {% if document.asset_type == 'PDF' %}
                    <a href="{{ document.document.url }}" title="{{ document.description }}" target="_blank"><h3><i class="fa fa-file-pdf-o dark"></i></h3></a>
                    {% endif %}
                    {% if document.asset_type == 'COMMA SEPARATED' %}
                    <a href="{{ document.document.url }}" title="{{ document.description }}" target="_blank"><h3><i class="fa fa-file-o dark"></i></h3></a>
                    {% endif %}
                  </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Webfacet Audio -->
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="section-title m-b-20">
        <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">Audio</label>
        <a href="#" data-toggle="modal" data-target="#AudioAssetModal" data-facet="webfacet_audio" title="Add Audio"><i class="fa fa-plus sameline subtle"></i></a>
      </div>
      <div id="webfacet-audio">
        <div class="row">
          {% for audio in webfacet_audio %}
            <div class="col-xs-6">
              {% if audio.asset_type == 'MP3' or audio.asset_type == 'WAV' %}
              <div id="jplayer_audio_{{audio.pk}}" class="jp-jplayer"></div>

              <div id="jp_container_audio_{{audio.pk}}" class="jp-flat-audio" role="application" aria-label="media player">
                <div class="jp-play-control jp-control">
                  <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
                </div>
                <div class="jp-bar">
                  <div class="jp-seek-bar jp-seek-bar-display"></div>
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                    <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
                    <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
                  </div>
                </div>
                <div class="jp-no-solution">
                  Media Player Error<br />
                  Update your browser or Flash plugin
                </div>
              </div>
              <script>
              jQuery(document).ready(function($) {
                $("#jplayer_audio_{{audio.pk}}").jPlayer({
                  ready: function(event) {
                    $(this).jPlayer("setMedia", {
                      title: "{{audio.title}}",
                      wav: "{{audio.audio.url}}",
                      mp3: "{{audio.audio.url}}",
                    });
                  },
                  play: function() { // Avoid multiple jPlayers playing together.
                    $(this).jPlayer("pauseOthers");
                  },
                  timeFormat: {
                    padMin: false
                  },
                  swfPath: "js",
                  supplied: "wav, mp3",
                  cssSelectorAncestor: "#jp_container_audio_{{audio.pk}}",
                  useStateClassSkin: true,
                  autoBlur: false,
                  smoothPlayBar: true,
                  remainingDuration: true,
                  keyEnabled: true,
                  keyBindings: {
                    // Disable some of the default key controls
                    loop: null,
                    muted: null,
                    volumeUp: null,
                    volumeDown: null
                  },
                  wmode: "window"
                });
              });
              </script>
              {% endif %}
              {% if audio.asset_type == 'SC' %}
              <a href="{{ audio.link }}" title="{{ audio.description }}" target="_blank"><i class="fa fa-soundcloud sameline"></i> <span class="small-text dark sameline">{{ audio.title }}</span></a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Webfacet Video -->
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="section-title m-b-20">
        <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">Video</label>
        <a href="#" data-toggle="modal" data-target="#VideoAssetModal" data-facet="webfacet_video" title="Add Video"><i class="fa fa-plus sameline subtle"></i></a>
      </div>
      <div id="webfacet-video">
        <div class="row">
          {% for video in webfacet_video %}
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {% if video.asset_type == 'MP4' %}
            <div id="jp_container_video_{{video.pk}}" class="jp-flat-video m-b-10" role="application" aria-label="media player">
              <div id="jplayer_video_{{video.pk}}" class="jp-jplayer"></div>
              <div class="jp-gui">
                <div class="jp-play-control jp-control">
                  <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
                </div>
                <div class="jp-bar">
                  <div class="jp-seek-bar jp-seek-bar-display"></div>
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                    <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
                    <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
                  </div>
                </div>
                <div class="jp-screen-control jp-control">
                  <button class="jp-full-screen jp-button" role="button" aria-label="full screen" tabindex="0"></button>
                </div>
              </div>
              <div class="jp-no-solution">
                Media Player Error<br />
                Update your browser or Flash plugin
              </div>
            </div>
            <script>
                $(document).ready(function($) {
                $("#jplayer_video_{{video.pk}}").jPlayer({
                  ready: function(event) {
                    var $this = $(this).jPlayer("setMedia", {
                      title: "Big Buck Bunny Trailer",
                      m4v: "http://jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
                      ogv: "http://jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
                      webmv: "http://jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
                      poster: "http://jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
                    });

                    // Fix GUI when Full Screen button is hidden.
                    if(event.jPlayer.status.noFullWindow) {
                      var $anc = $($this.jPlayer("option", "cssSelectorAncestor"));
                      $anc.find('.jp-screen-control').hide();
                      $anc.find('.jp-bar').css({"right":"0"});
                    }

                    // Fix the responsive size for iOS and Flash.
                    var fix_iOS_flash = function() {
                      var w = $this.data("jPlayer").ancestorJq.width(),
                        h = w * 9 / 16; // Change to suit your aspect ratio. Used 16:9 HDTV ratio.
                      $this.jPlayer("option", "size", {
                        width: w + "px",
                        height: h + "px"
                      });
                    };
                    var plt = $.jPlayer.platform;
                    if(plt.ipad || plt.iphone || plt.ipod || event.jPlayer.flash.used) {
                      $(window).on("resize", function() {
                        fix_iOS_flash();
                      });
                      fix_iOS_flash();
                    }
                  },
                  timeFormat: {
                    padMin: false
                  },
                  swfPath: "js",
                  supplied: "webmv, ogv, m4v",
                  cssSelectorAncestor: "#jp_container_video_{{video.pk}}",
                  // See the CSS for more info on changing the size.
                  size: {
                    width: "100%",
                    height: "auto",
                    cssClass: "jp-flat-video-responsive"
                  },
                  sizeFull: {
                    cssClass: "jp-flat-video-full"
                  },
                  autohide: {
                    full: false,
                    restored: false
                  },
                  // While playing, allow the GUI to hide
                  play: function() {
                    $(this).jPlayer("option", "autohide", {
                      full: true,
                      restored: true
                    });
                    // Avoid multiple jPlayers playing together.
                    $(this).jPlayer("pauseOthers");
                  },
                  // When paused, show the GUI
                  pause: function() {
                    $(this).jPlayer("option", "autohide", {
                      full: false,
                      restored: false
                    });
                  },
                  // Enable clicks on the video to toggle play/pause
                  click: function(event) {
                    if(event.jPlayer.status.paused) {
                      $(this).jPlayer("play");
                    } else {
                      $(this).jPlayer("pause");
                    }
                  },
                  useStateClassSkin: true,
                  autoBlur: false,
                  smoothPlayBar: !($.jPlayer.browser.msie && $.jPlayer.browser.version < 9), // IE8 did not like the hidden animated progress bar.
                  remainingDuration: true,
                  keyEnabled: true,
                  keyBindings: {
                    // Disable some of the default key controls
                    loop: null,
                    muted: null,
                    volumeUp: null,
                    volumeDown: null
                  }
                });
              });
            </script>
            {% endif %}

            {% if video.asset_type == 'YOUTUBE' %}
            <a href="{{ video.link }}" title="View {{ video.title }}" class="embedded-video"><h5><i class="fa fa-youtube-play dark"></i> {{ video.title }}</h5></a>
            {% endif %}
            {% if video.asset_type == 'VIMEO' %}
            <a href="{{ video.link }}" title="View {{ video.title }}" class="embedded-video"><h5><i class="fa fa-vimeo dark"></i> {{ video.title }}</h5></a>
            {% endif %}
          </div>

          {% endfor %}
        </div>
      </div>

    </div>
  </div>

</div>
