{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ====================================== -->
<!--      BREADCRUMB NAVIGATION             -->
<!-- ====================================== -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"> Dashboard </li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
        <li class="fadeIn"><a href="{% url 'story_detail' story.id %}" title="You are Here"> {{ story.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ====================================== -->
<!--            Main Section                -->
<!-- ====================================== -->

{% block content %}

<!-- ================================================= -->
<!-- ================================================= -->
                    <!-- TABS -->
<!-- ================================================= -->
<!-- ================================================= -->
    <div class="row">

      <div class="col-md-3"> </div>

      <div class="col-xs-12 col-md-6">
        <div class="bs-nav-tabs nav-tabs-default m-b-20" id="facettabs">
          <ul class="nav nav-tabs nav-animated-border-from-left nav-tabs-sticky text-center">
            <li class="nav-item"><a href="#storydetail" class="nav-link active" data-toggle="tab" data-target="#storydetail"><h4>Story Detail</h4></a></li>
            <li class="nav-item"><a href="#web" class="nav-link" data-toggle="tab" data-target="#web"><h4>Web</h4></a></li>
            <li class="nav-item"><a href="#print" class="nav-link" data-toggle="tab" data-target="#print"><h4>Print</h4></a></li>
            <li class="nav-item"><a href="#audio" class="nav-link" data-toggle="tab" data-target="#audio"><h4>Audio</h4></a></li>
            <li class="nav-item"><a href="#video" class="nav-link" data-toggle="tab" data-target="#video"><h4>Video</h4></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3"></div>

    </div>
<!-- ================================================= -->
<!-- ================================================= -->
                      <!-- TAB CONTENT -->
<!-- ================================================= -->
<!-- ================================================= -->

    <div class="row">
      <div class="col-md-12">
        <div class="tab-content">
          <!-- ================================================= -->
                          <!--   STORY PANEL   -->
          <!-- ================================================= -->
          {% include "editorial/storymeta.html" %}
          <!-- ================================================= -->
                          <!--   WEB TAB CONTENT   -->
          <!-- ================================================= -->
          {% include "editorial/storywebfacet.html" %}
          <!-- ================================================= -->
                          <!--   PRINT TAB CONTENT   -->
          <!-- ================================================= -->
          {% include "editorial/storyprintfacet.html" %}
          <!-- ================================================= -->
                          <!--   AUDIO TAB CONTENT   -->
          <!-- ================================================= -->
          {% include "editorial/storyaudiofacet.html" %}
          <!-- ================================================= -->
                          <!--   VIDEO TAB CONTENT   -->
          <!-- ================================================= -->
          {% include "editorial/storyvideofacet.html" %}

        </div><!-- End tab content -->
      </div><!-- End tabs -->
    </div><!-- End row -->

<!-- ================================================= -->
<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->
<!-- ================================================= -->

  <script>
    $(window).load(function() {
      $('.nav-tabs-sticky').stickyTabs();
     });
      // $('.nav-tabs-sticky').stickyTabs();
  </script>

  <script>
    $(".chosen-select").chosen()

    $('#webimage-thumbs').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

    $('#printimage-thumbs').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

    $('#audioimage-thumbs').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

    $('#videoimage-thumbs').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

    $('.image-library').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

  </script>

  <script>
    $('.embedded-video').magnificPopup({
      type: 'iframe',
      iframe: {
          patterns: {
              youtube: {
                  index: 'youtu.be/',
                  id: function(url) {
                      var m = url.match(/[\\?\\&]v=([^\\?\\&]+)/);
                      if ( !m || !m[1] ) return null;
                      return m[1];
                  },
                  src: '//www.youtube.com/embed/%id%?autoplay=1'
              },
              vimeo: {
                  index: 'vimeo.com/',
                  id: function(url) {
                      var m = url.match(/(https?:\/\/)?(www.)?(player.)?vimeo.com\/([a-z]*\/)*([0-9]{6,11})[?]?.*/);
                      if ( !m || !m[5] ) return null;
                      return m[5];
                  },
                  src: '//player.vimeo.com/video/%id%?autoplay=1'
              }
          }
      }
    });

  </script>

  <script>
    function pushToWordPress(evt) {
      evt.preventDefault();
      var formInputs = {
        "webfacet_id": $("#wf_id-field").val()
      };
      $.post("{% url 'webfacet_json' %}",
          formInputs
      );
    }

    $("#wordpress-form-false").on("submit", pushToWordPress);
  </script>

  <!-- <script>
    function pushToWordPress(evt) {

      if(confirm('This webfacet has already been pushed to your WordPress site. Are you sure you want to push it again?')) {
        evt.preventDefault();
        var formInputs = {
          "webfacet_id": $("#wf_id-field").val()
        };
        $.post("{% url 'webfacet_json' %}",
            formInputs
        );
      }
    }

    $("#wordpress-form-true").on("submit", pushToWordPress);
  </script> -->

{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}

<!-- ================================================= -->
              <!-- ADD STORYNOTE MODAL -->
<!-- ================================================= -->
<div class="modal fade" id="addStoryNote" tabindex="-1" role="dialog" aria-labelledby="addStoryNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="addStoryNoteLabel">Add a note for this story</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_story_note' %}" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form storynoteform %}
        <input type="hidden" name="story" value="{{ story.pk }}" />
        <button type="submit" class="btn btn-primary m-t-20">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- ================================================= -->
                <!-- DOWNLOAD MODAL -->
<!-- ================================================= -->

{% include "editorial/storydownloadmodal.html" %}

<!-- ================================================= -->
            <!-- IMAGE MODAL -->
<!-- ================================================= -->

{% include "editorial/story_imageassetmodal.html" %}

<!-- ================================================= -->
            <!-- DOCUMENT MODAL -->
<!-- ================================================= -->
{% include "editorial/story_documentassetmodal.html" %}

<!-- ================================================= -->
            <!-- AUDIO MODAL -->
<!-- ================================================= -->
{% include "editorial/story_audioassetmodal.html" %}

<!-- ================================================= -->
            <!-- ADD WEBFACET VIDEO MODAL -->
<!-- ================================================= -->

{% include "editorial/story_videoassetmodal.html" %}

{% endblock modals %}
