{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ====================================== -->
<!--      BREADCRUMB NAVIGATION             -->
<!-- ====================================== -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
        <li class="fadeIn"><a href="{% url 'story_detail' story.id %}" title="You are Here"> {{ story.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ====================================== -->
<!--            Main Section                -->
<!-- ====================================== -->

{% block content %}

<!-- ================================================= -->
<!-- ================================================= -->
                    <!-- TABS -->
<!-- ================================================= -->
<!-- ================================================= -->
    <div class="row">
      <div class="col-xs-12">
        <div class="bs-nav-tabs nav-tabs-default m-b-40" id="facettabs">
          <ul class="nav nav-tabs nav-animated-border-from-left nav-tabs-sticky text-center">
            <li class="nav-item"><a href="#storydetail" class="nav-link active" data-toggle="tab" data-target="#storydetail"><p class="f-r-14 f-w-300 m-b-0">Story Detail</p></a></li>
            <li class="nav-item"><p class="f-r-14 f-w-400 m-b-0 m-l-20 m-r-10"> | </p></li>
            {% for facet in story.facet_set.all %}
            <li class="nav-item"><a href="{% url 'facet_edit' facet.id %}" class="nav-link"><p class="f-r-10 f-w-300 m-b-0">{{ facet.name }}</p></a></li>
            {% endfor %}
            <li class="nav-item"><a href="{% url 'facet_precreate' %}" class="nav-link" title="Add a facet"><p class="f-r-12 f-w-300 m-b-0"><i class="fa fa-plus-square" aria-hidden="true"></i></p></a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

    <div class="row">
      <div class="col-md-12">
        <div class="tab-content">

          {% include "editorial/storymeta.html" %}

        </div><!-- End tab content -->
      </div><!-- End tabs -->
    </div><!-- End row -->


<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->

<!-- Image popups -->
  <script>
    $(".chosen-select").chosen()

    $('.image-library').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

  </script>

  <!-- Video Player -->
  <script>
    $('.embedded-video').magnificPopup({
      type: 'iframe',
      iframe: {
          patterns: {
              youtube: {
                  index: 'youtu.be/',
                  id: function(url) {
                      var m = url.match(/[\\?\\&]v=([^\\?\\&]+)/);
                      if ( !m || !m[1] ) return null;
                      return m[1];
                  },
                  src: '//www.youtube.com/embed/%id%?autoplay=1'
              },
              vimeo: {
                  index: 'vimeo.com/',
                  id: function(url) {
                      var m = url.match(/(https?:\/\/)?(www.)?(player.)?vimeo.com\/([a-z]*\/)*([0-9]{6,11})[?]?.*/);
                      if ( !m || !m[5] ) return null;
                      return m[5];
                  },
                  src: '//player.vimeo.com/video/%id%?autoplay=1'
              }
          }
      }
    });

  </script>



{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}

<!-- ================================================= -->
              <!-- ADD STORYTASK MODAL -->
<!-- ================================================= -->

<!-- Add Task Modal -->
<div class="modal fade" id="addStoryTask" tabindex="-1" role="dialog" aria-labelledby="addStoryTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addTaskModalLabel">Add a task for this story</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'task_new' %}" method="POST" class="post-form">
              {% csrf_token %}

              <div class="row">
                <div class="col-xs-12">
                      <!-- Name -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.name.label_tag }}</label>{% endcomment %}
                        {{ taskform.name }}
                        {% if taskform.name.errors %}
                          <small class="text-muted">{{ taskform.name.errors }}</small>
                        {% endif %}
                      </fieldset>
                      <!-- Details -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.text.label_tag }}</label>{% endcomment %}
                        {{ taskform.text }}
                        {% if taskform.text.errors %}
                          <small class="text-muted">{{ taskform.text.errors }}</small>
                        {% endif %}
                      </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!-- Importance -->
                    <fieldset class="form-check m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.important.label_tag }}</label>
                      {{ taskform.important }}
                      {% if taskform.important.errors %}
                        <small class="text-muted">{{ taskform.important.errors }}</small>
                      {% endif %}
                    </fieldset>
                    <!-- Due Date -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.due_date.label_tag }}</label>
                      {{ taskform.due_date }}
                      {% if taskform.due_date.errors %}
                        <small class="text-muted">{{ taskform.due_date.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
                <div class="col-xs-12 col-md-6">
                    <!-- Assigned To -->
                    <fieldset class="form-group m-b-10">
                      {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.assigned_to.label_tag }}</label>{% endcomment %}
                      {{ taskform.assigned_to }}
                      {% if taskform.assigned_to.errors %}
                        <small class="text-muted">{{ taskform.assigned_to.errors }}</small>
                      {% endif %}
                    </fieldset>
                    <!-- Status -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.status.label_tag }}</label>
                      {{ taskform.status }}
                      {% if taskform.status.errors %}
                        <small class="text-muted">{{ taskform.status.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input type="hidden" name="story" value="{{ story.pk }}" />
                  <button type="submit" class="btn btn-default">Add Task</button>
                </div>
              </div>

              </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <script>
    $(".chosen-select").chosen()
    </script>
</div>


<!-- ================================================= -->
              <!-- ADD STORYNOTE MODAL -->
<!-- ================================================= -->

{% with view.story_notes as notes %}
<div class="modal fade" id="addStoryNote" tabindex="-1" role="dialog" aria-labelledby="addStoryNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="addStoryNoteLabel">Add a note for this story</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_story_note' %}" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form notes.form %}
        <input type="hidden" name="story" value="{{ story.pk }}" />
        <button type="submit" class="btn btn-primary m-t-20">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endwith %}

<!-- ================================================= -->
                <!-- DOWNLOAD MODAL -->
<!-- ================================================= -->
{% comment %}
{% include "editorial/storydownloadmodal.html" %}
{% endcomment %}

{% endblock modals %}
