{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <p>{{ story.name }}</p>
            <p>{{story.story_description}}</p>
            <p>{{ story.owner.credit_name }}</p>
            <div>
            <a href="{% url 'story_edit' pk=story.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <h3>Web</h3>
          <form method="POST" class="post-form">
            {% csrf_token %}
            {% bootstrap_form webform %}
            <input type="submit" name="webform" value="Submit" />
          </form>
        </div>
        <div class="col-md-3">
          <h3>Print</h3>
          <form method="POST" class="post-form">
            {% csrf_token %}
            {% bootstrap_form printform %}
            <input type="submit" name="printform" value="Submit" />
          </form>
        </div>
        <div class="col-md-3">
          <h3>Audio</h3>
          <form method="POST" class="post-form">
            {% csrf_token %}
            {% bootstrap_form audioform %}
            <input type="submit" name="audioform" value="Submit" />
          </form>
        </div>
        <div class="col-md-3">
          <h3>Video</h3>
          <form method="POST" class="post-form">
            {% csrf_token %}
            {% bootstrap_form videoform %}
            <input type="submit" name="videoform" value="Submit" />
          </form>
        </div>
    </div>

{% endblock %}
