{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--             BREADCRUMB NAVIGATION                 -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
        <li class="fadeIn"><a href="{% url 'story_detail' story.id %}" title="You are Here"> {{ story.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ================================================= -->
<!-- ================================================= -->
<!--                   Main Section                    -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block content %}

<!-- ================================================= -->
                    <!-- Pseudo TABS -->
<!-- ================================================= -->

    <div class="row">
      <div class="col-xs-12">
        <div class="bs-nav-tabs nav-tabs-default m-b-40" id="facettabs">
          <ul class="nav nav-tabs nav-animated-border-from-left nav-tabs-sticky text-center">
            <li class="nav-item"><a href="#" class="nav-link active"><p class="f-r-14 f-w-300 m-b-0">Story Detail</p></a></li>
            <li class="nav-item"><p class="f-r-14 f-w-400 m-b-0 m-l-20 m-r-10"> | </p></li>
            {% for facet in story.facet_set.all %}
            <li class="nav-item"><a href="{% url 'facet_edit' facet.id %}" class="nav-link"><p class="f-r-10 f-w-300 m-b-0">{{ facet.name }}</p></a></li>
            {% endfor %}
            <li class="nav-item"><a href="{% url 'facet_precreate' %}" class="nav-link" title="Add a facet"><p class="f-r-12 f-w-300 m-b-0"><i class="fa fa-plus-square" aria-hidden="true"></i></p></a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- ================================================= -->
                    <!-- CONTENT -->
<!-- ================================================= -->

    <div class="row">
      <!-- Left Col -->
      <div class="col-xs-12 col-md-4 col-lg-3">
        <!-- Story Details -->
        <div id="story_details">
          <p class="f-s-18 f-w-400 thin m-b-20">{{ story.name }}</p>
          <p class="f-s-14 f-w-300 thin"><i>{{ story.story_description }}</i></p>
          <p class="m-b-20"><span class="f-s-14 f-w-500 subtle slim-margin m-b-10">Created:</span> <span class="sameline bright f-s-12 f-w-300">{{ story.creation_date|date:'N d, Y' }}</span></p>
          {% if story.project %}
          <a href="{% url 'project_detail' story.project.id %}" title="Go to Project detail"> <p class="f-s-14 f-w-300 thin">Project: {{ story.project.name }}</p></a>
          {% endif %}
          {% if story.series %}
          <a href="{% url 'series_detail' story.series.id %}" title="Go to Series detail"> <p class="f-s-14 f-w-300 thin">Series: {{ story.series.name }}</p></a>
          {% endif %}
          <p style="margin-left:-10px;">
            <span class="sameline subtle">{% if story.sensitive == True %} <i class="fa fa-check-square-o subtle"></i>{% else %}  <i class="fa fa-square subtle"></i>{% endif %}</span><span class="f-s-14 f-w-500 slim-margin m-b-10"> Sensitive</span>
            <br><span class="sameline subtle">{% if story.archived == True %} <i class="fa fa-check-square-o subtle"></i>{% else %}<i class="fa fa-square subtle"></i>{% endif %}</span><span class="f-s-14 f-w-500 slim-margin m-b-10"> Archive</span>
            <br><span class="sameline subtle">{% if story.collaborate == True %} <i class="fa fa-check-square-o subtle"></i>{% else %} <i class="fa fa-square subtle"></i>{% endif %}</span><span class="f-s-14 f-w-500 slim-margin m-b-10"> Collaborate</span>
            <br><span class="sameline subtle">{% if story.share == True %} <i class="fa fa-check-square-o subtle"></i>{% else %} <i class="fa fa-square subtle"></i>{% endif %}</span><span class="f-s-14 f-w-500 slim-margin m-b-10"> Share</span>
          </p>
          {% if story.collaborate == True %}
          <p class="f-s-14 f-w-500 subtle slim-margin m-b-10">Partners: </p>
          {% endif %}
              {% for collaborator in story.collaborate_with.all %}
              <p>{{ collaborator.name }}</p>
              {% endfor %}
          <p class="f-s-14 f-w-500 subtle slim-margin m-b-10">Team: </p>
          {% for user in story.team.all %}
              {% if user.display_photo %}
              <img class="img-circle m-b-5" width="24" src="{{ user.display_photo.url }}" alt="user">
              {% else %}
              <p class="tiny-text">{{ user.first_name }}</p>
              {% endif %}
          {% endfor %}
        </div>

        <!-- Story Discussion -->
        <div id="story_discussion" class="m-t-50">
          {% with view.story_discussion as discussion %}
            <h4 class="m-b-20"> Discussion</h4>
            <div class="comments" data-toggle="slimScroll" style="height:250px" data-color="#5D9CEC" data-allow-page-scroll="false">
                  {% for comment in discussion.comments %}
                  <div class="row m-b-10">
                      <div class="col-xs-12">
                          <div class="media">
                              <a class="media-left">
                                {% if comment.user.display_photo %}
                                  <img class="media-object img-circle h-40 w-40" src="{{ comment.user.display_photo.url }}" alt="user">
                                {% else %}
                                  <p class="f-w-300 f-s-12">{{ comment.user.first_name }}</p>
                                {% endif %}
                              </a>
                              <div class="media-body">
                                  <p class="f-w-300 f-s-16">{{ comment.text }}
                                  <span class="f-w-400 f-s-12 color-default p-r-40" style="float: right;">
                                    {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }}
                                  </span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
            </div>
            <div class="post-comment">
              <div class="row">
                <form action="{% url 'create_storycomment' %}" method="POST" class="post-form" role="form">
                  <div class="col-md-10 neg-m-r-10">
                      {% csrf_token %}
                      <div class="form-group">
                      {{ discussion.form.text }}
                      </div>
                      {% if discussion.form.text.errors %}
                        <div class="alert alert-warning" role="alert">
                        {{ discussion.form.text.errors }}
                        </div>
                      {% endif %}
                      <input type="hidden" name="story" value="{{ story.pk }}" />
                  </div>
                  <div class="col-md-2 neg-m-l-10">
                      <div class="form-group">
                        <button type="submit" class="btn btn-default btn-lg" name="storycommentform">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                      </div>
                      <!-- <input type="submit" name="storycommentform" value="Post Comment"/> -->
                  </div>
                </form>
              </div>
            </div>
          {% endwith %}
        </div>

      </div>

      <!-- Middle Col -->
      <div class="col-xs-12 col-md-4 col-lg-6">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="m-b-20"><a data-toggle="modal" data-target="#addStoryTask" title="Add Project Task">
              <i class="fa fa-plus sameline subtle m-r-20"></i>
            </a><a href="{% url 'story_task_list' story.id %}" title="Expand to see more">Tasks <span class="f-s-12 f-w-400 subtle"> (All tasks <i class="fa fa-long-arrow-right subtle" aria-hidden="true">)</i></span></a></h4>
          </div>
        </div>
        <!-- Story Tasks -->
        <div id="story_tasks">
            {% with view.story_tasks as tasks %}
            <div class="row m-b-50">
              <!-- Identified Tasks -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="col-xs-12 task-header">
                  <p class="f-s-14 f-w-400 underline-warning underline-120">Identified</p>
                </div>
                <div class="col-xs-12 task-col">
                  <div class="displaytasks">
                    <div class="activity-widget-5">
                      <div class="row">
                        <div class="col-xs-12 bs-media" id="board-1">
                          {% for task in tasks.tasks %}
                            {% if task.status == "Identified"  %}
                              <div class="media">
                                <a href="{% url 'task_detail' task.id %}" title="View more detail">
                                  <div class="media-body">
                                    <h5 class="media-heading">
                                      {% if task.important == True %}
                                        <span class="label"><i class="fa fa-star" aria-hidden="true"></i></span>
                                      {% else %}
                                        <span class="label"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                      {% endif %}
                                      {{ task.name }}
                                    </h5>
                                    <p>{{ task.text|truncatechars:100 }}</p>
                                    <p class="color-warning-300 f-s-8 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                                  </div>
                                </a>
                                {% for user in task.assigned_to.all %}
                                  {% if user.display_photo %}
                                    <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-20 h-20 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- In Progress Tasks -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="col-xs-12 task-header">
                  <p class="f-s-14 f-w-400 underline-primary underline-120">In Progress</p>
                </div>
                <div class="col-xs-12 task-col">
                  <div class="displaytasks">
                    <div class="activity-widget-5">
                      <div class="row">
                        <div class="col-xs-12 bs-media" id="board-2">
                          {% for task in tasks.tasks %}
                            {% if task.status == "In Progress"  %}
                              <div class="media">
                                <a href="{% url 'task_detail' task.id %}" title="View more detail">
                                  <div class="media-body">
                                    <h5 class="media-heading">
                                      {% if task.important == True %}
                                        <span class="label"><i class="fa fa-star" aria-hidden="true"></i></span>
                                      {% else %}
                                        <span class="label"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                      {% endif %}
                                      {{ task.name }}
                                    </h5>
                                    <p>{{ task.text|truncatechars:100 }}</p>
                                    <p class="color-primary-500 f-s-10 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                                  </div>
                                </a>
                                {% for user in task.assigned_to.all %}
                                  {% if user.display_photo %}
                                    <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-20 h-20 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Complete Tasks -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="col-xs-12 task-header">
                  <p class="f-s-14 f-w-400 underline-success underline-120">Complete</p>
                </div>
                <div class="col-xs-12 task-col">
                  <div class="displaytasks">
                    <div class="activity-widget-5">
                      <div class="row">
                        <div class="col-xs-12 bs-media" id="board-3">
                          {% for task in tasks.tasks %}
                            {% if task.status == "Complete"  %}
                              <div class="media">
                                <a href="{% url 'task_detail' task.id %}" title="View more detail">
                                  <div class="media-body">
                                    <h5 class="media-heading">
                                      {% if task.important == True %}
                                        <span class="label"><i class="fa fa-star" aria-hidden="true"></i></span>
                                      {% else %}
                                        <span class="label"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                      {% endif %}
                                      {{ task.name }}
                                    </h5>
                                    <p>{{ task.text|truncatechars:100 }}</p>
                                    <p class="color-success-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                                  </div>
                                </a>
                                {% for user in task.assigned_to.all %}
                                  {% if user.display_photo %}
                                    <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-20 h-20 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endwith %}
        </div>

      </div>

      <!-- Right Col -->
      <div class="col-xs-12 col-md-4 col-lg-3">

        <!-- Story Notes -->
        <div id="story_notes">
          {% with view.story_notes as notes %}
            <h4 class="m-b-20">Notes <a data-toggle="modal" data-target="#addStoryNote" title="Add Story Note"><i class="fa fa-plus sameline dark"></i></a></h4>
            {% for note in notes.notes %}
              <div class="col-xs-12">
                <div class="card bs-card">
                    <div class="card-block">
                        <a data-toggle="modal" data-target="#addNote{{note.id}}" title="View Organization Note"><h4 class="f-s-16 f-w-500 m-b-20">{{ note.title }}</h4></a>
                        <p class="card-text color-default f-s-12">{{ note.owner.credit_name }}
                            <br>{{ note.creation_date|date:'N j' }}, {{ note.creation_date|date:'g:i a' }}</p>
                    </div>
                </div>
              </div>
            {% endfor %}
            <a href="{% url 'story_notes' pk=story.id %}" class="link-text m-b-40 subtle"><small>See all notes...</small></a>
          {% endwith %}
        </div>

        <!-- Story Events -->
        <div id="story_events" class="m-t-50">
          <h4 class="m-b-20">Engagement</h4>
          {% with view.story_events as events %}
          <div class="row m-b-20">
            <div class="col-xs-12">
              <p class="f-s-16 f-w-600 subtle slim-margin">Events:</p>
              {% for event in events.events %}
              <p><i class="fa fa-calendar" aria-hidden="true"></i>  <a href="{% url 'event_detail' pk=event.id %}" title="See event details">{{ event.name }}</a>
                <br><span class="card-text color-default f-s-12"> {{ event.event_date|date:'N j, g:i a'}}</span></p>
              {% endfor %}
            </div>
          </div>
          {% endwith %}
        </div>

        {% comment %}
        <!-- Story Calendar -->
        <div id="story_calendar">
          <h4 class="m-b-20">Calendar</h4>
          <div id="calendar"></div>
        </div>
        {% endcomment %}

      </div>
    </div><!-- End row -->


<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->

<!-- Image popups -->
  <script>
    $(".chosen-select").chosen()

    $('.image-library').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

  </script>

  <!-- Video Player -->
  <script>
    $('.embedded-video').magnificPopup({
      type: 'iframe',
      iframe: {
          patterns: {
              youtube: {
                  index: 'youtu.be/',
                  id: function(url) {
                      var m = url.match(/[\\?\\&]v=([^\\?\\&]+)/);
                      if ( !m || !m[1] ) return null;
                      return m[1];
                  },
                  src: '//www.youtube.com/embed/%id%?autoplay=1'
              },
              vimeo: {
                  index: 'vimeo.com/',
                  id: function(url) {
                      var m = url.match(/(https?:\/\/)?(www.)?(player.)?vimeo.com\/([a-z]*\/)*([0-9]{6,11})[?]?.*/);
                      if ( !m || !m[5] ) return null;
                      return m[5];
                  },
                  src: '//player.vimeo.com/video/%id%?autoplay=1'
              }
          }
      }
    });

  </script>

  <!-- Calendar -->
  <script>
  (function() {
      'use strict';

      $(function() {
          var events_array = $.get('{% url "story_schedule" story.id %}')
          $('#calendar').fullCalendar({
              dayClick: function(date, jsEvent, view) {
                  console.log('Clicked on: ' + date.format());
                  console.log('Event: ', jsEvent);
                  console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                  console.log('Current view: ' + view.name);
              },
              header: {
                  left: 'prev,next',
                  center: '',
                  right: 'title'
              },
              defaultView: 'month',
              editable: true,
              events: '{% url "story_schedule" story.id %}',
          });
      });
  })();
</script>

{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}

<!-- ================================================= -->
              <!-- ADD STORYTASK MODAL -->
<!-- ================================================= -->

<!-- Add Task Modal -->
<div class="modal fade" id="addStoryTask" tabindex="-1" role="dialog" aria-labelledby="addStoryTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addTaskModalLabel">Add a task for this story</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'task_new' %}" method="POST" class="post-form">
              {% csrf_token %}

              <div class="row">
                <div class="col-xs-12">
                      <!-- Name -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.name.label_tag }}</label>{% endcomment %}
                        {{ taskform.name }}
                        {% if taskform.name.errors %}
                          <small class="text-muted">{{ taskform.name.errors }}</small>
                        {% endif %}
                      </fieldset>
                      <!-- Details -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.text.label_tag }}</label>{% endcomment %}
                        {{ taskform.text }}
                        {% if taskform.text.errors %}
                          <small class="text-muted">{{ taskform.text.errors }}</small>
                        {% endif %}
                      </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!-- Importance -->
                    <fieldset class="form-check m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.important.label_tag }}</label>
                      {{ taskform.important }}
                      {% if taskform.important.errors %}
                        <small class="text-muted">{{ taskform.important.errors }}</small>
                      {% endif %}
                    </fieldset>
                    <!-- Due Date -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.due_date.label_tag }}</label>
                      {{ taskform.due_date }}
                      {% if taskform.due_date.errors %}
                        <small class="text-muted">{{ taskform.due_date.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
                <div class="col-xs-12 col-md-6">
                    <!-- Assigned To -->
                    <fieldset class="form-group m-b-10">
                      {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.assigned_to.label_tag }}</label>{% endcomment %}
                      {{ taskform.assigned_to }}
                      {% if taskform.assigned_to.errors %}
                        <small class="text-muted">{{ taskform.assigned_to.errors }}</small>
                      {% endif %}
                    </fieldset>
                    <!-- Status -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ taskform.status.label_tag }}</label>
                      {{ taskform.status }}
                      {% if taskform.status.errors %}
                        <small class="text-muted">{{ taskform.status.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input type="hidden" name="story" value="{{ story.pk }}" />
                  <button type="submit" class="btn btn-default">Add Task</button>
                </div>
              </div>

              </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <script>
    $(".chosen-select").chosen()
    </script>
</div>


<!-- ================================================= -->
              <!-- ADD STORYNOTE MODAL -->
<!-- ================================================= -->

{% with view.story_notes as notes %}
<div class="modal fade" id="addStoryNote" tabindex="-1" role="dialog" aria-labelledby="addStoryNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="addStoryNoteLabel">Add a note for this story</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_story_note' %}" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form notes.form %}
        <input type="hidden" name="story" value="{{ story.pk }}" />
        <button type="submit" class="btn btn-primary m-t-20">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endwith %}

<!-- ================================================= -->
                <!-- DOWNLOAD MODAL -->
<!-- ================================================= -->
{% comment %}
{% include "editorial/storydownloadmodal.html" %}
{% endcomment %}

{% endblock modals %}
