{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        {% if story %}
          <li class="fadeIn"><a href="{% url 'story_list' %}" title="Got to Story Dashboard"> Stories </a></li>
          <li class="fadeIn"><a href="{% url 'story_detail' story.id %}" title="View Story"> {{ story.name }} </a></li>
          <li class="fadeIn"><a href="{% url 'story_edit' story.id %}" title="You are Here"> Edit {{ story.name }} </a></li>
        {% else %}
        <li class="fadeIn"> Create New Story </li>
        {% endif %}
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

ERRORS={{form.errors}}


<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="row">
      <form method="POST" class="post-form forms-basic">{% csrf_token %}
        <!-- Left Side -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4 class="m-b-20">Story Details</h4>
            <div class="row m-b-10">
                <!-- Story Name -->
                <fieldset class="form-group m-b-20">
                  {% comment %}
                  <div class="col-xs-2">
                    <label>{{ form.name.label_tag }}</label>
                  </div>
                  {% endcomment %}
                  <div class="col-xs-12">
                    {{ form.name }}
                    {% if form.name.errors %}
                    <small class="text-muted">{{ form.name.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
                <!-- Story Description -->
                <fieldset class="form-group m-b-20">
                  {% comment %}
                  <div class="col-xs-2">
                    <label class="capitalize">{{ form.story_description.label_tag }}</label>
                  </div>
                  {% endcomment %}
                  <div class="col-xs-12">
                    {{ form.story_description }}
                    {% if form.story_description.errors %}
                    <small class="text-muted">{{ form.story_description.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
                <!-- Team Selection -->
                <fieldset class="form-group m-b-20">
                  {% comment %}
                  <div class="col-xs-2">
                    <label class="capitalize">{{ form.team.label_tag }}</label>
                  </div>
                  {% endcomment %}
                  <div class="col-xs-12">
                    {{ form.team }}
                    {% if form.team.errors %}
                    <small class="text-muted">{{ form.team.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
                <!-- Series Select -->
                <fieldset class="form-group m-b-20 m-l-20" id="fieldset-story-series">
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label class="capitalize pull-left">{{ form.series.label_tag }}</label>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    {{ form.series }}
                    {% if form.series.errors %}
                      <small class="text-muted">{{ form.series.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
                <!-- Project Select -->
                <fieldset class="form-group m-b-20 m-l-20" id="fieldset-story-series">
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label class="capitalize pull-left">{{ form.project.label_tag }}</label>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    {{ form.project }}
                    {% if form.project.errors %}
                      <small class="text-muted">{{ form.project.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
            </div>
            <div class="row m-b-20">
              <!-- <div class="form-group custom-form"> -->
                <div class="col-xs-2">
                  <label class="capitalize">Embargo:</label>
                  {{ form.embargo }}
                  {% if form.embargo.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ form.embargo.errors }}
                    </div>
                  {% endif %}
                </div>
                <div class="col-xs-2">
                  <label class="sameline">Embargo Date:</label>
                </div>
                <div class="col-xs-8">
                  {{ form.embargo_datetime }}
                  {% if form.embargo_datetime.errors %}
                    <small class="text-muted">{{ form.embargo_datetime.errors }}</small>
                  {% endif %}
                </div>
            </div>

            <!-- Sensitive / Archive Row -->
            <div class="row m-b-10">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Sensitive -->
                    <div class="form-group custom-form">
                      <label class="capitalize">{{ form.sensitive.label_tag }}</label>
                      {{ form.sensitive }}
                      {% if form.sensitive.errors %}
                        <small class="text-muted">{{ form.sensitive.errors }}</small>
                      {% endif %}
                    </div>
                    <!-- Archive -->
                    <div class="form-group custom-form">
                      <label class="capitalize">{{ form.archived.label_tag }}</label>
                      {{ form.archived }}
                      {% if form.archived.errors %}
                        <small class="text-muted">{{ form.archived.errors }}</small>
                      {% endif %}
                    </div>
                </div>

              </div>
        </div> <!-- End of Left Column -->


      <!-- Right Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4 class="m-b-20">Sharing</h4>

        {% if view.org_partners %}
        <!-- To Share -->
        <fieldset class="form-group m-b-20">
          <label class="capitalize">{{ form.share.label_tag }}</label>
          {{ form.share }}
          {% if form.share.errors %}
            <small class="text-muted">{{ form.share.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Ready To Share -->
        <fieldset class="form-group m-b-20">
          <label class="capitalize">{{ form.ready_to_share.label_tag }}</label>
          {{ form.ready_to_share }}
          {% if form.ready_to_share.errors %}
            <small class="text-muted">{{ form.ready_to_share.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Share With -->
        <fieldset class="form-group m-b-20">
          {% comment %}
          <label class="capitalize">{{ form.share_with.label_tag }}</label>
          {% endcomment %}
          {{ form.share_with }}
          {% if form.share_with.errors %}
            <small class="text-muted">{{ form.share_with.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Available to Networks -->
        <div class="row m-b-20 m-t-20">
          <fieldset class="form-group m-b-10">
            <div class="col-xs-2">
              <label class="capitalize">{{ form.share_with_date.label_tag }}</label>
            </div>
            <div class="col-xs-10">
            {{ form.share_with_date }}
            {% if form.share_with_date.errors %}
              <small class="text-muted">{{ form.share_with_date.errors }}</small>
            {% endif %}
            </div>
          </fieldset>
        </div>

        <h4 class="m-b-20">Collaboration</h4>

        <!-- To Collaborate -->
        <fieldset class="form-group m-b-20">
          <label class="capitalize">{{ form.collaborate.label_tag }}</label>
          {{ form.collaborate }}
          {% if form.collaborate.errors %}
            <small class="text-muted">{{ form.collaborate.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Collaborate With -->
        <fieldset class="form-group m-b-20">
          {% comment %}
          <label class="capitalize">{{ form.collaborate_with.label_tag }}</label>
          {% endcomment %}
          {{ form.collaborate_with }}
          {% if form.collaborate_with.errors %}
            <small class="text-muted">{{ form.collaborate_with.errors }}</small>
          {% endif %}
        </fieldset>

        {% else %}
        <h5>Start or join a network to enable sharing or collaboration.</h5>
        {% endif %}

        <a href="{% url 'story_new' %}" title="Cancel"><button class="save btn btn-danger-100 m-t-40 m-r-10 pull-right">Cancel</button></a>
        <button type="submit" class="save btn btn-default m-t-40 m-r-10 pull-right">Save</button>
      </div>

    </form>

    </div>
  </div>
</div>


<script>
$(".chosen-select").chosen()
</script>

{% endblock %}
