{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<h1 class="center">Story List</h1>

<div class="row">
  <div class="col-md-12">

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Story</th>
          <th>Facet</th>
          <th>Title</th>
          <th>Credit</th>
          <th>Edit Date</th>
          <th>Run Date</th>
        </tr>
      </thead>
      <tbody>
        {% for story in stories %}
        <tr>
          <th>{{ }}</th>
          <th>{{ }}</th>
          <th>{{ }}</th>
          <th>{{ }}</th>
          <th>{{ }}</th>
          <th>{{ }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% for story in stories %}

    <ul>
        <li><a href="{% url 'story_detail' pk=story.id %}">{{story.name}}</a></li>
    </ul>

{% endfor %}

{% endblock %}
