{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<h2 class="center">Story List</h2>

<div class="row">
  <div class="col-md-12">

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Story</th>
          <th>Facet</th>
          <th>Title</th>
          <th>Credit</th>
          <th>Edit Date</th>
          <th>Run Date</th>
        </tr>
      </thead>
      <tbody>
      {% for story in stories %}

        {% if story.webfacetstory.all or story.printfacetstory.all or story.audiofacetstory.all or story.videofacetstory.all %}
          {% for facet in story.webfacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.facet_type}}</td>
              <td>{{ facet.title }}</td>
              <td>{{ facet.owner.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
            </tr>
          {% endfor %}
          {% for facet in story.printfacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.facet_type}}</td>
              <td>{{ facet.title }}</td>
              <td>{{ facet.owner.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
            </tr>
          {% endfor %}
          {% for facet in story.audiofacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.facet_type}}</td>
              <td>{{ facet.title }}</td>
              <td>{{ facet.owner.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
            </tr>
          {% endfor %}
          {% for facet in story.videofacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></td>
              <td>{{ facet.facet_type}}</td>
              <td>{{ facet.title }}</td>
              <td>{{ facet.owner.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
            </tr>
          {% endfor %}
        {% else %}
            <tr>
              <td><a href="{% url 'story_detail' pk=story.id %}">{{ story.name }}</a></td>
              <td></td>
              <td><i class="tiny-text">Create a facet</i></td>
              <td>{{ story.owner.credit_name }}</td>
              <td></td>
              <td></td>
            </tr>
        {% endif %}

      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
