{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load embed_video_tags %}

{% block head %}
{{ webform.media }}
{% endblock %}

<!-- ====================================== -->
<!--      BREADCRUMB NAVIGATION             -->
<!-- ====================================== -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
        <li class="fadeIn"><a href="{% url 'story_detail' story.id %}" title="You are Here"> {{ story.name }} </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ====================================== -->
<!--            Main Section                -->
<!-- ====================================== -->

{% block content %}

<!-- ================================================= -->
<!-- ================================================= -->
                    <!-- TABS -->
<!-- ================================================= -->
<!-- ================================================= -->
    <div class="row">
      <div class="col-xs-12">
        <div class="bs-nav-tabs nav-tabs-default m-b-40" id="facettabs">
          <ul class="nav nav-tabs nav-animated-border-from-left nav-tabs-sticky text-center">
            <li class="nav-item"><a href="#storydetail" class="nav-link active" data-toggle="tab" data-target="#storydetail"><p class="f-r-14 f-w-300 m-b-0">Story Detail</p></a></li>
            <li class="nav-item"><p class="f-r-14 f-w-400 m-b-0 m-l-20 m-r-10"> | </p></li>
            {% for facet in story.facet_set.all %}
            <li class="nav-item"><a href="{% url 'facet_edit' facet.id %}" class="nav-link"><p class="f-r-10 f-w-300 m-b-0">{{ facet.name }}</p></a></li>
            {% endfor %}
            <li class="nav-item"><a href="#" class="nav-link"><p class="f-r-12 f-w-300 m-b-0"><i class="fa fa-plus-square" aria-hidden="true"></i></p></a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- ================================================= -->
<!-- ================================================= -->
                      <!-- TAB CONTENT -->
<!-- ================================================= -->
<!-- ================================================= -->

    <div class="row">
      <div class="col-md-12">
        <div class="tab-content">
          <!-- ================================================= -->
                          <!--   STORY PANEL   -->
          <!-- ================================================= -->
          {% include "editorial/storymeta.html" %}

        </div><!-- End tab content -->
      </div><!-- End tabs -->
    </div><!-- End row -->

<!-- ================================================= -->
<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->
<!-- ================================================= -->

<!-- Image popups -->
  <script>
    $(".chosen-select").chosen()

    $('.image-library').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {enabled:true}
    });

  </script>

  <!-- Video Player -->
  <script>
    $('.embedded-video').magnificPopup({
      type: 'iframe',
      iframe: {
          patterns: {
              youtube: {
                  index: 'youtu.be/',
                  id: function(url) {
                      var m = url.match(/[\\?\\&]v=([^\\?\\&]+)/);
                      if ( !m || !m[1] ) return null;
                      return m[1];
                  },
                  src: '//www.youtube.com/embed/%id%?autoplay=1'
              },
              vimeo: {
                  index: 'vimeo.com/',
                  id: function(url) {
                      var m = url.match(/(https?:\/\/)?(www.)?(player.)?vimeo.com\/([a-z]*\/)*([0-9]{6,11})[?]?.*/);
                      if ( !m || !m[5] ) return null;
                      return m[5];
                  },
                  src: '//player.vimeo.com/video/%id%?autoplay=1'
              }
          }
      }
    });

  </script>



{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->

{% block modals %}

<!-- ================================================= -->
              <!-- ADD STORYNOTE MODAL -->
<!-- ================================================= -->

{% with view.story_notes as notes %}
<div class="modal fade" id="addStoryNote" tabindex="-1" role="dialog" aria-labelledby="addStoryNoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="addStoryNoteLabel">Add a note for this story</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_story_note' %}" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form notes.form %}
        <input type="hidden" name="story" value="{{ story.pk }}" />
        <button type="submit" class="btn btn-primary m-t-20">Post Note</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endwith %}

<!-- ================================================= -->
                <!-- DOWNLOAD MODAL -->
<!-- ================================================= -->
{% comment %}
{% include "editorial/storydownloadmodal.html" %}
{% endcomment %}

{% endblock modals %}
