{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="Got to Story Dashboard"> Stories </a></li>
        <li class="fadeIn"><a href="{% url 'story_detail' story.id %}" title="View Story"> {{ story.name }} </a></li>
        <li class="fadeIn"><a href="{% url 'story_edit' story.id %}" title="You are Here"> Edit {{ story.name }} </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row">
      <form method="POST" class="post-form forms-basic">{% csrf_token %}
        <!-- Left Side -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4 class="m-b-20">Story Details</h4>
            <div class="row m-b-10">
                <!-- Story Name -->
                <fieldset class="form-group m-b-20">
                  {% comment %}
                  <div class="col-xs-2">
                    <label>{{ storyform.name.label_tag }}</label>
                  </div>
                  {% endcomment %}
                  <div class="col-xs-12">
                    {{ storyform.name }}
                    {% if storyform.name.errors %}
                    <small class="text-muted">{{ storyform.name.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
                <!-- Story Description -->
                <fieldset class="form-group m-b-20">
                  {% comment %}
                  <div class="col-xs-2">
                    <label class="capitalize">{{ storyform.story_description.label_tag }}</label>
                  </div>
                  {% endcomment %}
                  <div class="col-xs-12">
                    {{ storyform.story_description }}
                    {% if storyform.story_description.errors %}
                    <small class="text-muted">{{ storyform.story_description.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
                <!-- Team Selection -->
                <fieldset class="form-group m-b-20">
                  {% comment %}
                  <div class="col-xs-2">
                    <label class="capitalize">{{ storyform.team.label_tag }}</label>
                  </div>
                  {% endcomment %}
                  <div class="col-xs-12">
                    {{ storyform.team }}
                    {% if storyform.team.errors %}
                    <small class="text-muted">{{ storyform.team.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
                <!-- Series Select -->
                <fieldset class="form-group m-b-20 m-l-20" id="fieldset-story-series">
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label class="capitalize pull-left">{{ storyform.series.label_tag }}</label>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    {{ storyform.series }}
                    {% if storyform.series.errors %}
                      <small class="text-muted">{{ storyform.series.errors }}</small>
                    {% endif %}
                  </div>
                </fieldset>
            </div>
            <div class="row m-b-20">
              <!-- <div class="form-group custom-form"> -->
                <div class="col-xs-2">
                  <label class="capitalize">Embargo:</label>
                  {{ storyform.embargo }}
                  {% if storyform.embargo.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ storyform.embargo.errors }}
                    </div>
                  {% endif %}
                </div>
                <div class="col-xs-2">
                  <label class="sameline">Embargo Date:</label>
                </div>
                <div class="col-xs-8">
                  {{ storyform.embargo_datetime }}
                  {% if storyform.embargo_datetime.errors %}
                    <small class="text-muted">{{ storyform.embargo_datetime.errors }}</small>
                  {% endif %}
                </div>
            </div>

            <!-- Sensitive / Archive Row -->
            <div class="row m-b-10">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Sensitive -->
                    <div class="form-group custom-form">
                      <label class="capitalize">{{ storyform.sensitive.label_tag }}</label>
                      {{ storyform.sensitive }}
                      {% if storyform.sensitive.errors %}
                        <small class="text-muted">{{ storyform.sensitive.errors }}</small>
                      {% endif %}
                    </div>
                    <!-- Archive -->
                    <div class="form-group custom-form">
                      <label class="capitalize">{{ storyform.archived.label_tag }}</label>
                      {{ storyform.archived }}
                      {% if storyform.archived.errors %}
                        <small class="text-muted">{{ storyform.archived.errors }}</small>
                      {% endif %}
                    </div>
                </div>

              </div>
        </div> <!-- End of Left Column -->


      <!-- Right Side -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4 class="m-b-20">Sharing</h4>

        {% if org_partners %}
        <!-- To Share -->
        <fieldset class="form-group m-b-20">
          <label class="capitalize">{{ storyform.share.label_tag }}</label>
          {{ storyform.share }}
          {% if storyform.share.errors %}
            <small class="text-muted">{{ storyform.share.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Ready To Share -->
        <fieldset class="form-group m-b-20">
          <label class="capitalize">{{ storyform.ready_to_share.label_tag }}</label>
          {{ storyform.ready_to_share }}
          {% if storyform.ready_to_share.errors %}
            <small class="text-muted">{{ storyform.ready_to_share.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Share With -->
        <fieldset class="form-group m-b-20">
          {% comment %}
          <label class="capitalize">{{ storyform.share_with.label_tag }}</label>
          {% endcomment %}
          {{ storyform.share_with }}
          {% if storyform.share_with.errors %}
            <small class="text-muted">{{ storyform.share_with.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Available to Networks -->
        <div class="row m-b-20 m-t-20">
          <fieldset class="form-group m-b-10">
            <div class="col-xs-2">
              <label class="capitalize">{{ storyform.share_with_date.label_tag }}</label>
            </div>
            <div class="col-xs-10">
            {{ storyform.share_with_date }}
            {% if storyform.share_with_date.errors %}
              <small class="text-muted">{{ storyform.share_with_date.errors }}</small>
            {% endif %}
            </div>
          </fieldset>
        </div>

        <h4 class="m-b-20">Collaboration</h4>

        <!-- To Collaborate -->
        <fieldset class="form-group m-b-20">
          <label class="capitalize">{{ storyform.collaborate.label_tag }}</label>
          {{ storyform.collaborate }}
          {% if storyform.collaborate.errors %}
            <small class="text-muted">{{ storyform.collaborate.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- Collaborate With -->
        <fieldset class="form-group m-b-20">
          {% comment %}
          <label class="capitalize">{{ storyform.collaborate_with.label_tag }}</label>
          {% endcomment %}
          {{ storyform.collaborate_with }}
          {% if storyform.collaborate_with.errors %}
            <small class="text-muted">{{ storyform.collaborate_with.errors }}</small>
          {% endif %}
        </fieldset>

        {% else %}
        <h5>Start or join a network to enable sharing or collaboration.</h5>
        {% endif %}

        <a href="{% url 'story_new' %}" title="Cancel"><button class="save btn btn-danger-100 m-t-40 m-r-10 pull-right">Cancel</button></a>
        <button type="submit" class="save btn btn-default m-t-40 m-r-10 pull-right">Save</button>
      </div>

    </form>

    </div>
  </div>
</div>



<script>
$(".chosen-select").chosen()
</script>

<!-- <script>
// mode
  $.fn.editable.defaults.mode = 'inline';

  //editables
  $('#storyname').editable();

  $('#storydescription').editable({
    showbuttons: 'bottom'
  });

  $('#storyseries').editable({
       showbuttons: false
    });

// {% url "story_team_options_json" pk=story.id %}

  $('#storyteam').editable({
    inputclass: 'input-large',
    select2: {
        width: 300,
        tags: ["Abe", "Madison", "Victoria", "Garrett", "Katie"],
        placeholder: 'Select team',
        tokenSeparators: [",", " "]
    }
  });

  $('#storyshare').editable({
    type: 'checklist',
    url: '',
    pk: 1,
    placement: 'right',
    title: 'Check to Share',
    source: {'1': 'Shared'},
    emptytext: 'Not Shared'
  });

  $('#storyreadytoshare').editable({
    type: 'checklist',
    url: '',
    pk: 1,
    placement: 'right',
    title: 'Check to Share',
    source: {'1': 'Ready'},
    emptytext: 'Not Ready'
  });

  $('#storysharewith').editable({
    inputclass: 'input-large',
    select2: {
        tags: ['html', 'javascript', 'css', 'ajax'],
        tokenSeparators: [",", " "]
    }
  });

  $('#storysharedate').editable({
    placement: 'right',
    combodate: {
      firstItem: 'name'
    }
  });

  $('#storycollaborate').editable({
    type: 'checklist',
    url: '',
    pk: 1,
    placement: 'right',
    title: 'Check to Share',
    source: {'1': 'Collaborate'},
    emptytext: 'Not Collaborative'
  });

  $('#storycollaboratewith').editable({
    inputclass: 'input-large',
    select2: {
        tags: ['html', 'javascript', 'css', 'ajax'],
        tokenSeparators: [",", " "]
    }
  });

  $('#storyembargo').editable({
    type: 'checklist',
    url: '',
    pk: 1,
    placement: 'right',
    title: 'Check to Share',
    source: {'1': 'Embargoed'},
    emptytext: 'No Embargo'
  });

  $('#storyembargodate').editable();

  $('#storysensitive').editable({
    type: 'checklist',
    url: '',
    pk: 1,
    placement: 'right',
    title: 'Check to Share',
    source: {'1': 'Sensitive'},
    emptytext: 'Not Sensitive'
  });

  $('#storyarchive').editable({
    type: 'checklist',
    url: '',
    pk: 1,
    placement: 'right',
    title: 'Check to Share',
    source: {'1': 'Archived'},
    emptytext: 'Active'
  });

</script> -->


{% endblock %}
