{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-- ====================================== -->
<!--      BREADCRUMB NAVIGATION             -->
<!-- ====================================== -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"> Content </li>
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="View Story List"> Stories </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ====================================== -->
<!--            Main Section                -->
<!-- ====================================== -->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">
    {% if stories %}
    <!-- Full table for md and lg displays -->
    <table id="stories-list" class="table table-condensed table-striped hidden-sm-down">
      <thead>
        <tr class="f-s-12">
          <th class="dark">Story</th>
          <th class="dark">Facet</th>
          <th class="dark">Title</th>
          <th class="dark">Credit</th>
          <th class="dark">Edit Date</th>
          <th class="dark">Run Date</th>
          <th class="dark">Status</th>
          <th class="dark">Sharing</th>
          <th class="dark">Collaboration</th>
        </tr>
      </thead>
      <tbody>


        {% for story in stories %}
          {% if story.facet_set.all %}
            {% for facet in story.facet_set.all %}
              <tr class="f-s-14">
                <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
                <td><p class="text-subtle">{{ facet.name }}</p></td>
                <td><a href="{% url 'facet_edit' pk=facet.id %}" data-toggle="tooltip" title="{{ facet.description }}">{{ facet.title }}</a></td>
                <td>{{ facet.credit.all.0.credit_name }}</td>
                <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
                <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
                <td>{{ facet.status }}</td>
                <td>{% if facet.story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                <td>{% if facet.story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
              </tr>
            {% endfor %}
          {% else %}
              <tr class="f-s-14">
                <td><a href="{% url 'story_detail' pk=story.id %}">{{ story.name }}</a></td>
                <td><i class="f-s-12 text-subtle">Create a facet</i></td>
                <td></td>
                <td>{{ story.owner.credit_name }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{% if story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                <td>{% if story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
              </tr>
          {% endif %}

        {% endfor %}



      </tbody>
    </table>
    <!-- End Full table for md and lg displays -->

    <!-- Partial table for xs and sm displays -->
    <table id="stories-list" class="table table-condensed table-striped hidden-md-up">
      <thead>
        <tr>
          <th class="dark">Story</th>
          <th class="dark">Facet</th>
          <th class="dark">Status</th>
        </tr>
      </thead>
      <tbody>
      {% for story in stories %}
        {% if story.webfacetstory.all or story.printfacetstory.all or story.audiofacetstory.all or story.videofacetstory.all %}
          {% for facet in story.webfacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.type}}</td>
              <td>{{ facet.status }}</td>
            </tr>
          {% endfor %}
          {% for facet in story.printfacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.type}}</td>
              <td>{{ facet.status }}</td>
            </tr>
          {% endfor %}
          {% for facet in story.audiofacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.type}}</td>
              <td>{{ facet.status }}</td>
            </tr>
          {% endfor %}
          {% for facet in story.videofacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></td>
              <td>{{ facet.type}}</td>
              <td>{{ facet.status }}</td>
            </tr>
          {% endfor %}
        {% else %}
            <tr>
              <td><a href="{% url 'story_detail' pk=story.id %}">{{ story.name }}</a></td>
              <td><i class="tiny-text">Create a facet</i></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        {% endif %}

      {% endfor %}
      </tbody>
    </table>
    <!-- End partial table for md and lg displays -->
    {% else %}
    <p class="f-s-18 subtle text-center italic m-b-40 m-t-40">Welcome to the Stories page. This is where you will see all of the current active content from your organization. Click here to add a <a href="{% url 'story_new' %}" title="Create New Story" class="default">story</a>.</p>
    {% endif %}


  </div>
</div>

<script>
$(document).ready(function() {
    $('#stories-list').DataTable();
} );
</script>

{% endblock %}
