<!-- Audio Asset Modal -->

<div class="modal fade" id="AudioAssetModal" tabindex="-1" role="dialog" aria-labelledby="AudioAssetModal">
  <div class="modal-dialog modal-lg" role="audio">
    <div class="modal-content">
      <div class="bs-nav-tabs nav-tabs-default">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="nav nav-tabs nav-animated-border-from-left">
            <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#uploadaudio">Upload a Audio</a></li>
            <li class="nav-item"> <a ng-href="" class="nav-link" data-toggle="tab" data-target="#audiolibrary">Select From Audio Library</a></li>
          </ul>
        </div>
        <div class="modal-body" id="audiomodalbody">
          <div class="tab-content">
            <!-- UPLOAD PANEL -->
            <div role="tabpanel" class="tab-pane active" id="uploadaudio">
              <div class="uploadpanel" data-toggle="slimScroll" style="height:500px" data-color="#5D9CEC" data-allow-page-scroll="false">
              <form action="{% url 'upload_audio' %}" method="POST" class="post-form" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Left Col -->
              <div class="col-md-6">

                <div class="form-group custom-form">
                  <p>HEY WHERES MY FORM?</p>
                  <a href="#" data-toggle="tooltip" title="{{ audioform.audio.help_text }}"><span class="field-label">{{ audioform.audio.label_tag }}</span></a>
                  {{ audioform.audio }}
                  {% if audioform.audio.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ audioform.audio.errors }}
                    </div>
                  {% endif %}
                </div>

                <div class="form-group custom-form">
                  <a href="#" data-toggle="tooltip" title="{{ audioform.link.help_text }}"><span class="field-label">{{ audioform.link.label_tag }}</span></a>
                  {{ audioform.link }}
                  {% if audioform.link.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ audioform.link.errors }}
                    </div>
                  {% endif %}
                </div>

                <div class="form-group custom-form">
                  <a href="#" data-toggle="tooltip" title="{{ audioform.asset_title.help_text }}"><span class="field-label">{{ audioform.asset_title.label_tag }}</span></a>
                  {{ audioform.asset_title }}
                  {% if audioform.asset_title.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ audioform.asset_title.errors }}
                    </div>
                  {% endif %}
                </div>

                <div class="form-group custom-form">
                  <a href="#" data-toggle="tooltip" title="{{ audioform.audio_type.help_text }}"><span class="field-label">{{ audioform.audio_type.label_tag }}</span></a>
                  {{ audioform.audio_type }}
                  {% if audioform.audio_type.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ audioform.audio_type.errors }}
                    </div>
                  {% endif %}
                </div>

                <div class="form-group custom-form">
                  <a href="#" data-toggle="tooltip" title="{{ audioform.keywords.help_text }}"><span class="field-label">{{ audioform.keywords.label_tag }}</span></a>
                  {{ audioform.keywords }}
                  {% if audioform.keywords.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ audioform.keywords.errors }}
                    </div>
                  {% endif %}
                </div>

              </div>
              <!-- End Left Col -->
              <!-- Right Col -->
              <div class="col-md-6">

                <div class="form-group custom-form">
                  <a href="#" data-toggle="tooltip" title="{{ audioform.asset_description.help_text }}"><span class="field-label">{{ audioform.asset_description.label_tag }}</span></a>
                  {{ audioform.asset_description }}
                  {% if audioform.asset_description.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ audioform.asset_description.errors }}
                    </div>
                  {% endif %}
                </div>

                <div class="form-group custom-form">
                  <a href="#" data-toggle="tooltip" title="{{ audioform.attribution.help_text }}"><span class="field-label">{{ audioform.attribution.label_tag }}</span></a>
                  {{ audioform.attribution }}
                  {% if audioform.attribution.errors %}
                    <div class="alert alert-warning" role="alert">
                    {{ audioform.attribution.errors }}
                    </div>
                  {% endif %}
                </div>

              </div>
              <!-- End Right Col -->
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div class="hidden-audio-inputs">>
                    <!-- Insert custom content via jQuery -->
              </div>
              <!-- ===================================== -->
              <!-- ===================================== -->
              <div>
                <button type="submit" class="btn btn-primary m-l-20">Save Audio</button>
              </div>
              </form>
              </div>
            </div>
            <!-- END UPLOAD PANEL -->

            <!-- LIBRARY PANEL -->
            <div role="tabpanel" class="tab-pane" id="audiolibrary">
              <div class="audiolibrary" data-toggle="slimScroll" style="height:500px" data-color="#5D9CEC" data-allow-page-scroll="false">
                <form action="{% url 'add_audio' %}" method="POST" class="post-form" name="addaudio">
                  {% csrf_token %}
                  <div class="row audio-library">
                  {% for audio in audios %}
                    <div class="col-md-2">
                      <label>
                        <img class="img-responsive" src="{{ audio.display_photo.url }}" alt="{{ audio.asset_title }}">
                        <input type="checkbox" name="audios" value="{{ audio.id }}">
                      </label>
                    </div>
                    {% if forloop.counter|divisibleby:"6" and not forloop.last %}
                      </div><div class="row">
                    {% endif %}
                  {% endfor %}
                  </div>

                <!-- ===================================== -->
                <!-- ===================================== -->
                <div class="hidden-audio-inputs">
                    <!-- Insert custom content via jQuery -->
                </div>
                <!-- ===================================== -->
                <!-- ===================================== -->

                  <div class="row">
                    <div class="col-xs-12">
                      <button type="submit" class="btn btn-primary" name="addaudio">Add Audio</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- END LIBRARY PANEL -->
          </div>
        </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>

<script>
$('#AudioAssetModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var facet = button.data('facet') // Extract info from data-* attributes

    var webfacetHidden = '{% for webfacet in story.webfacetstory.all %}' +
                '<input type="hidden" name="webfacet" value="{{ webfacet.pk }}" />' +
                '<input  type="hidden" name="type" value="webfacet" />' +
                '{% endfor %}'


    var printfacetHidden = '{% for printfacet in story.printfacetstory.all %}' +
                '<input type="hidden" name="printfacet" value="{{ printfacet.pk }}" />' +
                '<input  type="hidden" name="type" value="printfacet" />' +
                '{% endfor %}'

    var audiofacetHidden = '{% for audiofacet in story.audiofacetstory.all %}' +
                '<input type="hidden" name="audiofacet" value="{{ audiofacet.pk }}" />' +
                '<input  type="hidden" name="type" value="audiofacet" />' +
                '{% endfor %}'

    var videofacetHidden = '{% for videofacet in story.videofacetstory.all %}' +
                '<input type="hidden" name="videofacet" value="{{ videofacet.pk }}" />' +
                '<input  type="hidden" name="type" value="videofacet" />' +
                '{% endfor %}'


    var modal = $(this)

    if (facet == 'webfacet_audio') {
        modal.find('.hidden-audio-inputs').html(webfacetHidden)
    }
    else if (facet == 'printfacet_audio') {
        modal.find('.hidden-audio-inputs').html(printfacetHidden)
    }
    else if (facet == 'audiofacet_audio') {
        modal.find('.hidden-audio-inputs').html(audiofacetHidden)
    }
    else if (facet == 'videofacet_audio') {
        modal.find('.hidden-audio-inputs').html(videofacetHidden)
    }
    else {
        modal.find('.hidden-audio-inputs').html('<div></div>')
    }
})

</script>
