<div role="tabpanel" class="tab-pane p-t-0" id="video">
  <div class="row">
    <div class="col-md-12">
      <form method="POST" class="post-form">
        {% csrf_token %}

        <!-- Left Column -->
        <div class="col-md-2">

          <!-- VideoFacet Title -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.title.label_tag }}</label>
            {{ videoform.title }}
            {% if videoform.title.errors %}
              <small class="text-muted">{{ videoform.title.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Code -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.code.label_tag }}</label>
            {{ videoform.code }}
            {% if videoform.code.errors %}
              <small class="text-muted">{{ videoform.code.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Credit -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.credit.label_tag }}</label>
            {{ videoform.credit }}
            {% if videoform.credit.errors %}
              <small class="text-muted">{{ videoform.credit.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Editor -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.editor.label_tag }}</label>
            {{ videoform.editor }}
            {% if videoform.editor.errors %}
              <small class="text-muted">{{ videoform.editor.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Description -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">Description</label>
            {{ videoform.vf_description }}
            {% if videoform.vf_description.errors %}
              <small class="text-muted">{{ videoform.vf_description.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Excerpt -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.excerpt.label_tag }}</label>
            {{ videoform.excerpt }}
            {% if videoform.excerpt.errors %}
              <small class="text-muted">{{ videoform.excerpt.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Length -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.length.label_tag }}</label>
            {{ videoform.length }}
            {% if videoform.length.errors %}
              <small class="text-muted">{{ videoform.length.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Share Note -->
          <fieldset class="form-group m-b-10">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.share_note.label_tag }}</label>
            {{ videoform.share_note }}
            {% if videoform.share_note.errors %}
              <small class="text-muted">{{ videoform.share_note.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- ======================== -->
          <!--       ASSETS FORMS       -->
          <!-- ======================== -->

          <!-- Videofacet Images -->
          <div class="section-title">
            <a href="#" data-toggle="tooltip" title="Image"><label class="field-label">Images</label></a>
            <a href="#" data-toggle="modal" data-target="#addVideoFacetImage" title="Add Image"><i class="fa fa-picture-o sameline dark"></i></a>
          </div>
          <div id="videoimage-thumbs">
            <div class="row">
            {% for videofacet in story.videofacetstory.all %}
              {% for image in videofacet.image_assets.all %}
                {% if image.display_photo %}
                <div class="col-md-4">
                  <a href="{{ image.display_photo.url }}" class="thumbnail"><img src="{{ image.display_photo.url }}" alt="{{ image.asset_description }}" class="img-fluid"></a>
                </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </div>
          </div>

          <!-- Videofacet Documents -->
          <div class="section-title">
            <a href="#" data-toggle="tooltip" title="Document"><label class="field-label">Documents</label></a>
            <a href="#" data-toggle="modal" data-target="#addVideoFacetDocument" title="Add Document"><i class="fa fa-file sameline dark"></i></a>
          </div>
          <div id="videofacet-docs">
            <div class="row">
              {% for document in videofacet_documents %}
                <div class="col-md-1">
                    <label>
                        {% if document.doc_type == 'OTHER' %}
                        <a href="{{ document.document.url }}" title="{{ document.asset_description }}" target="_blank"><h3><i class="fa fa-file-file-o dark"></i></h3></a>
                        {% endif %}
                        {% if document.doc_type == 'TEXT' %}
                        <a href="{{ document.document.url }}" title="{{ document.asset_description }}" target="_blank"><h3><i class="fa fa-file-text-o dark"></i></h3></a>
                        {% endif %}
                        {% if document.doc_type == 'WORD DOC' %}
                        <a href="{{ document.document.url }}" title="{{ document.asset_description }}" target="_blank"><h3><i class="fa fa-file-word-o dark"></i></h3></a>
                        {% endif %}
                        {% if document.doc_type == 'EXCEL' %}
                        <a href="{{ document.document.url }}" title="{{ document.asset_description }}" target="_blank"><h3><i class="fa fa-file-excel-o dark"></i></h3></a>
                        {% endif %}
                        {% if document.doc_type == 'PDF' %}
                        <a href="{{ document.document.url }}" title="{{ document.asset_description }}" target="_blank"><h3><i class="fa fa-file-pdf-o dark"></i></h3></a>
                        {% endif %}
                        {% if document.doc_type == 'COMMA SEPARATED' %}
                        <a href="{{ document.document.url }}" title="{{ document.asset_description }}" target="_blank"><h3><i class="fa fa-file-o dark"></i></h3></a>
                        {% endif %}
                      </label>
                </div>
              {% endfor %}
            </div>
          </div>

          <!-- Videofacet Audio -->
          <div class="section-title">
            <a href="#" data-toggle="tooltip" title="Audio"><label class="field-label">Audio</label></a>
            <a href="#" data-toggle="modal" data-target="#addVideoFacetAudio" title="Add Audio"><i class="fa fa-headphones sameline dark"></i></a>
          </div>
          <div id="videofacet-audio">
            <div class="row">
              {% for audio in videofacet_audio %}
                <div class="col-xs-12">
                    {% if audio.audio_type == 'MP3' %}
                    <a href="" title="{{ audio.asset_description }}" target="_blank"><i class="fa fa-play sameline"></i> <span class="small-text dark sameline">{{ audio.asset_title }}</span></a>
                    {% endif %}
                    {% if audio.audio_type == 'WAV' %}
                    <!-- <i class="fa fa-play sameline"></i> <span class="small-text dark sameline">{{ audio.asset_title }}</span> -->
                    <audio id="{{ audio.asset_title }}" controls="controls" preload="metadata">
                      <source src="{{ audio.audio.url }}" type="audio/wav"/>
                      Your browser does not support the audioplayer.
                    </audio>
                    {% endif %}
                    {% if audio.audio_type == 'SC' %}
                    <a href="{{ audio.link }}" title="{{ audio.asset_description }}" target="_blank"><i class="fa fa-soundcloud sameline"></i> <span class="small-text dark sameline">{{ audio.asset_title }}</span></a>
                    {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>

          {% comment %}
          <!-- Videofacet Video -->
          <div class="section-title">
            <a href="#" data-toggle="tooltip" title="Video"><label class="field-label">Video</label></a>
            <a href="#" data-toggle="modal" data-target="#addVideoFacetVideo" title="Add Video"><i class="fa fa-play sameline dark"></i></a>
          </div>
          <div id="videofacet-video">
            <div class="row">
              {% for video in videofacet_video %}
                <div class="col-md-1">
                    <label>
                        {% if video.video_type == 'MP4' %}
                        <a href="" title="{{ video.asset_description }}" target="_blank"><h3><i class="fa fa-video-camera dark"></i></h3></a>
                        {% endif %}
                        {% if video.video_type == 'YT' %}
                        <a href="" title="{{ video.asset_description }}" target="_blank"><h3><i class="fa fa-youtube-play dark"></i></h3></a>
                        {% endif %}
                        {% if video.video_type == 'VIM' %}
                        <a href="" title="{{ video.asset_description }}" target="_blank"><h3><i class="fa fa-vimeo-square dark"></i></h3></a>
                        {% endif %}
                      </label>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endcomment %}

        </div>
        <!-- End of Left Column -->

        <!-- Center Column -->
        <div class="col-md-8">

          <!-- VideoFacet Content -->
          <fieldset class="form-group m-b-10">
            {{ videoform.vf_content }}
            {% if videoform.vf_content.errors %}
              <small class="text-muted">{{ videoform.vf_content.errors }}</small>
            {% endif %}
          </fieldset>

          <!-- VideoFacet Keywords -->
          <fieldset class="form-group m-b-10">
            {% comment %}<label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.keywords.label_tag }}</label>{% endcomment %}
            {{ videoform.keywords }}
            {% if videoform.keywords.errors %}
              <small class="text-muted">{{ videoform.keywords.errors }}</small>
            {% endif %}
          </fieldset>


        </div>
        <!-- End of Center Column -->
        <!-- Right Column -->
        <div class="col-md-2">

        <div class="row">
          <div class="col-xs-12">
            <div class="save-button m-b-20">
              <button type="submit" class="btn btn-info content-bottom-10 btn btn-block no-border" name="videoform">Save Video Story</button>
              <!-- <input type="submit" name="videoform" value="Save Video Story" /> -->
            </div>
          </div>
        </div>

        <div class="row profile-row">
          <!-- VideoFacet Status -->
          <div class="col-xs-12">
          <fieldset class="form-group m-b-20">
            <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.status.label_tag }}</label>
            {{ videoform.status }}
            {% if videoform.status.errors %}
              <small class="text-muted">{{ videoform.status.errors }}</small>
            {% endif %}
          </fieldset>
          </div>
        </div>

        <div class="row profile-row">
          <!-- VideoFacet Due Edit -->
          <fieldset class="form-group m-b-10">
            <div class="col-xs-3">
              <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.due_edit.label_tag }}</label>
            </div>
            <div class="col-xs-9">
              {{ videoform.due_edit }}
              {% if videoform.due_edit.errors %}
              <small class="text-muted">{{ videoform.due_edit.errors }}</small>
              {% endif %}
            </div>
          </fieldset>
        </div>

        <div class="row profile-row">
          <!-- VideoFacet Run Date -->
          <fieldset class="form-group m-b-10">
            <div class="col-xs-3">
              <label class="f-s-14 f-s-400 spread-01 subtle slim-margin">{{ videoform.run_date.label_tag }}</label>
            </div>
            <div class="col-xs-9">
              {{ videoform.run_date }}
              {% if videoform.run_date.errors %}
              <small class="text-muted">{{ videoform.run_date.errors }}</small>
              {% endif %}
            </div>
          </fieldset>
        </div>
          <!-- End of VideoFacet form -->
          <!-- <input type="submit" name="videoform" value="Save Video Story" /> -->
          </form>

          <div class="discussion">
          <a href="#" data-toggle="tooltip" title="Discussion for the videofacet"><label class="field-label">Discussion</label></a>
              {% if videocomments %}
                <div class="row">
                  {% for comment in videocomments %}
                    <div class="col-md-10">
                      <p>{{ comment.text }}</p>
                      <p class="tiny-text">{{ comment.date|date:'D M j g:i a' }}</p>
                    </div>
                    <div class="col-md-2">
                      {% if comment.user.display_photo %}
                      <img class="media-object img-circle" width="32" src="{{ comment.user.display_photo.url }}" alt="user">
                      {% else %}
                      {% endif %}
                      <p class="tiny-text">{{ comment.user.first_name }}</p>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
          </div>
          <div class="comment">
              <div class="row">
                <form action="{% url 'create_videocomment' %}" method="POST" class="post-form" role="form">
                  <div class="col-md-10">
                      {% csrf_token %}
                      <div class="form-group">
                      {{ videocommentform.text }}
                      </div>
                      {% if videocommentform.text.errors %}
                        <div class="alert alert-warning" role="alert">
                        {{ videocommentform.text.errors }}
                        </div>
                      {% endif %}
                      <input type="hidden" name="story" value="{{ story.pk }}" />
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                        <button type="submit" class="btn btn-default btn-sm" id="videocomment-submit" name="videocommentform">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                      </div>
                      <!-- <input type="submit" name="videocommentform" value="Post Comment"/> -->
                  </div>
                </form>
              </div>
            </div>

          <a href="#" data-toggle="tooltip" title="Edit history for the videofacet"><label class="field-label">Edit History</label></a>
          <div class="edit-history">
            {% if videohistory %}
              {% for entry in videohistory %}
              <p class="tiny-text">{{ entry.history_date }}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <!-- End of Right Column -->
    </div>
  </div>
</div>
