{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block head %}

{% endblock %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center">Stories</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table id="stories-list" class="table table-condensed">
      <thead>
        <tr>
          <th class="dark">Story</th>
          <th class="dark">Facet</th>
          <th class="dark">Title</th>
          <th class="dark">Credit</th>
          <th class="dark">Edit Date</th>
          <th class="dark">Run Date</th>
          <th class="dark">Status</th>
          <th class="dark">Sharing</th>
          <th class="dark">Collaboration</th>
        </tr>
      </thead>
      <tbody>
      {% for story in stories %}
        {% if story.webfacetstory.all or story.printfacetstory.all or story.audiofacetstory.all or story.videofacetstory.all %}
          {% for facet in story.webfacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.type}}</td>
              <td><a href="#" data-toggle="tooltip" title="{{ facet.wf_description }}">{{ facet.title }}</a></td>
              <td>{{ facet.credit.all.0.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
              <td>{{ facet.status }}</td>
              <td>{% if facet.story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
              <td>{% if facet.story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
            </tr>
          {% endfor %}
          {% for facet in story.printfacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.type}}</td>
              <td><a href="#" data-toggle="tooltip" title="{{ facet.pf_description }}">{{ facet.title }}</a></td>
              <td>{{ facet.credit.all.0.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
              <td>{{ facet.status }}</td>
              <td>{% if facet.story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
              <td>{% if facet.story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
            </tr>
          {% endfor %}
          {% for facet in story.audiofacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></th>
              <td>{{ facet.type}}</td>
              <td><a href="#" data-toggle="tooltip" title="{{ facet.af_description }}">{{ facet.title }}</a></td>
              <td>{{ facet.credit.all.0.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
              <td>{{ facet.status }}</td>
              <td>{% if facet.story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
              <td>{% if facet.story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
            </tr>
          {% endfor %}
          {% for facet in story.videofacetstory.all %}
            <tr>
              <td><a href="{% url 'story_detail' pk=facet.story.id %}">{{ facet.story.name }}</a></td>
              <td>{{ facet.type}}</td>
              <td><a href="#" data-toggle="tooltip" title="{{ facet.vf_description }}">{{ facet.title }}</a></td>
              <td>{{ facet.credit.all.0.credit_name }}</td>
              <td>{{ facet.due_edit|date:'n/j, g:i a' }}</td>
              <td>{{ facet.run_date|date:'n/j, g:i a'}}</td>
              <td>{{ facet.status }}</td>
              <td>{% if facet.story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
              <td>{% if facet.story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
            </tr>
          {% endfor %}
        {% else %}
            <tr>
              <td><a href="{% url 'story_detail' pk=story.id %}">{{ story.name }}</a></td>
              <td><i class="tiny-text">Create a facet</i></td>
              <td></td>
              <td>{{ story.owner.credit_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{% if story.share == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
              <td>{% if story.collaborate == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
            </tr>
        {% endif %}

      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#stories-list').DataTable();
} );
</script>

{% endblock %}
