{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        {% if task %}
          {% if task.project %}
          <li class="fadeIn"><a href="{% url 'project_list' %}" title="Go to Project List"> Projects </a></li>
          <li class="fadeIn"><a href="{% url 'project_detail' pk=task.project.id %}" title="Go to {{task.project.name}}"> {{task.project.name}} </a></li>
          <li class="fadeIn"><a href="{% url 'project_task_list' pk=task.project.id %}" title="Go to {{task.project.name}} Tasks"> Tasks </a></li>
          <li class="fadeIn"> {{ task.name }}</li>
          <li class="fadeIn"> Update</li>
          {% elif task.series %}
          <li class="fadeIn"><a href="{% url 'series_list' %}" title="Go to Series List"> Series </a></li>
          <li class="fadeIn"><a href="{% url 'series_detail' pk=task.series.id %}" title="Go to {{task.series.name}}"> {{task.series.name}} </a></li>
          <li class="fadeIn"><a href="{% url 'series_task_list' pk=task.series.id %}" title="Go to {{task.series.name}} Tasks"> Tasks </a></li>
          <li class="fadeIn"> {{ task.name }}</li>
          <li class="fadeIn"> Update</li>
          {% elif task.story %}
          <li class="fadeIn"><a href="{% url 'story_list' %}" title="Go to Story List"> Stories </a></li>
          <li class="fadeIn"><a href="{% url 'story_detail' pk=task.story.id %}" title="Go to {{task.story.name}}"> {{task.story.name}} </a></li>
          <li class="fadeIn"><a href="{% url 'story_task_list' pk=task.story.id %}" title="Go to {{task.story.name}} Tasks"> Tasks </a></li>
          <li class="fadeIn"> {{ task.name }}</li>
          <li class="fadeIn"> Update</li>
          {% elif task.event %}
          <li class="fadeIn"><a href="{% url 'event_list' %}" title="Go to Event List"> Events </a></li>
          <li class="fadeIn"><a href="{% url 'event_detail' pk=task.event.id %}" title="Go to {{task.event.name}}"> {{task.event.name}} </a></li>
          <li class="fadeIn"><a href="{% url 'event_task_list' pk=task.event.id %}" title="Go to {{task.event.name}} Tasks"> Tasks </a></li>
          <li class="fadeIn"> {{ task.name }}</li>
          <li class="fadeIn"> Update</li>
          {% endif %}

        {% else %}
        <li class="fadeIn"> New Task</li>
        {% endif %}
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h5 class="m-b-20">{{task.name}}
      {% if task.status == "Identified" %}
      <i class="fa fa-circle-o color-warning-300 f-s-14" aria-hidden="true"></i>
      {% elif task.status == "In Progress" %}
      <i class="fa fa-circle-o-notch fa-spin color-primary-500 f-s-14" aria-hidden="true"></i>
      {% elif task.status == "Complete" %}
      <i class="fa fa-check-circle-o color-success-300 f-s-14" aria-hidden="true"></i>
      {% endif %}
    </h5>
  </div>
</div>


<!-- The html for detail form is same regardless of associated object: Project, Series, Story or Event -->
<div class="row">
  <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-row">
      <!-- Left Columm -->
      <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <!-- Task name -->
        <div class="form-group">
          {% comment %}
            <label>{{ form.name.label_tag }}</label>
          {% endcomment %}
            {{ form.name }}
            {% if form.name.errors %}
            <small class="text-muted">{{ form.name.errors }}</small>
            {% endif %}
        </div>
        <!-- Team Selection -->
        <p>Team</p>
        {% for user in task.assigned_to.all %}
          {% if user.display_photo %}
            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-b-10" src="{{ user.display_photo.url }}" alt="user"></a>
          {% endif %}
        {% endfor %}
        <div class="form-group">
          {% comment %}
            <label class="capitalize">{{ form.assigned_to.label_tag }}</label>
          {% endcomment %}
            {{ form.assigned_to }}
            {% if form.assigned_to.errors %}
              <small class="text-muted">{{ form.assigned_to.errors }}</small>
            {% endif %}
        </div>
        <!-- Important -->
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Important
            </label>
            {% if form.important.errors %}
              <small class="text-muted">{{ form.important.errors }}</small>
            {% endif %}
          </div>
        </div>
        <!-- Due Date -->
        <p>Due Date</p>
        <div class="form-group">
              {{ form.due_date }}
              {% if form.due_date.errors %}
                <small class="text-muted">{{ form.due_date.errors }}</small>
              {% endif %}
        </div>
      </div>

      <!-- Center Column -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <!-- Task Text -->
        <div class="form-group">
        {% comment %}
          <label>{{ form.text.label_tag }}</label>
        {% endcomment %}
        {{ form.text }}
        {% if form.text.errors %}
          <small class="text-muted">{{ form.text.errors }}</small>
        {% endif %}
        </div>
      </div>

      <!-- Right Column -->

      <!-- Save Button -->
      <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <div class="row">
        <div class="col-xs-12 m-b-40">
          {% if task.status == "Identified" %}
          <button type="submit" class="btn btn-warning content-bottom-10 btn btn-block no-border" name="form">Save Changes</button>
          {% elif task.status == "In Progress" %}
          <button type="submit" class="btn btn-primary content-bottom-10 btn btn-block no-border" name="form">Save Changes</button>
          {% elif task.status == "Complete" %}
          <button type="submit" class="btn btn-success content-bottom-10 btn btn-block no-border" name="form">Save Changes</button>
          {% else %}
          <button type="submit" class="btn btn-default content-bottom-10 btn btn-block no-border" name="form">Create Task</button>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- Status Select -->
          <div class="form-group" id="fieldset-task-projects">
            {{ form.status }}
            {% if form.status.errors %}
              <small class="text-muted">{{ form.status.errors }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 m-b-40">
          <p class="f-s-14 subtle">Associate the task with a Project, Series, Story or Event</p>
          <!-- Project Select -->
          <div class="form-group" id="fieldset-task-projects">
            {% comment %}
              <label class="capitalize pull-left subtle f-s-14">{{ form.project.label_tag }}</label>
            {% endcomment %}
            {{ form.project }}
            {% if form.project.errors %}
              <small class="text-muted">{{ form.project.errors }}</small>
            {% endif %}
          </div>
          <!-- Series Select -->
          <div class="form-group" id="fieldset-task-series">
            {% comment %}
              <label class="capitalize pull-left subtle f-s-14">{{ form.series.label_tag }}</label>
            {% endcomment %}
            {{ form.series }}
            {% if form.series.errors %}
              <small class="text-muted">{{ form.series.errors }}</small>
            {% endif %}
          </div>
          <!-- Story Select -->
          <div class="form-group" id="fieldset-task-stories">
            {% comment %}
              <label class="capitalize pull-left subtle f-s-14">{{ form.story.label_tag }}</label>
            {% endcomment %}
            {{ form.story }}
            {% if form.story.errors %}
              <small class="text-muted">{{ form.story.errors }}</small>
            {% endif %}
          </div>
          <!-- Event Select -->
          <div class="form-group" id="fieldset-task-events">
            {% comment %}
              <label class="capitalize pull-left subtle f-s-14">{{ form.event.label_tag }}</label>
            {% endcomment %}
            {{ form.event }}
            {% if form.event.errors %}
              <small class="text-muted">{{ form.event.errors }}</small>
            {% endif %}
          </div>
        </div>
      </div>


    </div>
    </div>
  </form>
</div>
<!-- End of form -->
<div class="row">
  <div class="col-xs-12">
    <form class="task-delete" method="GET"
          action="{% url 'task_delete' pk=task.id %}">
          <!-- onsubmit="return confirm('Do you want to delete this task?')"> -->
          {% csrf_token %}
      <input type="submit" class="btn btn-sm btn-danger-100" value="Delete">
    </form>
  </div>
</div>
<div class="row m-t-20">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <h5>Discussion</h5>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <h5>Notes</h5>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <h5>Assets</h5>
  </div>
</div>


<!-- ================================================= -->
<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->
<!-- ================================================= -->

<script>
$(".chosen-select").chosen()
</script>

<script>
  $('.task-delete input').on('click', function(e) {
       e.preventDefault();
          swal({
              title: 'Are you sure?',
              text: 'You will not be able to recover this task.',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!',
              closeOnConfirm: true
          }, function(result) {
              if (result) {
                $(".task-delete").attr("method", "POST").submit();
              } else {
                // do nothing on cancel
            }
          });
        });
</script>


{% endblock %}

{% block modals %}


{% endblock modals %}
