{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        {% if project %}
        <li class="fadeIn"><a href="{% url 'project_list' %}" title="Go to Project List"> Projects </a></li>
        <li class="fadeIn"><a href="{% url 'project_detail' pk=project.id %}" title="Go to {{project.name}}"> {{project.name}} </a></li>
        {% elif series %}
        <li class="fadeIn"><a href="{% url 'series_list' %}" title="Go to Series List"> Series </a></li>
        <li class="fadeIn"><a href="{% url 'series_detail' pk=series.id %}" title="Go to {{series.name}}"> {{series.name}} </a></li>
        {% elif story %}
        <li class="fadeIn"><a href="{% url 'story_list' %}" title="Go to Story List"> Stories </a></li>
        <li class="fadeIn"><a href="{% url 'story_detail' pk=story.id %}" title="Go to {{story.name}}"> {{story.name}} </a></li>
        {% elif event %}
        <li class="fadeIn"><a href="{% url 'event_list' %}" title="Go to Event List"> Events </a></li>
        <li class="fadeIn"><a href="{% url 'event_detail' pk=event.id %}" title="Go to {{event.name}}"> {{event.name}} </a></li>
        {% endif %}
        <li class="fadeIn"> Tasks</li>

    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

{% if project %}
<div class="row">
  <div class="col-xs-12">
    <h5 class="m-b-20"> {{ project.name }} Tasks<span class="pull-right">Add new task to {{project.name}} <a data-toggle="modal" data-target="#addProjectTask" title="Add Project Task"><i class="m-l-20 fa fa-plus" aria-hidden="true"></i></a></span></h5>
    <progress class="progress-xs progress progress-default" value="{{ progress }}" max="100">{{ progress }}%</progress>
  </div>
</div>
<div class="row m-t-20 m-b-20">
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <h5 class="m-b-20 underline-warning underline-120">Identified <span class="subtle f-s-14 f-w-600">( {{ identified_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-1">
                  {% for task in tasks %}
                    {% if task.status == "Identified"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-warning-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <h5 class="m-b-20 underline-primary underline-120">In Progress <span class="subtle f-s-14 f-w-600">( {{ inprogress_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-2">
                  {% for task in tasks %}
                    {% if task.status == "In Progress"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-primary-500 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <h5 class="m-b-20 underline-success underline-120">Complete <span class="subtle f-s-14 f-w-600">( {{ complete_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-3">
                  {% for task in tasks %}
                    {% if task.status == "Complete"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-success-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if series %}
<div class="row">
  <div class="col-xs-12">
    <h5 class="m-b-20"> {{ series.name }} Tasks<span class="pull-right">Add new task to {{series.name}} <a data-toggle="modal" data-target="#addSeriesTask" title="Add Series Task"><i class="fa fa-plus" aria-hidden="true"></i></a></span></h5>
    <progress class="progress-xs progress progress-default" value="{{ progress }}" max="100">{{ progress }}%</progress>
  </div>
</div>
<div class="row m-t-20 m-b-20">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-warning underline-120">Identified <span class="subtle f-s-14 f-w-600">( {{ identified_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-1">
                  {% for task in series_tasks %}
                    {% if task.status == "Identified"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-warning-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-primary underline-120">In Progress <span class="subtle f-s-14 f-w-600">( {{ inprogress_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-2">
                  {% for task in series_tasks %}
                    {% if task.status == "In Progress"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-primary-500 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-success underline-120">Complete <span class="subtle f-s-14 f-w-600">( {{ complete_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-3">
                  {% for task in series_tasks %}
                    {% if task.status == "Complete"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-success-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if story %}
<div class="row">
  <div class="col-xs-12">
    <h5 class="m-b-20"> {{ story.name }} Tasks<span class="pull-right">Add new task to {{story.name}} <a data-toggle="modal" data-target="#addStoryTask" title="Add Story Task"><i class="fa fa-plus" aria-hidden="true"></i></a></span></h5>
    <progress class="progress-xs progress progress-default" value="{{ progress }}" max="100">{{ progress }}%</progress>
  </div>
</div>
<div class="row m-t-20 m-b-20">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-warning underline-120">Identified <span class="subtle f-s-14 f-w-600">( {{ identified_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-1">
                  {% for task in tasks %}
                    {% if task.status == "Identified"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-warning-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-primary underline-120">In Progress <span class="subtle f-s-14 f-w-600">( {{ inprogress_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-2">
                  {% for task in tasks %}
                    {% if task.status == "In Progress"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-primary-500 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-success underline-120">Complete <span class="subtle f-s-14 f-w-600">( {{ complete_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-3">
                  {% for task in tasks %}
                    {% if task.status == "Complete"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-success-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if event %}
<div class="row">
  <div class="col-xs-12">
    <h5 class="m-b-20"> {{ event.name }} Tasks<span class="pull-right">Add new task to {{event.name}} <a data-toggle="modal" data-target="#addEventTask" title="Add Event Task"><i class="fa fa-plus" aria-hidden="true"></i></a></span></h5>
    <progress class="progress-xs progress progress-default" value="{{ progress }}" max="100">{{ progress }}%</progress>
  </div>
</div>
<div class="row m-t-20 m-b-20">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-warning underline-120">Identified <span class="subtle f-s-14 f-w-600">( {{ identified_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-1">
                  {% for task in event_tasks %}
                    {% if task.status == "Identified"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-warning-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-primary underline-120">In Progress <span class="subtle f-s-14 f-w-600">( {{ inprogress_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-2">
                  {% for task in event_tasks %}
                    {% if task.status == "In Progress"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-primary-500 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <h5 class="m-b-20 underline-success underline-120">Complete <span class="subtle f-s-14 f-w-600">( {{ complete_ct}} )</span></h5>
        <div class="activity-widget-5">
            <div class="row">
                <div class="col-xs-12 bs-media" id="board-3">
                  {% for task in event_tasks %}
                    {% if task.status == "Complete"  %}
                    <div class="media">
                        <a href="{% url 'task_detail' task.id %}" title="View more detail">
                        <div class="media-body">
                            <h5 class="media-heading">
                              {% if task.important == True %}
                                <span class="label f-s-16"><i class="fa fa-star" aria-hidden="true"></i></span>
                              {% else %}
                                <span class="label f-s-16"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                              {% endif %}
                              <span class="f-s-18 f-w-600">{{ task.name }}</span>
                            </h5>
                            <p class="f-s-14">{{ task.text|truncatechars:150 }}</p>
                            <p class="color-success-300 f-s-12 m-t-10">Due: {{ task.due_date|date:'D, N j, g:i a' }}</p>
                        </div>
                        </a>
                        {% for user in task.assigned_to.all %}
                          {% if user.display_photo %}
                            <a href="{% url 'user_detail' user.id %}" title="See user profile"><img class="img-circle w-40 h-40 m-t-10" src="{{ user.display_photo.url }}" alt="user"></a>
                          {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>

  </div>
{% endif %}

<script>
$(".chosen-select").chosen()
</script>

<!-- ================================================= -->
<!-- ================================================= -->
                  <!-- JS SCRIPTS -->
<!-- ================================================= -->
<!-- ================================================= -->


{% endblock %}

<!-- ================================================= -->
<!-- ================================================= -->
                <!-- MODALS -->
<!-- ================================================= -->
<!-- ================================================= -->


{% block modals %}
<!-- Add Project Task -->
<div class="modal fade" id="addProjectTask" tabindex="-1" role="dialog" aria-labelledby="addProjectTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addTaskModalLabel">Add a task for this project</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'task_new' %}" method="POST" class="post-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-xs-9">
                  <!-- Name -->
                  <fieldset class="form-group m-b-10">
                    {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.name.label_tag }}</label>{% endcomment %}
                    {{ form.name }}
                    {% if form.name.errors %}
                      <small class="text-muted">{{ form.name.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
                <div class="col-xs-3">
                  <!-- Importance -->
                  <fieldset class="form-check m-b-10">
                    <label class="f-s-12 f-s-400 spread-01 slim-margin">{{ form.important.label_tag }}</label>
                    {{ form.important }}
                    {% if form.important.errors %}
                      <small class="text-muted">{{ form.important.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                      <!-- Details -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.text.label_tag }}</label>{% endcomment %}
                        {{ form.text }}
                        {% if form.text.errors %}
                          <small class="text-muted">{{ form.text.errors }}</small>
                        {% endif %}
                      </fieldset>
                      <!-- Assigned To -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.assigned_to.label_tag }}</label>{% endcomment %}
                        {{ form.assigned_to }}
                        {% if form.assigned_to.errors %}
                          <small class="text-muted">{{ form.assigned_to.errors }}</small>
                        {% endif %}
                      </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!-- Due Date -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.due_date.label_tag }}</label>
                      {{ form.due_date }}
                      {% if form.due_date.errors %}
                        <small class="text-muted">{{ form.due_date.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
                <div class="col-xs-12 col-md-6">
                    <!-- Status -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.status.label_tag }}</label>
                      {{ form.status }}
                      {% if form.status.errors %}
                        <small class="text-muted">{{ form.status.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input type="hidden" name="project" value="{{ project.pk }}" />
                  <button type="submit" class="btn btn-default">Add Task</button>
                </div>
              </div>

              </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <script>
    $(".chosen-select").chosen()
    </script>
</div>
<!-- Add Series Task -->
<div class="modal fade" id="addSeriesTask" tabindex="-1" role="dialog" aria-labelledby="addSeriesTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addSeriesModalLabel">Add a task for this series</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'task_new' %}" method="POST" class="post-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-xs-9">
                  <!-- Name -->
                  <fieldset class="form-group m-b-10">
                    {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.name.label_tag }}</label>{% endcomment %}
                    {{ form.name }}
                    {% if form.name.errors %}
                      <small class="text-muted">{{ form.name.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
                <div class="col-xs-3">
                  <!-- Importance -->
                  <fieldset class="form-check m-b-10">
                    <label class="f-s-12 f-s-400 spread-01 slim-margin">{{ form.important.label_tag }}</label>
                    {{ form.important }}
                    {% if form.important.errors %}
                      <small class="text-muted">{{ form.important.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                      <!-- Details -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.text.label_tag }}</label>{% endcomment %}
                        {{ form.text }}
                        {% if form.text.errors %}
                          <small class="text-muted">{{ form.text.errors }}</small>
                        {% endif %}
                      </fieldset>
                      <!-- Assigned To -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.assigned_to.label_tag }}</label>{% endcomment %}
                        {{ form.assigned_to }}
                        {% if form.assigned_to.errors %}
                          <small class="text-muted">{{ form.assigned_to.errors }}</small>
                        {% endif %}
                      </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!-- Due Date -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.due_date.label_tag }}</label>
                      {{ form.due_date }}
                      {% if form.due_date.errors %}
                        <small class="text-muted">{{ form.due_date.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
                <div class="col-xs-12 col-md-6">
                    <!-- Status -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.status.label_tag }}</label>
                      {{ form.status }}
                      {% if form.status.errors %}
                        <small class="text-muted">{{ form.status.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input type="hidden" name="series" value="{{ series.pk }}" />
                  <button type="submit" class="btn btn-default">Add Task</button>
                </div>
              </div>

              </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <script>
    $(".chosen-select").chosen()
    </script>
</div>
<!-- Add Story Task -->
<div class="modal fade" id="addStoryTask" tabindex="-1" role="dialog" aria-labelledby="addStoryTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addStoryModalLabel">Add a task for this story</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'task_new' %}" method="POST" class="post-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-xs-9">
                  <!-- Name -->
                  <fieldset class="form-group m-b-10">
                    {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.name.label_tag }}</label>{% endcomment %}
                    {{ form.name }}
                    {% if form.name.errors %}
                      <small class="text-muted">{{ form.name.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
                <div class="col-xs-3">
                  <!-- Importance -->
                  <fieldset class="form-check m-b-10">
                    <label class="f-s-12 f-s-400 spread-01 slim-margin">{{ form.important.label_tag }}</label>
                    {{ form.important }}
                    {% if form.important.errors %}
                      <small class="text-muted">{{ form.important.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                      <!-- Details -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.text.label_tag }}</label>{% endcomment %}
                        {{ form.text }}
                        {% if form.text.errors %}
                          <small class="text-muted">{{ form.text.errors }}</small>
                        {% endif %}
                      </fieldset>
                      <!-- Assigned To -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.assigned_to.label_tag }}</label>{% endcomment %}
                        {{ form.assigned_to }}
                        {% if form.assigned_to.errors %}
                          <small class="text-muted">{{ form.assigned_to.errors }}</small>
                        {% endif %}
                      </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!-- Due Date -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.due_date.label_tag }}</label>
                      {{ form.due_date }}
                      {% if form.due_date.errors %}
                        <small class="text-muted">{{ form.due_date.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
                <div class="col-xs-12 col-md-6">
                    <!-- Status -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.status.label_tag }}</label>
                      {{ form.status }}
                      {% if form.status.errors %}
                        <small class="text-muted">{{ form.status.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input type="hidden" name="story" value="{{ story.pk }}" />
                  <button type="submit" class="btn btn-default">Add Task</button>
                </div>
              </div>

              </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <script>
    $(".chosen-select").chosen()
    </script>
</div>
<!-- Add Event Task -->
<div class="modal fade" id="addEventTask" tabindex="-1" role="dialog" aria-labelledby="addEventTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addEventModalLabel">Add a task for this event</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'task_new' %}" method="POST" class="post-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-xs-9">
                  <!-- Name -->
                  <fieldset class="form-group m-b-10">
                    {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.name.label_tag }}</label>{% endcomment %}
                    {{ form.name }}
                    {% if form.name.errors %}
                      <small class="text-muted">{{ form.name.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
                <div class="col-xs-3">
                  <!-- Importance -->
                  <fieldset class="form-check m-b-10">
                    <label class="f-s-12 f-s-400 spread-01 slim-margin">{{ form.important.label_tag }}</label>
                    {{ form.important }}
                    {% if form.important.errors %}
                      <small class="text-muted">{{ form.important.errors }}</small>
                    {% endif %}
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                      <!-- Details -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.text.label_tag }}</label>{% endcomment %}
                        {{ form.text }}
                        {% if form.text.errors %}
                          <small class="text-muted">{{ form.text.errors }}</small>
                        {% endif %}
                      </fieldset>
                      <!-- Assigned To -->
                      <fieldset class="form-group m-b-10">
                        {% comment %}<label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.assigned_to.label_tag }}</label>{% endcomment %}
                        {{ form.assigned_to }}
                        {% if form.assigned_to.errors %}
                          <small class="text-muted">{{ form.assigned_to.errors }}</small>
                        {% endif %}
                      </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!-- Due Date -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.due_date.label_tag }}</label>
                      {{ form.due_date }}
                      {% if form.due_date.errors %}
                        <small class="text-muted">{{ form.due_date.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
                <div class="col-xs-12 col-md-6">
                    <!-- Status -->
                    <fieldset class="form-group m-b-10">
                      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.status.label_tag }}</label>
                      {{ form.status }}
                      {% if form.status.errors %}
                        <small class="text-muted">{{ form.status.errors }}</small>
                      {% endif %}
                    </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input type="hidden" name="event" value="{{ event.pk }}" />
                  <button type="submit" class="btn btn-default">Add Task</button>
                </div>
              </div>

              </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <script>
    $(".chosen-select").chosen()
    </script>
</div>
{% endblock modals %}
