{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">Teams</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 class="center">Your Team<a href="#"><i class="fa fa-plus sameline dark" data-toggle="modal" data-target="#addUserModal"></i></a></h2>
    <div class="row">
    {% for user in organization.user_set.all %}
    {% if user.is_active %}
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="panel fade in panel-default" data-init-panel="true">
        <div class="panel-body team-panel">
          <div class="media">
            <div class="media-left content-right-10">
              <div class="kit-avatar kit-avatar-42 kit-avatar-square no-border big-team-panel-avatar">
                {% if user.display_photo %}
                <img class="media-object" src="{{ user.display_photo.url }}" alt="profile image">
                {% else %}
                {% endif %}
              </div>
            </div>
            <div class="media-body">
              <h3 class="brighter content-upper-10"><a href="{% url 'user_detail' user.id %}">{{ user.credit_name }}</a></h3>
              <p class="help-block bright">{{ user.title }}</p>
              <hr>
              <p class="bright">{{ user.phone }} | {{ user.email }} {% if request.user.id == user.id or request.user.id == user.organization.owner.id %}<a href="{% url 'user_edit' pk=user.id %}"><i class="fa fa-pencil sameline dark move-right"></i></a>{% endif %}</p>
            </div><!-- /.media -body-->
          </div><!-- /.media -->
        </div><!-- /.panel-body -->

        <div class="progress progress-xs no-radius no-margin">
          <div class="progress-bar bg-grd-cyan" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          </div>
        </div><!-- /.progress -->
      </div><!-- /.panel -->
    </div><!-- /.cols -->
    {% endif %}
    {% endfor %}
  </div>
  </div>


  <div class="col-md-6">
    <h3 class="center">Networks</h3>

      <div class="panel-group" id="network-accordion">

          {% for network in networks %}

            <div class="panel network-team-panel">

              <div class="panel-heading">
                <h3 class="panel-title bright">
                  <a data-toggle="collapse" data-parent="#network-accordion" href="#collapse-{{network.id}}" class="bright">
                    {{ network.name }} | <span class="tiny-text">{{ network.network_description }}</span>
                  </a>
                </h3><!-- /panel-title -->
              </div><!-- /panel-heading -->

              <div id="collapse-{{network.id}}" class="panel-collapse collapse">
                <div class="panel-body brighter">

                  {% for organization in network.organizations.all %}
                    <h4 class="dark">{{ organization.name }}</h4>
                    <div class="row">

                    {% for user in organization.user_set.all %}
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="panel fade in panel-default user-panel" data-init-panel="true">
                            <div class="network-user-panel-body">
                              <div class="media">
                                <div class="media-left">
                                  <div class="kit-avatar kit-avatar-42 kit-avatar-square no-border team-panel-avatar">
                                    {% if user.display_photo %}
                                    <img class="media-object" src="{{ user.display_photo.url }}" alt="project brand">
                                    {% else %}

                                    {% endif %}
                                  </div>
                                </div>
                                <div class="media-body">
                                  <a href="#" data-toggle="tooltip" title="{{ user.title }}"><h5 class="media-heading bright">{{ user.credit_name}}</h></a>
                                  <p class="help-block bright tiny-text bright">{{ user.email }}</p>
                                </div><!-- /.media -body-->
                              </div><!-- /.media -->
                            </div><!-- /.panel-body -->
                            <div class="progress progress-xs no-radius no-margin">
                              <div class="progress-bar bg-grd-teal" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div><!-- /.progress -->
                          </div><!-- /.panel -->
                        </div><!-- /.cols -->
                      {% endfor %}

                    </div>
                  {% endfor %}

                </div><!-- /panel-body -->
              </div><!-- /panel-collapse -->

            </div><!-- /panel -->

          {% endfor %}
        </div><!-- /panel-group -->
</div>


<!-- Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUserModalLabel">Add a user to your team</h4>
      </div>
      <div class="modal-body">
        <form action="/user/new/" method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form adduserform %}
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>




{% endblock %}
