{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"> Dashboard </li>
        <li class="fadeIn"><a href="{% url 'team_list' %}" title="You are here"> Team </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-- Row One -->
<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row m-b-20">
      <h4 class="text-center m-b-20">Your Team<a href="#"><i class="fa fa-plus sameline color-medium" data-toggle="modal" data-target="#addUserModal"></i></a></h4>
        {% for user in organization.user_set.all %}
          {% if user.is_active %}
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> <!-- Start of Team Card -->
              <div class="m-b-20">
                <!-- User Card -->
                <div class="user-widget-1">
                  <div class="row">
                      <div class="col-xs-12">
                        <h5 class="text-bold color-white text-center spread-025"><a href="{% url 'user_detail' user.id %}">{{ user.credit_name }}</a></h5>
                          <a class="media-left media-middle"> {% if user.display_photo %}<img class="centered img-rounded h-100 w-100" src="{{ user.display_photo.url }}" alt="profile image">{% else %}{% endif %} </a>
                          <div class="media-body">
                              <div class="p-10">
                                  <h6 class="text-bold color-white m-l-20">{{ user.title }}</h6>
                                  <p> <i class="fa fa-map-marker color-white"></i> <span class="color-white">{{ user.location }}</span> </p>
                                  <p> <i class="fa fa-envelope-o color-white"></i> <span class="color-white">{{ user.email }}</span> </p>
                                  <p> <i class="fa fa-twitter color-white"></i> <span class="color-white">{{ user.phone }}</span> </p>
                                  <p class="f-s-12">{% if request.user.id == user.id or request.user.id == user.organization.owner.id %}<a href="{% url 'user_edit' pk=user.id %}">Edit Profile</a>{% endif %}</p>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <!-- End of User Card -->
              </div>
            </div> <!-- End of Team Card -->
          {% endif %}
        {% endfor %}
    </div> <!-- End of Row -->
  </div>  <!-- End of Left Column -->
</div>

<!-- Second Row -->
<div class="row m-b-40">
  <div class="col-xs-12">
    <h4 class="text-center m-b-20">Partner Organizations</h4>
      <div class="row">
        {% for organization in partners %}
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="m-b-20">{{ organization.name }}</h5>
                <!-- Full version of table -->
                  <table class="table table-hover table-striped hidden-sm-down" cellspacing="0" width="100%">
                    <tbody>
                      {% for user in organization.user_set.all %}
                        <tr>
                            <td>
                              {% if user.display_photo %}
                              <img class="img-fluid w-40 img-circle" src="{{ user.display_photo.url }}" alt="user photo">
                              {% else %}
                              {% endif %}
                            </td>
                            <td>{{ user.credit_name }}</td>
                            <td>{{ user.title }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                <!-- End of full table -->
                <!-- Partial version of table -->
                <table class="table table-hover table-striped hidden-md-up" cellspacing="0" width="100%">
                  <tbody>
                    {% for user in organization.user_set.all %}
                      <tr>
                          <td>
                            {% if user.display_photo %}
                            <img class="img-fluid w-40 img-circle" src="{{ user.display_photo.url }}" alt="user photo">
                            {% else %}
                            {% endif %}
                          </td>
                          <td>{{ user.credit_name }}</td>
                          <td>{{ user.email }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- End of partial table -->
              </div>
        {% endfor %}
      </div>
  </div> <!-- End of Column -->
</div> <!-- End of Second Row -->

{% endblock content %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title" id="addUserModalLabel">Add a user to your team</h4>
                </div>
                <div class="modal-body">
                  <form action="/user/new/" method="POST" class="post-form">
                  {% csrf_token %}
                  {% bootstrap_form adduserform %}
                  <button type="submit" class="btn btn-primary">Save</button>
                  </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
</div>
{% endblock modals %}
