{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-- ====================================== -->
<!--      BREADCRUMB NAVIGATION             -->
<!-- ====================================== -->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"> Dashboard </li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-- ====================================== -->
<!--            Main Section                -->
<!-- ====================================== -->

{% block content %}
    <!-- Row One -->
    <div class="row m-b-40">
        <!-- ========================== -->
        <!--         Left Column        -->
        <!--      Discussion Feed       -->
        <!-- ========================== -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="bs-nav-tabs nav-tabs-default">
              <ul class="nav nav-tabs nav-animated-border-from-left">
                  <!-- <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#activity-tab">Activity</a> </li> -->
                  <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#discussion-tab">Discussion</a> </li>
              </ul>
              <div class="tab-content">

                  <div role="tabpanel" class="tab-pane in active" id="discussion-tab">
                    <div class="m-b-20">
                        {% if all_comments %}
                        <div class="activity-widget-3">
                            {% for comment in older_comments %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="media">
                                        <a class="media-left">
                                          {% if comment.user.display_photo %}
                                            <img class="media-object img-circle h-40 w-40" src="{{ comment.user.display_photo.url }}" alt="user">
                                          {% else %}
                                            <p class="f-w-300 f-s-12">{{ comment.user.first_name }}</p>
                                          {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <p class="f-w-300 f-s-14">{{ comment.text }}</p>
                                            <p class="f-w-400 f-s-12">
                                              {% if comment.discussion.organization_discussion.all %}
                                                {% for organization in comment.discussion.organization_discussion.all %}
                                                  <a href="{% url 'org_detail' pk=organization.id %}"> {{ organization.type }} - {{ organization.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.network_discussion.all %}
                                                {% for network in comment.discussion.network_discussion.all %}
                                                  <a href="{% url 'network_detail' pk=network.id %}"> {{ network.type }} - {{ network.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.project_set.all %}
                                                {% for project in comment.discussion.project_set.all %}
                                                    <a href="{% url 'project_detail' pk=project.id %}"> {{ project.type }} - {{ project.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.series_set.all %}
                                                {% for series in comment.discussion.series_set.all %}
                                                  <a href="{% url 'series_detail' pk=series.id %}"> {{ series.type }} - {{ series.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.story_set.all %}
                                                {% for story in comment.discussion.story_set.all %}
                                                  <a href="{% url 'story_detail' pk=story.id %}"> {{ story.type }} - {{ story.name }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.webfacet_set.all %}
                                                {% for webfacet in comment.discussion.webfacet_set.all %}
                                                  <a href="{% url 'story_detail' pk=webfacet.story.id %}#web"> {{ webfacet.type }} - {{ webfacet.title }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.printfacet_set.all %}
                                                {% for printfacet in comment.discussion.printfacet_set.all %}
                                                  <a href="{% url 'story_detail' pk=printfacet.story.id %}#print"> {{ printfacet.type }} - {{ printfacet.title }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.audiofacet_set.all %}
                                                {% for audiofacet in comment.discussion.audiofacet_set.all %}
                                                  <a href="{% url 'story_detail' pk=audiofacet.story.id %}#audio"> {{ audiofacet.type }} - {{ audiofacet.title }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% elif comment.discussion.videofacet_set.all %}
                                                {% for videofacet in comment.discussion.videofacet_set.all %}
                                                  <a href="{% url 'story_detail' pk=videofacet.story.id %}#video"> {{ videofacet.type }} - {{ videofacet.title }}<span class="color-default">  |  {{ comment.date|date:'N j' }} at {{ comment.date|date:'g:i a' }} </span></a>
                                                {% endfor %}
                                              {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-xs-12">
                              <p class="f-s-14 subtle text-center">
                                This is the Discussion Panel. As your team and partners discuss content, new additions to the conversation will appear here for quick access.
                              </p>
                              {% if old_stories or new_stories %}
                                {% if networks %}
                                <p class="f-s-14 subtle text-center italic">It looks like no one has commented on any <a href="{% url 'story_list' %}" title="View Story List" class="default">content</a> or in your <a href="{% url 'org_detail' pk=request.user.organization.id %}" class="default">organization</a>. Click one of those options to add a comment.</p>
                                {% else %}
                                <p class="f-s-14 subtle text-center italic">It looks like no one has commented on any <a href="{% url 'story_list' %}" title="View Story List" class="default">content</a>, your <a href="{% url 'org_detail' pk=request.user.organization.id %}" class="default">organization</a> or in any <a href="{% url 'network_list' %}" title="View Networks" class="default">networks</a>. Click one of those options to add a comment.</p>
                                {% endif %}
                              {% else %}
                              <p class="f-s-14 subtle text-center italic">It looks like you don't have any content yet. Click here to add a <a href="{% url 'series_new' %}" title="Create New Series" class="default">series</a> or a <a href="{% url 'story_new' %}" title="Create New Story" class="default">story</a>.</p>
                              <p class="f-s-14 subtle text-center italic">Or welcome your team members to the site on the {% if request.user.organization %}<a href="{% url 'org_detail' pk=request.user.organization.id %}" class="default">organization</a>{% else %}organization {% endif %} page.</p>
                              {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <!-- ========================== -->
        <!--        Right Column        -->
        <!-- Running, New, Edit Stories -->
        <!-- ========================== -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="bs-nav-tabs nav-tabs-default">
              <ul class="nav nav-tabs nav-animated-border-from-left m-b-20">
                  <li class="nav-item"> <a ng-href="" class="nav-link active" data-toggle="tab" data-target="#stories-running">Running Today</a> </li>
                  <li class="nav-item"> <a ng-href="" class="nav-link" data-toggle="tab" data-target="#stories-new">New Stories</a> </li>
                  <li class="nav-item"> <a ng-href="" class="nav-link" data-toggle="tab" data-target="#stories-edit">Due for Edit</a> </li>
              </ul>
              <div class="tab-content f-s-12">
                  <div role="tabpanel" class="tab-pane in active p-t-0" id="stories-running">
                    {% if running_today %}
                    <!-- Full table for md and lg displays -->
                    <table class="table table-hover table-striped hidden-sm-down" cellspacing="0" width="100%">
                        {% comment %}
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Platform</th>
                                <th>Credit</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        {% endcomment %}
                        <tfoot class="hidden">
                            <tr>
                              <th>Title</th>
                              <th>Platform</th>
                              <th>Credit</th>
                              <th>Time</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for facet in running_today|slice:":7" %}
                              <tr>
                                  <td>
                                    {% if facet.type == "WebFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#web">
                                    {% elif facet.type == "PrintFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#print">
                                    {% elif facet.type == "AudioFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#audio">
                                    {% elif facet.type == "VideoFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#video">
                                    {% else %}
                                    <a href="#">
                                    {% endif %}{{ facet.title }}</a>
                                  </td>
                                  <td>{{ facet.type }}</td>
                                  <td>{{ facet.credit.all.0.credit_name }}</td>
                                  <td>{{ facet.run_date|date:'g:i a'}}</td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End full table -->
                    <!-- Partial table for xs and sm displays -->
                    <table class="table table-hover table-striped hidden-md-up" cellspacing="0" width="100%">
                        {% comment %}
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Platform</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        {% endcomment %}
                        <tfoot class="hidden">
                            <tr>
                              <th>Title</th>
                              <th>Type</th>
                              <th>Time</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for facet in running_today %}
                              <tr>
                                  <td>
                                    {% if facet.type == "WebFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#web">
                                    {% elif facet.type == "PrintFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#print">
                                    {% elif facet.type == "AudioFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#audio">
                                    {% elif facet.type == "VideoFacet" %}
                                    <a href="{% url 'story_detail' pk=facet.story.id %}#video">
                                    {% else %}
                                    <a href="#">
                                    {% endif %}{{ facet.title }}</a>
                                  </td>
                                  <td>{{ facet.type }}</td>
                                  <td>{{ facet.run_date|date:'g:i a'}}</td>
                              </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                    <!-- End partial table -->
                  <!-- If no running_today   -->
                  {% else %}
                  <p class="f-s-14 subtle m-t-20">
                    It looks like you don't have any content scheduled to be published today.
                  </p>
                  {% endif %}

                  </div>
                  <div role="tabpanel" class="tab-pane p-t-0" id="stories-new">
                    {% if old_stories %}
                    <table class="table table-hover table-striped" cellspacing="0" width="100%">
                        {% comment %}
                        <thead>
                            <tr>
                                <th>Story</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        {% endcomment %}
                        <tfoot class="hidden">
                            <tr>
                              <th>Title</th>
                              <th>Description</th>
                            </tr>
                        </tfoot>
                        <tbody>
                          {% for story in old_stories|slice:":5" %}
                            <tr>
                              <td><a href="{% url 'story_detail' story.id %}">{{ story.name }}</a></td>
                              <td>{{ story.story_description }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'story_list' %}" title="View Story List"><p class="f-w-300 f-s-12 p-l-10">All Stories</p></a>
                    {% else %}
                    <p class="f-s-14 subtle m-t-20">
                      It looks like you don't have any new stories to display.
                      Add a <a href="{% url 'story_new' %}" title="Create New Story" class="default">new story</a>.
                    </p>
                    {% endif %}
                  </div>

                  <!-- Full table for md and lg displays -->
                  <div role="tabpanel" class="tab-pane p-t-0" id="stories-edit">
                    {% if edit_today %}
                    <table class="table table-hover table-striped hidden-sm-down" cellspacing="0" width="100%">
                        {% comment %}
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Platform</th>
                                <th>Credit</th>
                                <th>Due</th>
                            </tr>
                        </thead>
                        {% endcomment %}
                        <tfoot class="hidden">
                            <tr>
                              <th>Title</th>
                              <th>Type</th>
                              <th>Credit</th>
                              <th>Due</th>
                            </tr>
                        </tfoot>
                        <tbody>
                          {% for facet in edit_today|slice:":7" %}
                            <tr>
                                <td>
                                  {% if facet.type == "WebFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#web">
                                  {% elif facet.type == "PrintFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#print">
                                  {% elif facet.type == "AudioFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#audio">
                                  {% elif facet.type == "VideoFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#video">
                                  {% else %}
                                  <a href="#">
                                  {% endif %}{{ facet.title }}</a>
                                </td>
                                <td>{{ facet.type }}</td>
                                <td>{{ facet.credit.all.0.credit_name }}</td>
                                <td>{{ facet.due_edit|date:'g:i a'}}</td>
                            </tr>
                          {% endfor %}
                    </table>
                  <!-- End full table -->
                  <!-- Partial table for xs and sm displays -->
                    <table class="table table-hover table-striped hidden-md-up" cellspacing="0" width="100%">
                        {% comment %}
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Platform</th>
                                <th>Due</th>
                            </tr>
                        </thead>
                        {% endcomment %}
                        <tfoot class="hidden">
                            <tr>
                              <th>Title</th>
                              <th>Type</th>
                              <th>Due</th>
                            </tr>
                        </tfoot>
                        <tbody>
                          {% for facet in edit_today|slice:":7" %}
                            <tr>
                                <td>
                                  {% if facet.type == "WebFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#web">
                                  {% elif facet.type == "PrintFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#print">
                                  {% elif facet.type == "AudioFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#audio">
                                  {% elif facet.type == "VideoFacet" %}
                                  <a href="{% url 'story_detail' pk=facet.story.id %}#video">
                                  {% else %}
                                  <a href="#">
                                  {% endif %}{{ facet.title }}</a>
                                </td>
                                <td>{{ facet.type }}</td>
                                <td>{{ facet.due_edit|date:'g:i a'}}</td>
                            </tr>
                          {% endfor %}
                    </table>
                    {% else %}
                      <p class="f-s-14 subtle m-t-20">It looks like you don't have any stories due for edit today.</p>
                    {% endif %}
                  </div>
                  <!-- End partial table -->
              </div>
          </div>
        </div> <!-- End of Right Column -->

    </div> <!-- End of Row One -->

    <!-- Row Two -->
    {% if networks %}
    <div class="row m-b-40 f-s-12">
        <h4 class="m-l-10 m-b-20"> Partnerships</h4>
        <!-- ========================== -->
        <!--         Left Column        -->
        <!-- New Network Stories Feed   -->
        <!-- ========================== -->
        <div class="col-xs-12 col-lg-6">
          <h5 class="text-center">New Network Stories</h5>
          {% if shared_networkstories %}
            <ul class="list-group m-10">
              {% for story in shared_networkstories|slice:":5" %}
                <li class="list-group-item"> <span class="text-xs pull-right">{{story.organization.name}}</span> {{story.name}} {% if story.ready_to_share %}<button type="button" class="clear clear-button m-l-10 subtle" data-toggle="modal" data-target="#previewModal" data-modaltitle="{{ facet.title }}" data-modalcontent="{{ facet.wf_content }}" data-storyid="{{ facet.story.id }}"><i class="fa fa-eye"></i></button>{% endif %}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="f-s-14 subtle m-t-20 text-center">There are currently no new shared stories available from your partners.</p>
          {% endif %}
        </div>
        <!-- ========================== -->
        <!--        Right Column        -->
        <!--  Content Picked Up Feed    -->
        <!-- ========================== -->
        <div class="col-xs-12 col-lg-6">
          <h5 class="text-center">{{ request.user.organization }} Stories Picked up by Partners</h5>
          {% if copied_shared_stories %}
              <ul class="list-group">
                {% for story in copied_shared_stories|slice:":5" %}
                  <li class="list-group-item"> <span class="text-xs pull-right">{{story.partner.name}} | {{ story.copy_date|date:'g:i a' }}</span> {{story.original_story.name}}</li>
                {% endfor %}
              </ul>
          {% else %}
            <p class="f-s-14 subtle text-center m-t-20">There are currently no stories recently used by your partners.</p>
          {% endif %}
        </div>
    </div><!-- End of Row Two Partnerships-->

    {% else %}
    <div class="row m-b-40">
        <h4 class="m-l-10 m-b-20"> Partnerships</h4>
        <!-- ========================== -->
        <!--         Left Column        -->
        <!-- New Network Stories Feed   -->
        <!-- ========================== -->
        <div class="col-xs-12 col-lg-6">
              <h5 class="text-center">New Network Stories</h5>
              {% if shared_networkstories %}
                <ul class="list-group m-10">

                </ul>
              {% else %}
                <p class="f-s-14 subtle m-t-20 text-center">Once you create or join a network, new stories from your partners will appear here.</p>
                <p class="f-s-16 subtle text-center italic">Click here to create a <a href="{% url 'network_new' %}" title="Create New Network" class="default">network</a>.</p>
              {% endif %}
        </div>
        <!-- ========================== -->
        <!--        Right Column        -->
        <!--  Content Picked Up Feed    -->
        <!-- ========================== -->
        <div class="col-xs-12 col-lg-6">
          <h5 class="text-center">Criterion News Stories Picked up by Partners</h5>
          {% if copied_shared_stories %}
              <ul class="list-group">
                {% for story in copied_shared_stories|slice:":5" %}
                  <li class="list-group-item"> <span class="text-xs pull-right">{{story.partner.name}} | {{ story.copy_date|date:'g:i a' }}</span> {{story.original_story.name}}</li>
                {% endfor %}
              </ul>
          {% else %}
            <p class="f-s-14 subtle text-center m-t-20">Once you join or create a network, you will be able to see which of your shared content is used by your partners.</p>
            <p class="f-s-16 subtle text-center italic">Click here to create a <a href="{% url 'network_new' %}" title="Create New Network" class="default">network</a>.</p>
          {% endif %}
        </div>
    </div><!-- End of Row Two No Partnerships -->

    {% endif %}

    {% endblock content %}

    <!-- ================================================= -->
                      <!-- MODALS -->
    <!-- ================================================= -->

    {% block modals %}

    {% include "editorial/networkstorypreview.html" %}

    {% endblock modals %}
