{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn">TEST</li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12">

    {% for person in organization.user_set.all %}
      <div class="row m-b-20">
        <div class="col-xs-1">
          {% if person.display_photo %}
          <img class="media-object img-rounded" width="64" src="{{ person.display_photo.url }}" alt="user">
          {% else %}
          {% endif %}
        </div>
        <div class="col-xs-11" id="overlay_btn_parent">
            <button id="trigger-overlay" type="button" class="btn btn-sm btn-success f-s-12" data-btn-overlay='{
              "creditname": "{{ person.credit_name }}",
              "photo": "{{ person.display_photo.url }}",
              "phone": "{{ person.credit_name }}",
              "title": "{{ person.title }}",
              "bio": "{{ person.bio }}",
              "location": "{{ person.location }}",
              "expertise": "{{ person.expertise }}",
              "facebook": "{{ person.facebook }}",
              "twitter": "{{ person.twitter }}",
              "github": "{{ person.github }}",
              "linkedin": "{{ person.linkedin }}",
              "instagram": "{{ person.instagram }}",
              "snapchat": "{{ person.snapchat }}",
              "vine": "{{ person.vine }}",
            }'>
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              Overlay
            </button>
        </div>
      </div>
    {% endfor %}


    <section>
			<p><button id="trigger-overlay" type="button" class="btn btn-lg btn-default">Open Overlay</button></p>
		</section>





  </div>
</div>

<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close">Close</button>

			<div class="row">
				<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
					<h1 class="center">SOMETHING ELSE</h1>
				</div>
			</div>
</div>



{% endblock %}


{% block modals %}

{% endblock %}
