{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<div class="row particles" id="user-hero">
  <div class="upper-content">
    <div class="col-lg-12 content-upper-75">
      <h1 class="media-heading text-light center thin uppercase spread-025">Test</h1>
    </div>
  </div>
</div>


<div class="row">
    <form action="{% url 'test' %}" method="POST" class="post-form" name="addwebimage">
      {% csrf_token %}
      <div class="image-library">
      {% for image in images %}
        <div class="col-md-1">
          <label>
            <img class="img-responsive img-thumbnail" src="{{ image.display_photo.url }}" alt="{{ image.asset_description }}">
            <input type="checkbox" name="images" value="{{ image.id }}">
          </label>
        </div>
      {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary" name="addwebimage">Add Images</button>
    </form>
</div>

{% endblock %}
