{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'team_list' %}"> Team </a></li>
        <li class="fadeIn"><a href="{% url 'user_new' %}" title="You are Here"> New User </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<div class="row m-b-40">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

    <h4 class="m-b-40">New User</h4>
    <form method="POST" class="post-form">{% csrf_token %}

        <!-- User Email -->
        <fieldset class="form-group m-b-20">
          <div class="col-xs-2">
            <label>{{ form.email.label_tag }}</label>
          </div>
          <div class="col-xs-10">
            {{ form.email }}
            {% if form.email.errors %}
            <small class="text-muted">{{ form.email.errors }}</small>
            {% endif %}
          </div>
        </fieldset>
        <!-- User Password -->
        <fieldset class="form-group m-b-20">
          <div class="col-xs-2">
            <label>{{ form.password.label_tag }}</label>
          </div>
          <div class="col-xs-10">
            {{ form.password }}
            {% if form.password.errors %}
            <small class="text-muted">{{ form.password.errors }}</small>
            {% endif %}
          </div>
        </fieldset>
        <!-- User Username -->
        <fieldset class="form-group m-b-20">
          <div class="col-xs-2">
            <label>{{ form.username.label_tag }}</label>
          </div>
          <div class="col-xs-10">
            {{ form.username }}
            {% if form.username.errors %}
            <small class="text-muted">{{ form.username.errors }}</small>
            {% endif %}
          </div>
        </fieldset>
        <!-- User Superuser Status -->
        <fieldset class="form-group m-b-20">
          <span class="col-xs-2">
            <label class="capitalize c-input c-checkbox">{{ form.is_superuser.label_tag }}</label>
          </span>
          <span class="col-xs-10">
            {{ form.is_superuser }}
            <span class="c-indicator c-indicator-default"></span>
            {% if form.is_superuser.errors %}
            <small class="text-muted">{{ form.is_superuser.errors }}</small>
            {% endif %}
          </span>
        </fieldset>
        <!-- User Staff Status -->
        <fieldset class="form-group m-b-20">
          <span class="col-xs-2">
            <label class="capitalize c-input c-checkbox">{{ form.is_staff.label_tag }}</label>
          </span>
          <span class="col-xs-10">
            {{ form.is_staff }}
            <span class="c-indicator c-indicator-default"></span>
            {% if form.is_staff.errors %}
            <small class="text-muted">{{ form.is_staff.errors }}</small>
            {% endif %}
          </span>
        </fieldset>
        <!-- User Type -->
        <fieldset class="form-group m-b-20 m-l-20" id="fieldset-story-series">
          <div class="col-xs-2">
            <label class="capitalize pull-left">{{ form.user_type.label_tag }}</label>
          </div>
          <div class="col-xs-10">
            {{ form.user_type }}
            {% if form.user_type.errors %}
              <small class="text-muted">{{ form.user_type.errors }}</small>
            {% endif %}
          </div>
        </fieldset>

        <a href="{% url 'user_new' %}"><button type="submit" class="save btn btn-default pull-right">Cancel</button></a>
        <button type="submit" class="save btn btn-default pull-right m-r-10">Save</button>
    </form>

  </div>
</div>

{% endblock %}
