{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
<div>
    <ol class="breadcrumb icon-angle-right icon-th">
        <li class="fadeIn"><a href="{% url 'dashboard' %}" title="Go to Dashboard"> Dashboard </a></li>
        <li class="fadeIn"><a href="{% url 'team_list' %}" title="View Team"> Team </a></li>
        <li class="fadeIn"><a href="{% url 'user_detail' user.id %}" title="View {{ user.credit_name}} Profile"> {{ user.credit_name}} </a></li>
        <li class="fadeIn"><a href="{% url 'user_edit' user.id %}" title="You are here"> Edit {{ user.credit_name}} </a></li>
    </ol>
</div>
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}
<!-- Row One -->
<div class="row m-b-40">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        {% if user.display_photo %}
        <a class="media-left media-middle"><img class="centered h-200 w-200 m-r-40" src="{{ user.display_photo.url }}" id="user-profile-photo" alt="profile image"></a>
        {% else %}
        <a class="media-left media-middle"><img class="centered h-200 w-200 m-r-40" src="{% static 'images/nophoto.jpg' %}" id="user-profile-photo" alt="profile image"></a>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4 class="m-t-5 m-b-10"><a href="{% url 'user_detail' user.id %}">{{ user.credit_name }}</a></h4>
        <p class="f-s-300"> <span class="color-white m-r-20">{{ user.title }}</span> | <span class="color-white m-l-20 m-r-20">{{user.organization.name}}</span> | <i class="fa fa-map-marker color-white m-l-20"></i> <span class="color-white m-r-20">{{ user.location }}</span></p>
        <p class="f-s-300"> <i class="fa fa-phone color-white"></i> <span class="color-white m-r-20">{{ user.phone }}</span> | <i class="fa fa-envelope-o color-white m-l-20"></i> <span class="color-white m-r-20">{{ user.email }}</span> </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <h5> Bio</h5>
      <p>{{user.bio}}</p>
      <h5> Expertise</h5>
      <p>{% for skill in user.expertise %}{{skill}}, {% endfor %}</p>
    </div>
</div>

{% if request.user.id == user.id or request.user.id == user.organization.owner.id %}

<div class="row m-b-20">
  <div class="col-xs-12">
    <p class="mb-4x f-r-8 subtle">Edit {% if request.user.id == user.id %} your {% else %} {{ user.credit_name }}'s {% endif %}profile and click Save to keep changes.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4 class="m-b-20">Details</h4>
  </div>
</div>

<form class="form-basic post-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <!-- Row One -->
  <div class="row">
      <!-- Left Column -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

        <div class="form-row">
          <!-- User First Name -->
          <div class="form-group col-xs-12 col-md-6">
            <label>{{ form.first_name.label_tag }}</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
            <small class="text-muted">{{ form.first_name.errors }}</small>
            {% endif %}
          </div>
          <!-- User Last Name -->
          <div class="form-group col-xs-12 col-md-6">
          <label>{{ form.last_name.label_tag }}</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
            <small class="text-muted">{{ form.last_name.errors }}</small>
            {% endif %}
          </div>
        </div>

        <div class="form-row">
          <!-- Credit Name -->
          <div class="form-group col-xs-12 col-md-6">
          <label>Byline: </label>
            {{ form.credit_name }}
            {% if form.credit_name.errors %}
            <small class="text-muted">{{ form.credit_name.errors }}</small>
            {% endif %}
          </div>
          <!-- User Title -->
          <div class="form-group col-xs-12 col-md-6">
            <label>Byline: </label>
            {{ form.credit_name }}
            {% if form.credit_name.errors %}
            <small class="text-muted">{{ form.credit_name.errors }}</small>
            {% endif %}
          </div>
        </div>

        <div class="form-row">
          <!-- User Email -->
          <div class="form-group col-xs-12 col-md-6">
            <label>Email: </label>
            {{ form.email }}
            {% if form.email.errors %}
            <small class="text-muted">{{ form.email.errors }}</small>
            {% endif %}
          </div>
          <!-- User Phone -->
          <div class="form-group col-xs-12 col-md-6">
            <label>{{ form.phone.label_tag }}</label>
            {{ form.phone }}
            {% if form.phone.errors %}
            <small class="text-muted">{{ form.phone.errors }}</small>
            {% endif %}
          </div>
        </div>

        <div class="form-row">
          <!-- User Location -->
          <div class="form-group col-xs-12 col-md-6">
          <label>{{ form.location.label_tag }}</label>
            {{ form.location }}
            {% if form.location.errors %}
            <small class="text-muted">{{ form.location.errors }}</small>
            {% endif %}
          </div>
          <!-- User Website -->
          <div class="form-group col-xs-12 col-md-6">
            <label>{{ form.website.label_tag }}</label>
            {{ form.website }}
            {% if form.website.errors %}
            <small class="text-muted">{{ form.website.errors }}</small>
            {% endif %}
          </div>
        </div>


      </div>
      <!-- Right Column -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!-- User Bio -->
        <fieldset class="form-group m-b-20">
          <label>{{ form.bio.label_tag }}</label>
          {{ form.bio }}
          {% if form.bio.errors %}
          <small class="text-muted">{{ form.bio.errors }}</small>
          {% endif %}
        </fieldset>
        <!-- User Expertise -->
        <fieldset class="form-group m-b-20">
            <label>{{ form.expertise.label_tag }}</label>
            {{ form.expertise }}
            {% if form.bio.errors %}
            <small class="text-muted">{{ form.expertise.errors }}</small>
            {% endif %}
        </fieldset>

      </div> <!-- End of Right Column -->
  </div><!-- End of Row -->
  <!-- Row Two -->
  <div class="row m-t-20">
    <!-- Left Column -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <!-- User Profile Photo -->
      <div class="form-group custom-form m-t-20">
        <a href="#" data-toggle="tooltip" title="{{ form.photo.help_text }}"><span class="field-label">{{ form.photo.label_tag }}</span></a>
        {{ form.photo }}
        {% if form.photo.errors %}
          <div class="alert alert-warning" role="alert">
          {{ form.photo.errors }}
          </div>
        {% endif %}
      </div>
    </div>
    <!-- Middle Column -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <!-- Is User Public? -->
      {% if request.user.user_type == "Admin" or request.user.user_type == "Editor" %}
        <p>Would you like to be listed publicly and viewable to freelance contractors?</p>
        <fieldset class="form-group m-b-20">
          <div class="col-xs-2">
            <label>{{ form.public.label_tag }}</label>
          </div>
          <div class="col-xs-10">
            {{ form.public }}
            {% if form.public.errors %}
            <small class="text-muted">{{ form.public.errors }}</small>
            {% endif %}
          </div>
        </fieldset>
      {% endif %}
    </div>
    <!-- Right Column -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <a href="{% url 'user_detail' user.id %}"><button type="submit" class="btn btn-danger-100 pull-right m-r-10">Cancel</button></a>
      <button id="edit-button" class="btn btn-default pull-right m-r-10" type="submit">{% trans "Save" %}</button>
    </div>
  </div>
</form>


{% comment %}
<div class="row">
  <div class="col-xs-12">
    <h4 class="m-b-20">Profiles</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

  </div>
</div>
{% endcomment %}


{% else %}
<p>You are not authorized to edit this page.</p>
{% endif %}
{% endblock %}
