{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}
{% if request.user.id == user.id or request.user.id == user.organization.owner.id %}

<!-- Header for lg display -->
<div class="row particles hidden-xs hidden-sm hidden-md visible-lg" id="user-hero">
  <div class="upper-content">
    <div class="col-sm-1 col-md-2 col-lg-2">
      {% if user.display_photo %}
      <img alt="cover" class="profile-page-pic no-padding border-white content-upper-75" src="{{ user.display_photo.url }}">
      {% else %}
      <!-- <img alt="cover" class="profile-page-pic no-padding border-white content-upper-75" src="nophoto.jpg"> -->
      {% endif %}
    </div>
    <div class="col-lg-10 content-upper-75">
      <h1 class="media-heading text-light thin uppercase spread-025">{{ user.credit_name }}</h1>
      <p> &nbsp;</p>
      <p class="mb-4x tiny-text">Edit {% if request.user.id == user.id %} your {% else %} {{ user.credit_name }}'s {% endif %}profile and click Save to keep changes.</p>
      <p> &nbsp;</p>
      <p> &nbsp;</p>
    </div>
  </div>
</div>
<!-- End header for lg display -->

<!-- Header for xs/xs/md display -->
<div class="visible-xs visible-sm visible-md hidden-lg">
  <div class="row particles " id="user-hero">
    <div class="upper-content">
      <div class="col-lg-12 content-upper-75">
        <h2 class="media-heading text-light thin uppercase spread-025 center">{{ user.credit_name }}</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0">
      {% if user.display_photo %}
      <img alt="cover" class="no-padding border-white img-thumbnail img-responsive content-lower-25" src="{{ user.display_photo.url }}">
      {% else %}
      <!-- <img alt="cover" class="profile-page-pic no-padding border-white content-upper-75" src="nophoto.jpg"> -->
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 content-lower-25">
      <p class="mb-4x tiny-text">Edit {% if request.user.id == user.id %} your {% else %} {{ user.credit_name }}'s {% endif %}profile and click Save to keep changes.</p>
    </div>
  </div>
</div>
<!-- End header for xs/xs/md display -->

<form class="post-form" method="POST" enctype="multipart/form-data">{% csrf_token %}

<div class="row profile-row">
  <!-- Left Column -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.first_name.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.first_name }}
        {% if userform.first_name.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.first_name.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.last_name.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.last_name }}
        {% if userform.last_name.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.last_name.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.credit_name.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.credit_name }}
        {% if userform.credit_name.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.credit_name.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.username.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.username }}
        {% if userform.username.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.username.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.title.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.title }}
        {% if userform.title.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.title.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.location.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.location }}
        {% if userform.location.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.location.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.email.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.email }}
        {% if userform.email.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.email.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.phone.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.phone }}
        {% if userform.phone.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.phone.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.website.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.website }}
        {% if userform.website.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.website.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.github.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.github }}
        {% if userform.github.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.github.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.facebook.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.facebook }}
        {% if userform.facebook.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.facebook.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.twitter.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.twitter }}
        {% if userform.twitter.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.twitter.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.linkedin.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.linkedin }}
        {% if userform.linkedin.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.linkedin.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.instagram.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.instagram }}
        {% if userform.instagram.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.instagram.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.snapchat.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.snapchat }}
        {% if userform.snapchat.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.snapchat.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="row profile-row">
      <div class="form-group custom-form">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.vine.label_tag }}</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ userform.vine }}
        {% if userform.vine.errors %}
          <div class="alert alert-warning" role="alert">
          {{ userform.vine.errors }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

</div>
  <!-- Right Column -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <div class="form-group custom-form">
      <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.bio.label_tag }}</span></a>
      {{ userform.bio }}
      {% if userform.bio.errors %}
        <div class="alert alert-warning" role="alert">
        {{ userform.bio.errors }}
        </div>
      {% endif %}
    </div>

    <div class="form-group custom-form">
      <a href="#" data-toggle="tooltip" title="{{ storyform.name.help_text }}"><span class="field-label">{{ userform.expertise.label_tag }}</span></a>
      {{ userform.expertise }}
      {% if userform.expertise.errors %}
        <div class="alert alert-warning" role="alert">
        {{ userform.expertise.errors }}
        </div>
      {% endif %}
    </div>
    <div class="form-group custom-form">
      <a href="#" data-toggle="tooltip" title="{{ userform.photo.help_text }}"><span class="field-label">{{ userform.photo.label_tag }}</span></a>
      {{ userform.photo }}
      {% if userform.photo.errors %}
        <div class="alert alert-warning" role="alert">
        {{ userform.photo.errors }}
        </div>
      {% endif %}
    </div>

    <!-- User status -->

    {% if request.user.id == user.organization.owner.id %}

    <div class="form-group custom-form">
      <a href="#" data-toggle="tooltip" title="{{ userform.is_superuser.help_text }}"><span class="field-label">{{ userform.is_superuser.label_tag }}</span></a>
      {{ userform.is_superuser }}
      {% if userform.is_superuser.errors %}
        <div class="alert alert-warning" role="alert">
        {{ userform.is_superuser.errors }}
        </div>
      {% endif %}
    </div>

    <div class="form-group custom-form">
      <a href="#" data-toggle="tooltip" title="{{ userform.is_staff.help_text }}"><span class="field-label">{{ userform.is_staff.label_tag }}</span></a>
      {{ userform.is_staff }}
      {% if userform.is_staff.errors %}
        <div class="alert alert-warning" role="alert">
        {{ userform.is_staff.errors }}
        </div>
      {% endif %}
    </div>

    <div class="form-group custom-form">
      <a href="#" data-toggle="tooltip" title="{{ userform.user_type.help_text }}"><span class="field-label">{{ userform.user_type.label_tag }}</span></a>
      {{ userform.user_type }}
      {% if userform.user_type.errors %}
        <div class="alert alert-warning" role="alert">
        {{ userform.user_type.errors }}
        </div>
      {% endif %}
    </div>

    {% endif %}


    <button id="edit-button" class="btn btn-primary" type="submit">{% trans "Save" %}</button>
  </div>
</form>

{% else %}
<p>You are not authorized to edit this page.</p>
{% endif %}
{% endblock %}
