{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

  <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="forgot-password-page text-center animated fadeIn delay-1000">
                    <h1> {% trans "Password Reset" %} </h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <h4> Please enter your email address to receive instructions on how to reset your password </h4>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">


                            <form method="POST" action="./" class="password_reset">

                                <div class="row m-b-40">
                                  {% csrf_token %}
                                  {% bootstrap_form form %}
                                </div>


                                <div class="row buttons">
                                    <div class="col-xs-12"> <button type="submit" class="btn btn-lg btn-danger btn-block no-border btn-register">Reset password</button> </div>
                                </div>
                            </form>


                            <p class="m-b-20">Already have an account? <a class="link" href="/accounts/login/">Click here to login</a> </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $("#id_email").focus();
    </script>
{% endblock javascript %}
