{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Signup" %}{% endblock title %}

<!-------------------------------------------->
<!--      BREADCRUMB NAVIGATION             -->
<!-------------------------------------------->

{% block breadcrumb %}
{% endblock breadcrumb %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
              <div class="create-account-page text-center animated fadeIn delay-2000">
                  <h1> {% trans "Sign Up" %} </h1>
                  <h4> Please enter your email address and password to create your account </h4>
                  <div class="row">
                      <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'account_selection' %}" />
                            <br>
                            <p class="text-center">By clicking on create account, you agree to our terms of service and that you have read our policies.</p>
                            <div class="row buttons">
                              <div class="col-xs-12">
                                  <button type="submit" class="btn btn-lg btn-info btn-block no-border">{% trans "Sign Up" %} </button></div>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>

  </div>
</div>


{% endblock content %}
